@import url('base.css');
@import url('grid.css');
@import url('icons.css');
@import url('audio.css');

/*----------------------------------------------------
                 Revusion - CSS File
------------------------------------------------------*/
body {
background:#f2f4f8;
font:14px "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height:24px;
color:#555;
margin:0;
padding:0;
}

.wrapper100 { width:100%;}

#content-wrapper {
width:1126px;
background:#fff;
-webkit-box-shadow: inset 0px -3px 0px #ebebeb; 
-moz-box-shadow: inset 0px -3px 0px #ebebeb;
 box-shadow: inset 0px -3px 0px #ebebeb;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
margin:0 auto;
padding:25px 0px;
position:relative;
z-index:0;
clear:both;	
}

#header-wrapper {
width:1126px;
background:#fff;
-webkit-box-shadow: inset 0px -3px 0px #ebebeb; 
-moz-box-shadow: inset 0px -3px 0px #ebebeb;
 box-shadow: inset 0px -3px 0px #ebebeb;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
margin:0 auto;
padding:10px 0 0px 0;
position:relative;
z-index:1000;
clear:both; 	
}


.grey-column {
width:100%;
margin:20px 0px 45px 0px;
padding:30px 80px 25px 80px;
background:#f6f6f6;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
-webkit-box-shadow: inset 0px 3px 0px 0px #ebebeb, inset 0px -3px 0px 0px #ebebeb; 
-moz-box-shadow: inset 0px 3px 0px 0px #ebebeb, inset 0px -3px 0px 0px #ebebeb ;
box-shadow: inset 0px 3px 0px 0px #ebebeb, inset 0px -3px 0px 0px #ebebeb;	
}

.grey-column-bottom {
width:100%;
margin:30px 0px -45px 0px;
padding:30px 80px 25px 80px;
background:#f6f6f6;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
-webkit-box-shadow: inset 0px 3px 0px 0px #ebebeb, inset 0px -3px 0px 0px #ebebeb; 
-moz-box-shadow: inset 0px 3px 0px 0px #ebebeb, inset 0px -3px 0px 0px #ebebeb ;
box-shadow: inset 0px 3px 0px 0px #ebebeb, inset 0px -3px 0px 0px #ebebeb;	
}

.grey-column-bg {
width:100%;
color:#fff !important;
text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
margin:30px 0px 50px 0px;
padding:30px 80px 25px 80px;
background:#f6f6f6 url(../images/sample_images/img_sample3.jpg) top center no-repeat;
}

.grey-column-bg h1, .grey-column-bg h2, .grey-column-bg h3, .grey-column-bg h4, .grey-column-bg h5, .grey-column-bg h6 {
font-family:'Raleway', Helvetica, Arial;
text-transform:uppercase;
color:#fff !important;
text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);	
}

.grey-column-bg p.lead {
color:#fff !important;
text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);	
}

#categories .column {margin-bottom:20px;}
#categories i { font-size:60px; line-height:69px; margin-right:17px; margin-bottom:20px; float:left;}

.map-column {
width:100%;
margin:30px 0px -45px 0px;
padding-bottom:3px;
background:#f6f6f6;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
-webkit-box-shadow: inset 0px -3px 0px 0px #ebebeb; 
-moz-box-shadow: inset 0px -3px 0px 0px #ebebeb ;
box-shadow: inset 0px -3px 0px 0px #ebebeb;	
}

/***** Header Styling *****/
header {
width:100%;
margin:0 auto;
}


#top-info {
padding-top:1px;
height:32px;
font-size:11px;
color:#999;
background-color:#474747;}

#top-info .column { margin-bottom:0;}


.phonemail-area {float:left; margin-left:100px;}
.phonemail-area i {margin-right:7px; top:2px; position:relative;}
.phonemail-area span {margin-right:26px;}
.phonemail-area a { color:#999;}
.phonemail-area a:hover { text-decoration:underline;}

.flag-area {float:right; width:11%\0/;}
.flag-area img {margin-left:7px; top:4px; position:relative;}
.flag-area span {margin-right:0px; top:2px; position:relative;}

/*
#mainwrapper-left {
width:20%;
float:left;	
}

#mainwrapper-right {
width:80%;
float:left;	
}
*/

#top-socials {
width:100%;
margin-top:-11px;
}

ul.socials-list  {
margin:0;
float:right; line-height:0;
}

.socials-list li{
font-size:15px;
margin-right:2px;
display:inline-block;
}

.socials-list li a, .socials-list li a:visited {
color:#4badef;
}

img#logo {
float:left;
height:170px; margin:-61px 0 -70px -120px;}


#login { float:right;}
	#login a.button { float:right;}

#logo-footer img {}

/***** Mainmenu Styling *****/

#menu_container { border-bottom: 1px solid #0773BC; background:#e5e5e5;}

.tinynav {display:none;}

#mainmenu-wrapper {
background-color:#fff;

}

#mainmenu {
margin:0px;
float:right;
}

#mainmenu ul {
font-family:'Raleway', Helvetica, Arial;
text-transform:uppercase;
font-weight:300;
font-size:16px;
float:left; margin-bottom:0;
}

#mainmenu ul li {
color:#6d6d6d;
list-style:none;
line-height:22px;
position:relative;
margin:0px 0px 0px 0px;
padding:9px 17px 15px 17px;
float:left;
border-left: 1px solid #cdcdcd
}

#mainmenu ul li a, #mainmenu ul li a:visited {
color:#000;
text-decoration:none;
}

#mainmenu ul li li a {
display:block;
float:left;
}

#mainmenu ul li a:hover, #mainmenu ul li:hover a{
text-decoration:none;
color:#FFF;
}

#mainmenu ul li:hover, #mainmenu ul li.selected {
background:#0773BC; cursor:pointer;
}

#mainmenu ul li li:hover {
background:none;
border-bottom:1px solid #ddd;	
}


#mainmenu ul li.selected a {
text-decoration:none;
color:#fff; font-weight:bold !important;
}
#mainmenu ul li.selected a {
font-weight:bold
}
#mainmenu ul li.selected li a {
text-decoration:none;
color:#fff; font-weight:normal !important;
}
#mainmenu ul li li a:hover {
text-decoration:none;
color:#fff; font-weight:bold  !important;
}

#mainmenu ul li a:hover {
text-decoration::underline;
font-weight:normal;
color:#fff; 
}

#mainmenu ul li.selected ul li a, #mainmenu ul li ul li a{
text-decoration:none;
color:#000 !important; text-transform:none;
}

#mainmenu ul li.selected ul li a:hover{
text-decoration:none;
color:#000;	
}

#menu li li {
border-bottom:1px solid #ddd;
position:relative;
z-index:100;
line-height:20px!important;
border-left:none!important;
margin:0!important;
padding:0!important;
}

#menu ul {
display:none;
position:absolute;
padding-left:18px;
top:46px;
left:-20px;
width:320px;
background-color:#f2f2f2;
-webkit-box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 6px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 6px rgba(50, 50, 50, 0.5);
z-index:990;
}

#menu ul ul, #menu ul ul ul {
display:none;
position:absolute;
top:0px;
left:120px;
width:170px;
padding-top:7px;
z-index:999;
}

#menu li ul a,#menu li ul a:visited {
width:280px;
color:#000;
font-family:'Raleway', Helvetica, Arial;
font-weight:500;
font-size:16px;
text-transform:none;
line-height:24px;
margin:5px 0;
z-index:190;
text-decoration:none;
padding:9px 0 10px 0;
}

#menu li ul a:hover {
border:none;
}

#menu ul ul li:first-child a {
margin-top:-7px;
}

/***** Page Title and Breadcrumb Stylesheet *****/
#pagetitle-container {
width:1126px;
margin:0 auto;
background:#0773BC;
padding-top:20px;
}

#pagetitle-container h1 {
font-size:35px;
line-height:30px;
font-family:'Raleway', Helvetica, Arial;
font-weight:300;
text-transform:uppercase;
color:#fff;
position:relative;
margin:5px 0px 0px 0px;
bottom:0px;
}

_:-o-prefocus, #pagetitle-container h1 {font-size:57px;}

.pagetitle {
text-align:right; float:right; margin:0;
}

.breadcrumb {

position:relative;
float:left;
margin:0;
}

.breadcrumb ul {
background-color:#fff;
padding:2px 10px 6px;
float:left;	
margin:0;
}

.breadcrumb ul li {
font-size: 10.5px;
font-family: "Segoe UI", "helvetica neue", arial, sans-serif;
font-weight: normal;
color:#888;
text-transform:uppercase;
padding:0px 0px 0px 4px;
display:inline-block;
}

.breadcrumb ul li:after {
font-family:'Raleway', Helvetica, Arial;
font-size:9px;
color:#bbb;
content:"\3E";
margin-left:8px;
top:-1px;
position:relative;
}

.breadcrumb ul li:last-child:after {
content:"";
display:inline-block;
}

.breadcrumb ul li.current-page a, .breadcrumb ul li.current-page a:visited {
color: #0773BC;
text-decoration:none;
}

.breadcrumb ul li a, .breadcrumb ul li a:visited {
color: #666666;
text-decoration:none;	
}

/***** Slideshow Stylesheet *****/
#slideshow-container {
background-color:#59b8f7;
width:1126px;
height:450px !important;
position:relative;
margin:0px auto;
padding:0px;
clear:both;
}

.banner{
width:1126px;
height:450px;
position:relative;
overflow:hidden;
}

.banner-pf{
width:100%;
height:450px;
background:#dcdcdc;
margin:10px 0px 20px 0px;
position:relative;
overflow:hidden;
}

.banner-blog{
width:100%;
height:314px;
background:#dcdcdc;
margin:10px 0px 18px 0px;
position:relative;
overflow:hidden;
}


/***** Extra Stylesheet *****/
#masorny {clear:both;}

.masonry,
.masonry .masonry-brick {
-webkit-transition-duration: 0.7s;
-moz-transition-duration: 0.7s;
-ms-transition-duration: 0.7s;
-o-transition-duration: 0.7s;
transition-duration: 0.7s;
}

.masonry {
-webkit-transition-property: width, height;
-moz-transition-property: width, height;
-ms-transition-property: width, height;
-o-transition-property: width, height;
transition-property: width, height;
}

.masonry .masonry-brick {
-webkit-transition-property: left, right, top;
-moz-transition-property: left, right, top;
-ms-transition-property: left, right, top;
-o-transition-property: left, right, top;
transition-property: left, right, top;
}

.circle-border {
width:140px;
height:140px;
background:#f6f6f6;
padding:35px;
border-radius:100px;
box-shadow:0px 2px 1px #d9d9d9;
margin:auto;
margin-bottom:18px;
color:#686868;
transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
}

.circle-border.small {
width:60px;
height:60px;
margin:2px 15px 0 0;
padding:16px;	
}

.circle-border.small i {
font-size:28px;
line-height:26px;	
}

.circle-border p {
font-family:'Roboto', Helvetica, Arial;
font-weight:300;
font-size:10px;
text-transform:uppercase;
line-height:14px;
}

.circle-border i {
font-size:42px;
line-height:46px;
padding-bottom:10px;
display:inline-block;
}
.circle-border:hover {
background:#2b8cce;
color:#fff;
}

.flatborder {
border-right:1px solid #ddd;
padding:18px 16px 18px 0px;
margin-right:22px;
top:8px;
position:relative;
float:left;	
}

.flatborder-alt {
padding:0;
margin-right:10px;
top:5px;
position:relative;
float:left;	
}

.three .flatborder-bottom {
width:55%;
border-bottom:1px solid #ddd;
margin:0px auto 20px auto;
padding:12px 0px 18px 0px;
}

.four .flatborder-bottom {
width:40%;
border-bottom:1px solid #ddd;
margin:0px auto 20px auto;
padding:12px 0px 18px 0px;
}

.flatborder-bottom i {
display:block;
text-align:center;
margin:0 auto;
float:none;
}

ul.client-box {
margin:10px -9px 25px -23px !important;
float:left; width:100%;
}

ul.client-box li {
width:18.293%;
width:173px\0/;
height:30px;
text-align:center;
margin:0px 8px 16px 8px;
padding:20px 0px 68px 0px;	
display:inline-block;
background-color:#fbfbfb !important;
border:1px solid #e1e1e1;
transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
float:left;
}

ul.client-box li img {
width:130px;
height:48px;
}

ul.client-box li:hover {
-webkit-box-shadow: 0 0px 12px #dadada;
-moz-box-shadow: 0 0px 12px #dadada;
box-shadow: 0 0px 12px #dadada;
position:relative;
z-index:100;
}

.text-overflow ul {
margin-left:70px;
overflow:hidden;
}

ul.pricing-payment {
width:100%;
margin:0 -16px 0  -7px;
float:left;
}

ul.pricing-payment li {
width:12.206%;
height:60px;
list-style:none;
margin:0 1px 7px 1px;
filter: alpha(opacity=40);
-moz-opacity:0.4;
-khtml-opacity: 0.4;
opacity: 0.4;
transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
float:left;
}

ul.pricing-payment li:hover {
filter: alpha(opacity=100);
-moz-opacity:1;
-khtml-opacity: 1;
opacity: 1;	
}

ul.pricing-payment li img {
width:103px;
height:58px;
}

.icon-margin {
margin-right:6px;
position:relative;
top:2px;
}

.column .teaser {
margin-bottom:19px;
}

.teaser ul.social-list {
margin-bottom:-9px;	
}

.note .row {margin-bottom:-24px;}

/***** Portfolio Area Stylesheet *****/
#pf-filter ul {
margin-bottom:30px;
padding:0px;
float:left;
}

#pf-filter ul li i {
color:#c4c4c4;
font-size:16px;
margin-right:7px;
top:-3px;
position:relative;
}

#pf-filter ul li {
font-size:12px;
font-family: "Segoe UI", "helvetica neue", arial, sans-serif;
list-style:none;
display:inline-block;
float:left;
}

#pf-filter ul li:after {
font-size:9px;
color:#bbb;
content:"\2F";
margin-left:2px;
top:-1px;
position:relative;
}

#pf-filter ul li:first-child:after {
content:"";
display:none;	
}

#pf-filter ul li:last-child:after {
content:"";
display:inline-block;
}

#pf-filter ul li a {
padding:0px 10px;
color:#b6b6b6;
text-decoration:none;
}

#pf-filter ul li a:hover {
color:#71A0C0;
text-decoration:none;
}

#pf-filter ul li a:active, #pf-filter ul li a.selected {
color:#71A0C0;
text-decoration:none;
}

.pf-container li h6 {
font-size:16px;
color:#7e7e7e;
text-align:center;
}

.pf-container li h6.subheader {
margin:-2px 0px -8px 0px;
text-align:center;
}


/***** Blog Area Stylesheet *****/
article {
width:100%;
margin-bottom:38px;
padding-bottom:20px;
border-bottom:1px solid #e4e4e4;
float:left;
}

article h3 {
margin-top:4px;
}

article img {
background:#dcdcdc;
margin-bottom:18px;
float:left;
}

article iframe {
background:#dcdcdc;
width:100%;
height:314px;
margin-bottom:11px;
position:relative;
z-index:999;	
}

article a.button {
float:left;	
}

.mejs-container {
width:99.9% !important;
margin-bottom:18px;
}

video{
width:100% !important;	
}

.blog-front a.button {
margin-top:10px;	
}

.teaser .post-type {
width:50px;
height:50px;
padding-top:12px;
padding-left:15px;
font-size:19px;
}

.teaser .author-image, .teaser .author-image img {
width:50px;
height:50px;
}

.teaser .row .two {
margin:0 -20px 0px -5px;
}

.teaser-preview-box .blog-audio {
height:30 !important;
margin-bottom:0px;
}

.teaser-preview-box .mejs-controls div.mejs-horizontal-volume-slider {	
position: relative;
float:right;
}

.teaser-preview-box .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
position: absolute;
top:-15px;
}

.teaser-preview-box .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
position: absolute;
top:-15px;
}

::made-up-pseudo-element, .teaser-preview-box .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {position: absolute; top:11px;}
::made-up-pseudo-element, .teaser-preview-box .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {position: absolute; top:11px;}

_:-o-prefocus, .teaser-preview-box .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {position: absolute; top:11px;}
_:-o-prefocus, .teaser-preview-box .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {position: absolute; top:11px;}

.teaser-preview-box .banner-blog {
margin:0px;	
}

.teaser-preview-box .note {
border-bottom:none;
margin:0px;	
}

.teaser-preview-box .note:after,
.teaser-preview-box .note:before {
display:none;
}

.teaser-preview-box .note p.lead {
width:100%; 
font-size:15px; 
margin-bottom:6px;
line-height:22px;
}

.teaser-preview-box iframe {
width:100%;
margin-bottom:-7px;
}

.post-type {
width:75px;
height:75px;
background:#3b97d6;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
padding-top:24px;
padding-left:23px;
font-size:28px;
color:#fff;
float:right;	
}

.post-author {
position:relative;
top:-12px;
top:0px\9;
float:right;
}

.author-image {
width:75px\9;
height:75px\9;
background-color:#e7e7e7;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
float:right;	
}

.author-image img{
width:75px;
height:75px;
margin-bottom:0px;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
float:right;
}

.post-info {
width:100%;
font-size:11px;
font-family: "Segoe UI", "helvetica neue", arial, sans-serif;
font-style:italic;
color:#b3b3b3;
margin-top:3px;
text-align:right;
float:right;
}

.post-info ul li a, .post-info ul li a:visited {
color:#b3b3b3;
text-decoration:none;	
}

.post-info ul li a:hover {
color:#71a0c0;
text-decoration:none;	
}

.post-info ul li i {
font-size:11px;
margin-right:5px;
color:#d3d3d3;
position:relative;
top:1px;
}

#search input[type="text"] {
width:100%;
padding-right:5px;
-webkit-border-top-right-radius: 4px !important;
-webkit-border-bottom-right-radius: 4px !important;
-moz-border-radius-topright: 4px !important;
-moz-border-radius-bottomright: 4px !important;
border-top-right-radius: 4px !important;
border-bottom-right-radius: 4px !important;
float:left;
}

#search button {
width:40px;
height:38px;
margin:2px 0px 0px -40px;
margin:0px 0px 0px -40px\9;
padding:3px 0 0 0;
font-size:16px;
float:left;
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;
-webkit-border-top-left-radius: 0px !important;
-webkit-border-bottom-left-radius: 0px !important;
-moz-border-radius-topleft: 0px !important;
-moz-border-radius-bottomleft: 0px !important;
border-top-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;
}

@-moz-document url-prefix() {
#search button { height:40px; margin:0px 0px 0px -40px; }
}

_:-o-prefocus, #search button { height:38px; margin:0px 0px 0px -40px; }

#search button:nth-of-type(1n) { height:39px\9; margin:0px 0px 0px -40px\9; }

#search button:hover {background:#1596ee;}

/* Blog Pagination */
.blog-pagination {
width:100%;
margin:0px 0px 15px 0px;
float:left;
}

.pages {
line-height:28px;
clear:left;
}

.blogpages {
margin:8px 0;
}

.pfpages {
margin:-15px 0 12px;
}

.pageof {
font-size:12px;
font-family:'Raleway', Helvetica, Arial !important;
text-transform:uppercase;
font-weight:300;
display:block;
color:#fff;
float:left;
background:#0e7ac3;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-right:3px;
margin-bottom:3px;
padding:3px 14px;
}

.pages a {
font-size:12px;
font-family:'Raleway', Helvetica, Arial !important;
text-transform:uppercase;
font-weight:300;
display:block;
color:#fff;
float:left;
background:#0e7ac3;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-decoration:none;
margin-right:3px;
margin-bottom:3px;
padding:3px 14px;
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;
}

.pages a:hover, .pages a.current {
color:#fff;
background:#5e5e5e;
}

/* Sharing Social */
.sharing-box {
width:100%;
float:left;
margin-top:-10px;
padding:0px;
}

.share-facebook {
width:200px;
float:left;
}

.share-social {
margin:-7px 10px 0 0;
float:right;
}

/* Comment list */
#comment {
width:100%;
float:left;
padding:5px 0 8px;
}

.comment-text h5 {
margin-bottom:-2px;
}

#comment ol {
list-style-type:none!important;
margin:0;
padding:10px 0 0;
}

#comment ol li ol {
margin:0px 0px 20px 80px;
}

.commentlist li {
position:relative;
list-style:none;
line-height:22px;
list-style-position:outside;
}

.commentlist li small {
font-size:11px;
text-transform:uppercase;
}

.commentlist li p {
margin-top:10px;
}

.avatar {
width:64px;
height:64px;
position:absolute;
background-color:#e7e7e7;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
top:4px;
left:0;
}

.avatar img {
width:64px;
height:64px;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}

.comment-text {
background-color:#fafafa;
border: solid 1px #ddd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-left:80px;
width:auto;
margin-bottom:10px;
padding:14px 20px 13px 20px;
}

.comment-text h6.subheader {margin-bottom:-12px !important;}
a.reply {float:right; margin-top:-16px;}
a.reply:hover {background:#474646 !important;}

a.reply, a.reply:visited {
padding:1px 9px;
font-family:'Raleway', Helvetica, Arial;
font-size:10px;
color:#fff;
text-transform:uppercase;
text-decoration:none;
background:#5e5e5e;
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position:relative;
top:-20px;
}

/* Comment form */
#commentform-wrap {
width:70%;
margin-top:26px;
float:left;	
}

fieldset {
padding-top:10px;
border:0;
}

form#comment-form label {
font-size:14px;
line-height:38px;
width:37%;
margin-bottom:0px;
float:right;
clear:both;
}

form#comment-form input {
width:60%;
margin-bottom:15px;
float:left;	
}

form#comment-form textarea {
margin-bottom:15px;
overflow:hidden;
float:left;	
}

form#comment-form .buttoncontact {
background:#0e7ac3;
}

form#comment-form .buttoncontact:hover {
background:#1596ee;
}

form#comment-form em {
font-family:Arial, Helvetica, sans-serif;
color:#db4e43;
display:inline;
}

/* Sidebar styling */
aside {
width:100%;
margin-bottom:10px;
float:left;
}

aside h1, aside h2, aside h3, aside h4, aside h5, aside h6, .sitemap-heading h4 {
background:#3b97d6;
padding:12px 0px 0px 8px;
color:#fff;
}

aside h1:after, aside h2:after, aside h3:after, aside h4:after, aside h5:after, aside h6:after, .sitemap-heading h4:after {
margin-left:-8px;
border:1px solid #fff;
display:block;
content:"";
position:relative;
margin-top:-5px;
}

aside .note h1, aside .note h2, aside .note h3, aside .note h4, aside .note h5, aside .note h6 {
background:none;
margin-bottom:17px;
padding:0px !important;
color:#71a0c0;	
}

aside .note h1:after, aside .note h2:after, aside .note h3:after, aside .note h4:after, aside .note h5:after, aside .note h6:after {
border:none !important;
margin-left:0px !important;
}

aside .note-folded h1, aside .note-folded h2, aside .note-folded h3, aside .note-folded h4, aside .note-folded h5, aside .note-folded h6 {
background:none;
margin-bottom:17px;
padding:0px !important;
color:#fff;	
}

aside .note-folded h1:after, aside .note-folded h2:after, aside .note-folded h3:after, aside .note-folded h4:after, aside .note-folded h5:after, aside .note-folded h6:after {
border:none !important;
margin-left:0px !important;
}

aside iframe {
width:100%;
height:125px;
margin:7px 0 19px 0;
}

aside .search-fieldset {
padding-top:0px;
}

/* Popular List */
ul.popular-list {
width:100% !important;
margin:4px -16px 16px 0px;
padding-left:0px;
float:left;
}

ul.popular-list li p.popular-title {
font-size:13px;
line-height:20px;
margin:0px;
}

ul.popular-list li img {
width:65px;
height:54px;
margin:3px 13px 0 0;
float:left;
}

ul.popular-list li {
width:100% !important;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
list-style-type:none;
border-bottom:1px solid #e4e4e4;
margin-bottom:10px;
padding-bottom:10px;
float:left;
}

ul.popular-list li p.comment-count a, ul.popular-list li p.comment-count a:visited {
color:#71a0c0;
text-decoration:none;
font-size:10px;
float:left;
}

ul.popular-list li a,ul.popular-list li a:visited {
color:#9B9DA1;
text-decoration:none;
}

ul.popular-list li a:hover {
color:#c0c0c0;
text-decoration:none;
}

/* Tag Cloud */
.tag-cloud {
font-family:'Raleway', Helvetica, Arial;
font-size:12px;
width:100%;
float:left;
margin:7px 0 22px;
}

.tag-cloud a,.tag-cloud a:visited {
display:block;
color:#838383;
background-color:#f2f2f2;
text-decoration:none;
float:left;
margin:0 6px 6px 0;
padding:0px 8px 0px 8px;
transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
-webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,.1);  
-moz-box-shadow:0px 1px 2px 0px rgba(0,0,0,.1); 
box-shadow:0px 1px 2px 0px rgba(0,0,0,.1);
border:1px solid #d8d8d8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;;
}

.tag-cloud a:hover {
display:block;
color:#d4d4d4;
background-color:#5e5e5e;
-webkit-border-top-right-radiu
text-decoration:none;
float:left;
margin:0 6px 6px 0;
padding:0px 8px 0px 8px;
border:1px solid #5e5e5e;
}

.archive-count a, .archive-count a:visited {
display: inline-block;
margin-left:7px;
padding: 2px 4px;
font-size: 11px;
line-height: 14px;
color: #fff !important;
background-color: #bdbdbd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position:relative;
top:-1px;
}


/***** Contact Area Stylesheet *****/
#map {
width:100%;
height:450px;
background:#f6f6f6;
margin:8px 0px 20px 0px;
border-bottom:3px solid #0e7ac3;
float:left;
}

#map2 {
width:100%;
height:380px;
margin:0px;
float:left;
}

#map3 {
width:100%;
height:280px;
margin:0px;
float:left;
}

address i {
font-size:13px;
margin-right:6px;
position:relative;
top:2px;
}

#contact-form-area {
width:100%;
margin:10px 0px 10px 0px;
float:left;	
}

fieldset {
border:0;
}

form#contactform label {
font-size:14px;
line-height:38px;
width:18%;
margin-bottom:0px;
float:left;
clear:both;
}

form#contactform input[type="radio"] { float:left; margin:12px 5px 10px 0px; width:20px !important;}
form#contactform span { float:left; margin-right:10px; padding-top:7px;}
form.contactformBig label { width:30% !important;
text-align:right; margin-right:3%;}

form.contactformBig input { width:53% !important;}
form.contactformBig textarea { width:53% !important;}

form#contactform input {
width:55%;
margin:0px 15px 15px 0px;
float:left;	
}

form#contactform select {
width:auto;
margin:0px 15px 15px 0px;
float:left;	
}


form#contactform textarea {
width:75%;
margin-bottom:15px;
float:left;
overflow:hidden;	
}

form#contactform .buttoncontact {
background:#0e7ac3;
}

form#contactform .buttoncontact:hover {
background:#1596ee;
}

form#contactform em {
font-family:Arial, Helvetica, sans-serif;
color:#db4e43;
display:inline;
}

.loading {
font-size:14px;
height:24px;
background:url(../images/loading_slideshow.gif) 0 0 no-repeat;
margin:9px 0px 0px 10px;
padding:0px 0px 0px 30px;
color:#797979;
float:left;
}

.success-contact {
width:100%;
font-size:14px;
text-align:center;
color:#749958;
background-color:#d8f1c6;
border:1px solid #b3cda1;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,.1);  
-moz-box-shadow:0px 1px 2px 0px rgba(0,0,0,.1); 
box-shadow:0px 1px 2px 0px rgba(0,0,0,.1);
clear:both;
display:block;
margin:4px 0 0px 0px;
padding:10px;
}

/***** Footer Styling *****/
footer {
width:100%;
margin:0 auto;
padding:40px 0px 20px 0px;
background-color:#3b3b3b;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
color:#fff;
}

footer p {
font-size:13px;
color:#999;
}

footer ul li {
font-size:13px;
}

footer ul li a, footer ul li a:visited {
line-height:24px;
color:#999 !important;
text-decoration:none;
}

footer ul li a:hover {
color:#FFF !important; text-decoration:underline;
}

footer img {margin-top:9px;}
.copyright {margin:3px 0px 24px 0px}

/***** Twitter Styling *****/
.jtwt { margin:2px 0 26px 0; list-style: none; float:left; }
.jtwt li { margin:0 0 10px -16px; border-bottom:1px solid #e4e4e4; }
.jtwt li:last-child { margin-bottom: 0px; }
.jtwt_loader { border-bottom:none !important; }
.jtwt_picture { float: left; margin-right: 5px; }
.jtwt_picture img {position:relative; top:4px;}
.jtwt_tweet_text {margin-bottom: 0px;}
p.jtwt_tweet_text { color:#bebebe; font-size:13px; line-height:19px; text-align: left; overflow: hidden; }
.jtwt_date {display: inline-block; width: 100%; text-align: left; margin:0 0 10px 28px; }
a.jtwt_date { font-size: 10px; }

/***** Flickr *****/
ul#flck-thumb { margin:-18px -3px 20px -3px; }
ul#flck-thumb div.no-image { display:none; }
.thumbs { margin: 0; padding: 0; overflow: hidden; }
.thumbs div { width:64px; height:64px; list-style: none; float: left; margin: 0px 3px 6px 3px; }
.thumbs div a { }
.thumbs div img { width:100%; height:100%; display: block; }
.thumbs div a img { border: none; }
#flickr-noscript { display:none; }



