<?php
/**
 * Unirgy LLC
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.unirgy.com/LICENSE-M1.txt
 *
 * @category   Unirgy
 * @package    Unirgy_DropshipPo
 * @copyright  Copyright (c) 2008-2009 Unirgy LLC (http://www.unirgy.com)
 * @license    http:///www.unirgy.com/LICENSE-M1.txt
 */
?>
<?php  $_po = $this->getPo() ?>
<?php  $_order = $this->getPo()->getOrder() ?>
<div>
<?php echo $this->getChildHtml('order_info') ?>
    <?php if ($_order->getIsVirtual()): ?>
    <div class="box-right">
    <?php else: ?>
    <div class="box-left">
    <?php endif; ?>
        <!--Billing Address-->
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-payment-method"><?php echo $this->helper('sales')->__('Payment Information') ?></h4>
            </div>
            <fieldset>
                <div><?php echo $this->getChildHtml('order_payment') ?></div>
                <div><?php echo Mage::helper('sales')->__('Order was placed using %s', $_order->getOrderCurrencyCode()) ?></div>
            </fieldset>
        </div>
    </div>
    <?php if (!$_order->getIsVirtual()): ?>
    <div class="box-right">
        <!--Shipping Address-->
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-shipping-method"><?php echo $this->helper('sales')->__('Shipping Information') ?></h4>
            </div>
            <fieldset>
                <div>
                    <strong><?php echo $_order->getShippingDescription() ?> [<?php echo $_po->getUdropshipMethodDescription() ?>]</strong>
                    <br>
                    <?php echo $this->helper('sales')->__('Total Shipping Charges'); ?>:

                    <?php if ($this->helper('tax')->displayShippingPriceIncludingTax()): ?>
                        <?php $_excl = $this->displayShippingPriceInclTax($_order); ?>
                    <?php else: ?>
                        <?php $_excl = $this->displayPriceAttribute('shipping_amount', false, ' '); ?>
                    <?php endif; ?>
                    <?php $_incl = $this->displayShippingPriceInclTax($_order); ?>

                    <?php echo $_excl; ?>
                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                    <?php endif; ?>
                </div>
            </fieldset>
        </div>
    </div>
    <?php endif ?>
    <div class="clear"></div>

    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-products"><?php echo $this->helper('udpo')->__('Purchase Order Items') ?></h4>
        </div>
    </div>

    <?php echo $this->getChildHtml('udpo_items') ?>

    <div class="box-left entry-edit">
        <div class="entry-edit-head"><h4><?php echo $this->__('Purchase Order History') ?></h4></div>
        <fieldset><?php echo $this->getChildHtml('order_comments') ?></fieldset>
    </div>
    <div class="clear"></div>

    <script type="text/javascript">
    function udpoStatusChanged(sel)
    {
        var id=sel.id.replace(/[^0-9]/g, '');
        if (sel.value=='<?php echo Unirgy_DropshipPo_Model_Source::UDPO_STATUS_CANCELED ?>') {
            $$('comment-full-cancel input').invoke('enable');
            $('comment-full-cancel').show();
        } else {
            $$('comment-full-cancel input').invoke('disable');
            $('comment-full-cancel').hide();
        }
    }
    </script>
</div>
