@charset "utf-8";
/* CSS Document */

/*Eric meyer's css reset*/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0; font-family: 'Roboto', sans-serif; color:#000; text-decoration:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none; display:list-item }blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*/

ol,ul,li{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0; font-family: 'Roboto', sans-serif; color:#000; text-decoration:none;}ul{list-style:none; display:list-item }



.content3 {
    bottom: 80px
}

.content3 {
    /* top: 97px */
}

.content3 {
    
    left: 5px;
    right : 5px;
   /* min-width: 1070px;
    max-width: 1360px;*/
    width: 100%;
}

.content3 {
   /* position: absolute */
}


/* interface générale */
#file_mgmt { font-size:12px;}
#file_mgmt hr {border:none;}
/*#file_mgmt a {color:#03C;}*/
/*#file_mgmt a:hover {text-decoration:underline; }*/
#file_mgmt .right{ float:right; text-align:right;}
#file_mgmt .center {text-align:center;}
#file_mgmt .button {-moz-box-shadow:inset 0px 0px 0px 0px #97c4fe;
					-webkit-box-shadow:inset 0px 0px 0px 0px #97c4fe;
					box-shadow:inset 0px 0px 0px 0px #97c4fe;
					background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
					background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
					filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
					background-color:#3d94f6;
					-webkit-border-top-left-radius:6px;
					-moz-border-radius-topleft:6px;
					border-top-left-radius:6px;
					-webkit-border-top-right-radius:6px;
					-moz-border-radius-topright:6px;
					border-top-right-radius:6px;
					-webkit-border-bottom-right-radius:6px;
					-moz-border-radius-bottomright:6px;
					border-bottom-right-radius:6px;
					-webkit-border-bottom-left-radius:6px;
					-moz-border-radius-bottomleft:6px;
					border-bottom-left-radius:6px;
					text-indent:0;
					border:1px solid #337fed;
					display:inline-block;
					color:#ffffff;
					font-family:Arial;
					font-size:12px;
					font-weight:bold;
					font-style:normal;
					min-height:25px;
					line-height:25px;
					min-width:50px;
					text-decoration:none;
					text-align:center;
					text-shadow:1px 1px 0px #1570cd;
					cursor:pointer;
					padding: 2px;
					margin:1px;}
#file_mgmt .button:hover  { background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
							background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
							filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
							background-color:#1e62d0;}
#file_mgmt .button:active {position:relative;top:1px;}

#file_mgmt .col1 {display: inline-block; vertical-align: top; width:12.4%; margin:0;  min-height:10px; /* min-height:1286px; */ }
#file_mgmt .col2 {display: inline-block; vertical-align: top;  width:24.8%; margin:0; min-height:10px;}
#file_mgmt .col3 {display: inline-block; vertical-align: top;  width:35.2%; margin:0; min-height:10px;}

#file_mgmt .col4 {display: inline-block; vertical-align: top;  width:49.6%; margin:0; min-height:10px;}
#file_mgmt .col5 {display: inline-block; vertical-align: top;  width:62%; margin:0; min-height:10px;}
#file_mgmt .col6 {display: inline-block; vertical-align: top;  width:74.4%; margin:0; min-height:10px;}
#file_mgmt .col7 {display: inline-block; vertical-align: top;  width:86.8%; margin:0; min-height:10px;}
#file_mgmt .col8 {display: inline-block; vertical-align: top;  width:99.1%; margin:0; min-height:10px;}

#header { width:100%; background:#333; margin-bottom: 2px; min-height: 0;}
#treeview_commercant { /*border-bottom: 3px solid #aaa;; border-right: 3px solid #aaa; *}
#catalogue_commercant { /*border-right:3px solid #000; */}
#catalogue_commercant .hidden{display: none;}
#catalogue_commercant #loader{display: none;}
#treeview_avahis {/* border-bottom: 3px solid #aaa;; border-right: 3px solid #aaa; */ }    
#catalogue_avahis {}          

.inform_action{ /*padding-top: 14px; */}

/* treeview */
.treeview { /*background:#fff; */ }
.treeview h2 { font-size:20px; line-height:normal;overflow: hidden;text-overflow: ellipsis;}
.treeview .intro { /* width:96%; height:100px; float:left; display:block; padding: 10px 2% 10px 2%; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #9c9c9c) );background:-moz-linear-gradient( center top, #cccccc 5%, #9c9c9c 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#9c9c9c');background-color:#cccccc; */ }
.treeview .well ul {/*padding-left:10px; */ margin-left: 0;}
.treeview li { line-height:20px; font-size:1em;}
.treeview li span:not(.tree-expander):not(.countProdContext):not(.tree-expander-empty), .treeview li span { overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; font-size: 0.9em; color:#868686;}
.treeview li:hover span:not(.tree-expander):not(.countProdContext), .treeview li:hover span { color: #5A5A5A; cursor:pointer;  }
.treeview li span.expanded, .treeview li span.expanded + span {color: #000 !important;  cursor:pointer; }
.treeview li span.expanded a, .treeview li span.expanded + span {color: #000 !important;  cursor:pointer; }
.treeview .well ul li ul {margin-left: 7px;}
.treeview .well ul li + ul {margin-left: 7px; font-size: 0.95em;}
.treeview .well ul li + ul li {line-height: 14px;}
.treeview ul ul ul {}
.treeview ul ul ul ul {}
.treeview ul ul ul ul ul {}

.treeview .well {padding: 15px 3px 20px 3px;}
.treeview .well ul {}
.treeview .well ul li {line-height: 18px;}
.treeview .close {float: none;font-size: inherit;font-weight: normal;line-height: inherit;color: inherit;text-shadow: 0 ;opacity: 1;filter: alpha(opacity=100);}
.treeview .close:hover {color: inherit;}


/* catalogue */
.catalogue { } 
.catalogue h4 {font-size:16px; margin-bottom: 10px;}
/* .catalogue ul.ariane { display: block; float: left; min-height: 25px; padding: 0 1%; width: 96%;}
.catalogue ul.ariane li { float:left; line-height:10px; font-size:12px; margin-right:6px;}
.catalogue ul.ariane li:after {content: "\00BB \0020";}
.catalogue ul.ariane li.active { font-size:25px; margin-top:-2px;}
.catalogue ul.ariane a {color:blue; text-decoration:underline} */
.catalogue ul.ariane li:after {content: "\20\2F\20\20"; color: #888; font-size: 0.8em;}


.catalogue .information {width:96%%; margin-right:1%; padding-left:1%; float:left; min-height:50px;}
.catalogue .information li { line-height:1.5;}
.catalogue .information li strong { font-size:18px; }



/* ONGLETS DE NAVIGATION */
/*
.catalogue .navigation { margin-top: 100px; min-height: 35px; margin-bottom:0px; clear:both;}
.catalogue .navigation a{color:black}
.navigation li{
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:15px;
	line-height:10px;
	width:70px;
	text-decoration:none;
	text-align:center;
	color:black;
}
.navigation li:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');background-color:#e9e9e9;cursor:pointer;color:black;}
.navigation li:active {position:relative;top:1px;color:black;}
.navigation li a:link {text-decoration:none; color:black}
.catalogue .navigation li { float:left; margin-left:10px; display:block; border: 1px solid #aaa; padding:10px 10px; }
.catalogue .navigation li.active {  border-bottom: 1px solid #fff;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #9c9c9c) );background:-moz-linear-gradient( center top, #cccccc 5%, #9c9c9c 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#9c9c9c');background-color:#cccccc;}

*/

/* FILTRES DE RECHERCHE */ /*
.catalogue .filter { width:100%; min-height:20px; 
					  
   					display: flex;  
   					box-shadow:inset 0px 0px 0px 0px #ffffff;
					background:-webkit-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
					background:-moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
					background:-o-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
					background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #f9f9f9), to(#e9e9e9));
					background:linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
					filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
					background-color:#f9f9f9;
					margin-bottom:0px; 
					padding-top:15px; 
					border-top:1px solid #aaa; 
					height: 87px;}
.list2{
	display: inline-block;
width: 200px;
}
.catalogue .filter a.view_filters { float:right;}
.catalogue .filter .filters { float: left; margin-left: 1%; margin-right: 0; padding-left: 3px;}
.catalogue .filter .dyna_filters{ float: left; margin-left: 1%; width: 35%;  padding: 0 10px 6px 10px;}
.catalogue .filter .dyna_filters select{width: 60px; text-overflow: ellipsis;}
.catalogue .filter .filters input, select { margin-bottom:10px; margin-top:-5px;}
.catalogue .filter .filters input[type="text"] { float:left;}
.catalogue .filter .filters input[type="text"].mini { width:30px;}
.catalogue .filter .filters span { float: left; margin: -6px 5px 10px;}
.catalogue .filter .filters label {
	
float: left; margin-right: 7px; text-align: right	; white-space: nowrap; width: 50%;}


.catalogue .filter .filters select { display: inline-block; float: left; max-width: 150px;text-overflow: ellipsis;}
.catalogue .filter .filters .views { margin-top:1%;  margin-bottom:10px; text-align:left;  min-height:22px;}
.catalogue .filter .filters .views a {float:left;}
.catalogue .filter .filters .views span:hover { font-weight:bold; background:#CCC; cursor:pointer;}
.catalogue .filter .filters .views img {margin-right:0px; float:left; }
.catalogue .filter .filters .views span { margin-right:10px; margin-top:5px;}

.catalogue .filter .filters .views span img {margin-right:5px;}
.catalogue .filter .filters .results {margin-top:5px;}
*/ 


.catalogue .iblock {display: inline-block; margin-right: 10px;}
.catalogue .vtop { vertical-align: top;}
.catalogue .filter .filters > div {}
.catalogue .filter .filters input[type="text"] {padding: 0 10px;}
.catalogue .filter .filters .control-label {color: #313131; font-weight: bold; }
.catalogue .filter .filters .style_checkbox label { margin-left: 5px; color: #313131; font-weight: bold; display: inline-block; }
.catalogue .filter .filters .style_checkbox input { margin: 0; }
.catalogue .filter .filters .style_checkbox > div {margin-right: 10px;}
.catalogue .filter .filters .style_checkbox  {padding: 10px  0;}
.catalogue .filter .filters .mini {width: 50px;} 




/* Prix croissant ou décroisant */
.priceOrder {float:right; margin:1% 1%}

/* produit2 pour écrans de Thomas */
.catalogue .gridview .produit2 { width:14%; text-align:center; margin:0 0.5% 3% 0.5%; float:left; padding:10px 0.5%; border-right:1px solid #ddd; /*height:170px;*/ }
.catalogue .gridview .produit2 .attribut { max-height: 4em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-style:italic; padding-left:5px; border-left:1px solid #ddd; margin-right:5px;}
.catalogue .gridview .produit2 .description { margin-bottom:15px;max-height: 3em; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.catalogue .gridview .produit2 h4 {height : 45px; text-overflow: ellipsis;}												
.catalogue .gridview .produit2 .imgProd {margin:auto; width:120px; height:80px; background:#333;}
	
/* PRODUITS EN VUE GRILLE */	
.catalogue .gridview .thumbnail {height: 350px;}
.catalogue .gridview .thumbnails li {margin-left: 1.1%; margin-right: 1.1%;}
.catalogue .gridview .thumbnails h5 {line-height: 14px; height: 45px; overflow: hidden; text-overflow: ellipsis; }
.catalogue .gridview .thumbnails img {max-height: 125px;}
.catalogue .gridview .thumbnails .description {height: 40px; line-height: 14px; margin-bottom: 5px; font-size: 0.9em; overflow: hidden; text-overflow: ellipsis; /* white-space: nowrap; */}
.catalogue .gridview .thumbnails .attribut {display: block; margin-bottom: 5px; line-height: 16px;}


/*.catalogue .gridview {overflow: scroll; width: 100%; background:url(img/bg_catalogue.jpg) repeat-x top  transparent; padding-top:10px;}*/
.catalogue .gridview { /*overflow: scroll; */ width: 100%; padding-top:10px;}
/*
.catalogue .gridview .produit { width:31%; text-align:center; margin:0 0.5% 3% 0.5%; float:left; padding:1px 0.5%; border-right:1px solid #ddd; min-height:300px; }
.catalogue .gridview .produitGP { width:14%; text-align:center; margin:0 0.5% 3% 0.5%; float:left; padding:1px 0.5%; border-right:1px solid #ddd; min-height:300px; }
.catalogue .gridview .produit:hover { background:#ddd; cursor:pointer;}
.catalogue .gridview .produit p { margin:0 0 5px 0;text-overflow: ellipsis;}
.catalogue .gridview .produit h4 {max-height: 33px;min-height: 33px;text-overflow: ellipsis;}
.catalogue .gridview .produit img { width:120px; height:80px; background:#333; margin-bottom:5px;}
.catalogue .gridview .produit .imgProd {margin:auto; width:120px; height:80px; background:#333;}
.catalogue .gridview .produit .price { font-weight:bold; font-size:16px; margin-right:10px;}
.catalogue .gridview .produit .attribut { max-height: 4em;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;font-style:italic; padding-left:5px; border-left:1px solid #ddd; margin-right:5px;}
.catalogue .gridview .produit .description { margin-bottom:15px;max-height: 3em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.catalogue  .produit .actions {}
.catalogue  .produit .actions a { border:1px solid #999; padding:5px 5px; margin-left:10px; margin-right:10px; margin-bottom:5px; float:left;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-decoration:none;
	color:black;
}
.catalogue  .produit .actions a.refused {-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-style:normal;
	text-decoration:none;
	text-align:center;}
.catalogue  .produit .actions a.refused:hover{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;}
.catalogue  .produit .actions a:hover { border:1px solid #999; padding:5px 5px; margin-right:10px; margin-bottom:5px; float:left; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	text-decoration:none;}
*/
.catalogue .gridview .produit .imgProd {/* width:125px; */ height:auto; max-height: 125px;}

/*
.catalogue .gridview .selected .thumbnail, .catalogue .gridview .selected:hover .thumbnail{ background:#9F6 !important;}
.catalogue .gridview .associated .thumbnail, .catalogue .gridview .associated:hover .thumbnail{ background:#33CCFF !important;}
.catalogue .gridview .refused .thumbnail , .catalogue .gridview .refused:hover .thumbnail{ background:#FF3333 ;}

*/


/* PRODUITS EN VUE LISTE */
/*.catalogue .listview {overflow: scroll; width: 100%; background:url(img/bg_catalogue.jpg) repeat-x top  transparent; padding:10px 0 0 0;}*/
.catalogue .listview { /*overflow: scroll; */ width: 100%; padding:10px 0 0 0;}
.catalogue .listview li .thumbnail {width: 100%;}
.catalogue .listview li .thumbnail > div,
.catalogue .listview li .thumbnail > h4,
.catalogue .listview li .thumbnail > p,
.catalogue .listview li .thumbnail > ul
 {display: inline-block; vertical-align: top;}
.catalogue .listview li {float: none; width: 100%; margin-left: 0; margin-right: 0; }
.catalogue .listview li .imgProd {width: 100px; height: auto; max-height: 125px;  margin-right: 10px;}
.catalogue .listview li img {max-width: 100px; max-height: 100px; }
.catalogue .listview .ref {font-size: 1em;}
.catalogue .listview .actions {float: right; margin-right: 10px;}

/*
.catalogue .listview .produit { width:96%; background:#fff; text-align:left; margin:0 1% 1% 1%; float:left; padding:10px 10px 0px 5px;  }
.catalogue .listview .produit:hover { background:#ddd; cursor:pointer;}
.catalogue .listview .produit h4 { width:48%; margin-right:2%; float:left; margin-bottom:4px;}
.catalogue .listview .produit img { width:60px; height:60px; background:#333; float:left; margin-right:2%; margin-bottom:20px;}
.catalogue .listview .produit p { margin:0 0 0 0; float:right;}
.catalogue .listview .produit ul li { float:right; display:block; margin:0 5px; }
.catalogue .listview .noweight { background : #FFCC33;}
.catalogue .listview .noweight:hover {background : #FF9933;}
 */
 
#catalogue_avahis .interaction { /*width:98%; margin:1% 1%; max-height: 110px; */}


.catalogue .listview .associated .thumbnail, .catalogue .gridview .associated .thumbnail { background:#6aa9ba;}
.catalogue .listview .associated:hover .thumbnail, .catalogue .gridview .associated:hover .thumbnail { background:#6aa9CC;}

.catalogue .listview .refused .thumbnail, .catalogue .gridview .refused .thumbnail { background:#EB815C;}
.catalogue .listview .refused:hover .thumbnail, .catalogue .gridview .refused:hover .thumbnail { background:#EB335C;}

.catalogue .listview .noweight .thumbnail, .catalogue .gridview .noweight .thumbnail { background : #F2B154;}
.catalogue .listview .noweight:hover .thumbnail, .catalogue .gridview .noweight:hover .thumbnail{background : #FF9933;}

.catalogue .listview .selected .thumbnail, .catalogue .gridview .selected .thumbnail { background:#7FC18D;}
.catalogue .listview .selected:hover .thumbnail, .catalogue .gridview .selected:hover .thumbnail { background:#33C18D;} 



/* ASSOCIATION DE PRODUITS */
/*#catalogue_avahis #associate_products {height: 106px; max-height: 106px; padding-top: 0;width: 98%; display: flex;}

#catalogue_avahis #associate_products .phases { float:left; display:block; height:100%; margin:0 1% 0 0; width:30%; }
#catalogue_avahis #associate_products .phases p {float:right; text-align:center; width:100%;}
#catalogue_avahis #associate_products .phases h3  {float:right; text-align:center;width:100%; overflow: hidden;text-overflow: ellipsis;}
#catalogue_avahis #associate_products a.button { font-size: 13px;
font-weight: bold;
padding: 5px 9px; }
*/
#catalogue_avahis #associate_products {margin-bottom: 15px;}
#catalogue_avahis #associate_products .phases p {margin-bottom: 5px;}
#catalogue_avahis #associate_products .product_name {word-break: normal; white-space: normal; }

/* select2 plugin input */
.input-xlarge {width:100%; margin-top:-10px}


/* popup */
#popup {width:43%; min-height:100px; position:absolute; top:600px; background:#fff; z-index:1000; padding:20px 1%; -moz-box-shadow: 0px 0px 25px 5px #9b9b9b;
-webkit-box-shadow: 0px 0px 25px 5px #9b9b9b;
-o-box-shadow: 0px 0px 25px 5px #9b9b9b;
box-shadow: 0px 0px 25px 5px #9b9b9b;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=NaN, Strength=25);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;}
#popup.left { float:left; left:3%; }
#popup.right { float:right; right:3%;}

/*fiche_produit */
.fiche_produit {}
.fiche_produit h1 { font-size:25px; font-weight:bold; }	
.fiche_produit img.visuel { width:200px; height:200px; background:#CCC;}	
.fiche_produit .slideshow {}	
.fiche_produit .slideshow li { float:left; margin-right:5px;}	
.fiche_produit .slideshow li img { width:60px; height:60px; background:#CCC;}	
.fiche_produit .header {}
.fiche_produit .details {}


#selector ul ul {}
#selector ul ul ul {}
#selector ul ul ul ul {}
#selector ul ul ul ul ul {}


/* MISC POUR POP UPS */

#fixed_fields input {width:65%}
#no_attr select{ width: 250px; text-overflow: ellipsis;}


/* ARBRE CATEGORIES CHECK BOXES + WIDGET JS CHECKBOXTREE */
/*
.ui-widget-daredevel-checkboxTree li {list-style-type: none;position: relative;}
.ui-widget-daredevel-checkboxTree li span {cursor: default;position: absolute;top: 1px;left: -16px;}
.treeviewcheck { background:#fff;}
.treeviewcheck ul {padding-left:10px;}
.treeviewcheck li { line-height:20px; font-size:12px;}
.treeviewcheck .expanded  { font-weight:bold; font-size:13px; border-right:0px solid #6CF; width:100%; padding:10px 0px 10px 10px; }
.treeviewcheck ul ul {}
.treeviewcheck ul ul ul {}
.treeviewcheck ul ul ul ul {}
.treeviewcheck ul ul ul ul ul {}

*/


/* Mini icones Expander pour les arbres de catégories ////////////////////////////////////////////////
 */
span.tree-vline,
span.tree-connector,
span.tree-expander,
span.tree-icon,
span.tree-checkbox,
span.tree-radio,
span.tree-drag-helper-img,
span.tree-expander-empty,
#tree-drop-marker{
	width: 16px;
	height: 16px;
/*	display: -moz-inline-box; /* @ FF 1+2 removed for issue 221 */
/*	-moz-box-align: start; /* issue 221 */
	display: inline-block; /* Required to make a span sizeable */
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("icons.gif");
	background-position: 0 0;
}

span.tree-expander{background-position: 0px -80px;cursor: pointer;}
span.tree-expander-expanded{background-position: -32px -80px;}
span.tree-expander:hover{background-position: -16px -80px;}
span.tree-expander-expanded:hover{background-position: -48px -80px;}
span.tree-expander-load{background-position: 0 0;background-image: url("loading.gif");}
span.tree-expander-load:hover{background-position: 0 0;background-image: url("loading.gif");}
span.tree-expander-empty{background-position: -80px 80px;cursor:default;}
span.tree-expander-empty:hover{background-position: -80px 80px; cursor: default;}

/*
 * Loaders ajax .. /////////////////////////////////////////////////////////////
 */
#prod_av_loader {display:none;width:100%;height:500px;background-position: 0 0;background-image: url("product-ajax-loader.gif");background-repeat:no-repeat;background-position: center;}

#prod_ecom_loader{display:none;width:100%;height:500px;background-position: 0 0;background-image: url("product-ajax-loader.gif");background-repeat:no-repeat;background-position: center;
}
#cat_ecom_loader{display:none;width:100%;height:500px;background-position: 0 0;background-image: url("product-ajax-loader.gif");background-repeat:no-repeat;background-position: center;
}

.imgPopup {
	max-height:200px;
}

/*
 * ECRAN GESTION PRODUITS
 * 
 */
.catalogue .navigation_gp { /*min-height: 35px; margin-bottom:0px; clear:both; */}
.catalogue .navigation_gp a{ /*color:black */}
.navigation_gp li{ /*
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:15px;
	line-height:10px;
	width:70px;
	text-decoration:none;
	text-align:center;
	color:black; */
}
.navigation_gp li:hover { /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');background-color:#e9e9e9;cursor:pointer;color:black; */}
.navigation_gp li:active { /* position:relative;top:1px;color:black; */}
.navigation_gp li a:link { /*text-decoration:none; color:black */}
.catalogue .navigation_gp li { /* float:left; margin-left:10px; display:block; border: 1px solid #aaa; padding:10px 10px; */ }
.catalogue .navigation_gp li.active { /* border-bottom: 1px solid #fff;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #9c9c9c) );background:-moz-linear-gradient( center top, #cccccc 5%, #9c9c9c 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#9c9c9c');background-color:#cccccc; */}



/*
 * 
 * Popup Jquery 
 * 
 * 
 */

#dialogAv, #dialogEcom, #dialogAssocCateg {height: 700px !important; padding-bottom: 20px;}
#dialogAv h1, #dialogEcom h1, #dialogAssocCateg h1, #modifcat h1 {font-size: 3em; line-height: 1em; }
#dialogAv table.dataTable, #dialogEcom table.dataTable, #dialogAssocCateg table.dataTable {border: 1px solid #c2c2c2;}
#dialogAv .badge, #dialogEcom .badge, table.dataTable .badge {margin-bottom: 10px;}
#dialogAv select, #dialogEcom select. 
#dialogAv textarea, #dialogEcom textarea,
#dialogAv input[type="text"], #dialogEcom input[type="text"], 
#dialogAv input[type="password"], #dialogEcom input[type="password"] { width: 90%;}
#dialogAv textarea, #dialogEcom textarea {height: 100px;}
#dialogAv table .btn, #dialogEcom table .btn, #dialogAssocCateg table .btn  {font-size: inherit; padding: 0 6px; margin: 10px 0;}

#dialogEcom .form_label {display: inline-block; width: 150px;}
#dialogEcom p {color: dimgray; line-height: 24px;}
#dialogEcom span {background-color: white; padding: 5px; display: inline-block; min-width: 250px;border-radius: 5px;}
#dialogEcom .sous_title {background-color: white; text-align: center; padding: 7px 0; border-bottom: 1px solid #C2C2C2; }


#dialogAssocCateg .well ul, 
#dialogAddProduct .well ul, 
#modifcat .well ul{margin: 0; border: none;}

#dialogAssocCateg .well ul label,
#dialogAddProduct .well ul label,
#modifcat .well ul label {display: inline; color: #868686;}

#dialogAssocCateg .well ul label.expanded, 
#dialogAssocCateg .well ul label:hover,
#dialogAddProduct .well ul label.expanded, 
#dialogAddProduct .well ul label:hover,
#modifcat .well ul label.expanded, 
#modifcat .well ul label:hover {color: #565656;}

#dialogAssocCateg .well ul input,
#dialogAddProduct .well ul input,
#modifcat .well ul input  {margin-top: 0;}

#dialogAssocCateg .well ul ul,
#dialogAddProduct .well ul ul,
#modifcat .well ul ul  {margin-left: 25px;}

#dialogAssocCateg .well ul .close,
#dialogAddProduct .well ul .close,
#modifcat .well ul .close { float: none; font-size: 12px; font-weight: normal; line-height: 12px; color: black; opacity: 1; filter: alpha(opacity=100);}

/*
 * 
 * Media Query
 * 
 * 
 */


@media screen and (max-width:1300px) {
	
#file_mgmt .col1 {width:20%;}
#file_mgmt .col2 {width:24.8%;}
#file_mgmt .col3 {width:37.2%;}

#file_mgmt .col4 { width:49.6%;}
#file_mgmt .col5 { width:62%;}
#file_mgmt .col6 {width:74.4%;}
#file_mgmt .col7 {width:79.5%;}
#file_mgmt .col8 { width:99.1%;}

}



