<?php
    $curCat = Mage::registry('current_category');
    $cHlp = Mage::helper('udropship/catalog');
?>

<div id="menu">
    <div class="widget">
        <?php if ($curCat) : $subCats = $cHlp->getCategoryChildren($curCat); ?>
            <h4>Boutique</h4>
            <ul class="categories">
                <li class="nav1 active"><?php echo htmlspecialchars($curCat->getName())?></li>
                <?php if (count($subCats)):?>
                    <?php foreach ($subCats as $subCat): ?>
                        <li class="nav2"><a href="<?php echo $this->getUrl.$subCat->getRequestPath() ?>"><?php echo htmlspecialchars($subCat->getName())?></a></li>
                    <?php endforeach ?>
                <?php endif ?>
            </ul>
        <?php endif ?>
    </div>
</div>    
