/**
 * @category   Auguria
 * @package    Auguria_Sliders
 * @author     Auguria
 * @license    http://opensource.org/licenses/gpl-3.0.html GNU General Public License version 3 (GPLv3)
 */

/**
 * Global
 */
#auguria-slider {
    margin: 0 auto 15px auto;
    padding: 0px;
    position: relative;
    z-index: 0;
 }

.auguria-slider-container div {
	display:block;
}

#auguria-slider .caption {
	background: none repeat scroll 0 0 rgba(10, 38, 60, 0.5);
    border-top: 1px solid #0A263C;
    color: #FFFFFF;
    font-size: 14px;
    left: 0;
    line-height: 14px;
    padding: 5px 20px 0;
    position: absolute;
    text-shadow: none;
    z-index: 500;    
}

ul.pagination {
	float:right;
    list-style: none outside none;
    margin-top: 7px;
}

ul.pagination li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
}

ul.pagination li a {
    background-image: url("../../../images/auguria/sliders/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 13px;
    width: 13px;
}

ul.pagination li  a:hover {
    background-position: 0 -26px;
}

ul.pagination li.current a, ul.pagination li.current a:hover {
    background-position: 0 -13px;
}

#auguria-slider .next, #auguria-slider .prev {
    margin: 7px 7px 0 0;
    float: left;
    z-index: 101;
    width: 13px;
    height: 13px;
}
#auguria-slider a.next {
    background-image: url("../../../images/auguria/sliders/next.png");
}
#auguria-slider a.prev {
    background-image: url("../../../images/auguria/sliders/previous.png");
}
#auguria-slider a.next:hover{
    background-image: url("../../../images/auguria/sliders/next-hover.png");
}
#auguria-slider a.prev:hover {
    background-image: url("../../../images/auguria/sliders/previous-hover.png");
}
#auguria-slider .next span, #auguria-slider .prev span {
    display: none;
}
/**
 * Empty
 */
body.page-empty #auguria-slider {
    width:900px;
}
body.page-empty .auguria-slider-container {
    width:900px;
    height:394px;
}
body.page-empty .auguria-slider-container div {
    width:900px;
    height:394px;
}
body.page-empty #auguria-slider .caption {
    width:860px;
}

/**
 * One column
 */
div.col1-layout #auguria-slider {
    width:900px;
}
div.col1-layout .auguria-slider-container {
    width:900px;
    height:394px;
}
div.col1-layout .auguria-slider-container div {
    width:900px;
    height:394px;
}
div.col1-layout #auguria-slider .caption {
    width:860px;
}

/**
 * Two columns
 */
div.col2-left-layout #auguria-slider,
div.col2-right-layout #auguria-slider {
    width:685px;
}
div.col2-left-layout .auguria-slider-container,
div.col2-right-layout .auguria-slider-container {
    width:685px;
    height:300px;
}
div.col2-left-layout .auguria-slider-container div,
div.col2-right-layout .auguria-slider-container div {
    width:685px;
    height:300px;
}
div.col2-left-layout #auguria-slider .caption,
div.col2-right-layout #auguria-slider .caption {
    width:645px;
}
/**
 * Three columns
 */
div.col3-layout #auguria-slider {
    width:455px;
}
div.col3-layout .auguria-slider-container {
    width:455px;
    height:200px;
}
div.col3-layout .auguria-slider-container div {
    width:455px;
    height:200px;
}
div.col3-layout #auguria-slider .caption {
    width:415px;
}
