<?php /*
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
*/ ?>

<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">

    <head>
        <?php echo $this->getChildHtml('head') ?>
    </head>
    
    <body class="<?php echo $this->getBodyClass() ?> <?php echo $this->getRequest()->getControllerName(); ?>">
 	
    	<!-- Pour les test -->
    	 <?php /*<div class="alert"> 
    		<p>test</p>
    		</div>   */ ?>
    		
    		<?php 
    		// TEST 
    		// Recupere l id courante de la categorie
			/*	$_cat = Mage::registry('current_category');
				 $_cat->getId(); 
				 Mage::getModel("catalog/category")->load($_cat->getId())->getUrl();
				//echo Mage::getModel("catalog/category")
            	//	->load($_cat->getId())
            	//	->getData("description"); 
				// Nom de l'image de la categorie courante		
				$_cat_nom_img = Mage::getModel("catalog/category")
            		->load($_cat->getId())
            		->getData("image");	
					
				// url de l'image de la categorie courante	
			 $_cat_image = Mage::getBaseUrl(Mage_Core_Model_Store:: URL_TYPE_MEDIA)."catalog/category/".$_cat_nom_img; 
			  */   ?>
			     			 
    	

    	
    	<div class="container">
        <?php echo $this->getChildHtml('after_body_start') ?>
        
        <?php echo $this->getChildHtml('header') ?>
             
      	<div id="" class="bloc-publicite premium_background">
      		<img alt="" src="<?php echo $this->getBaseUrl(); ?>media/image/AVAHIS_background.jpg">
    		<?php /* <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store:: URL_TYPE_WEB); ?>" alt="publicite"></a> */ ?>
		</div>  
		<div class="bloc-pub-univers"></div>
		<div class="bloc-pub-univers_s"></div>

        <?php echo $this->getChildHtml('global_notices') ?>
        <?php echo $this->getChildHtml('breadcrumbs') ?>
        <?php echo $this->getChildHtml('global_messages') ?>
        <?php echo $this->getChildHtml('content') ?>
        <?php //echo $this->getChildHtml('left') ?>
        <?php //echo $this->getChildHtml('right') ?>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
        <?php echo $this->getAbsoluteFooter() ?>
        
             </div>

    </body>
    
</html>
