<html>
	<head>
		<style>*
			body{  background: none repeat scroll 0 0 #70979E;}
		</style>
	</head>
<body >
<div style="background:url('../skin/frontend/soukeo/foavahis/images/soon_home_bg.jpg');width:100%;height:1200px;position:relative;">
	<div style="position:relative;width:50%;font-family: verdana;font-size: 18px; margin: 0 auto;text-align: center;top:250px">
		<p>Bientôt sur vos écrans ...</p>
		<p><strong>Avahis.com </strong>est une place de marché électronique basée à l'île de la Réunion.</p>
		<p><strong>Avahis.com </strong>est édité par la société Soukeo</p>

		<p>....</p>
		 <img src="../skin/frontend/soukeo/foavahis/images/AVAHIS_logo_multicolore_300px.png" />
		 
		<p><strong>Vendeurs, vous souhaitez en savoir plus ?</strong></p>
		<a href="../udropship" >Vendeurs, inscrivez-vous !</a>
	</div>
</div>

</body></html>
