@charset "utf-8";
/* CSS Document */

/*Eric meyer's css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; color:#3e3d40;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none; display:list-item }blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/* Ajout-éléments fondamentaux */
body {min-height:100%; margin:0; padding:0; font-size:13px;}
h1 {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:24px; padding:15px 0 0 0;}
hr {clear:both; margin-bottom:20px; display:block; width:100%; border:none;}
a:hover {cursor:pointer; font-weight: bold;}
h2 { float:left; width:100%; clear:both; display:block; background:#e4e5e5; color:#003b62; padding:10px 20px 10px 20px; margin:10px 0 20px 0; border-top:1px solid #a7a8a9; border-bottom:1px solid #a7a8a9; font-weight:bold; font-size:16px; }
h3 { color:#41aadc; font-size:16px; font-weight:bold; margin:10px 0 10px 0;}
h4 {}
h5 {font-size:14px;}
p {margin-bottom:20px; font-size:13px; line-height:1.5;} 
p.intro { font-size:14px; line-height:1.5;}
p.required { font-size:11px; color:#EB340A; padding-left:15px; }
strong { font-weight:bold; }
/*label {float:left;}*/
input {padding:2px 6px;}

a#filtres {margin-right: 7px;}


.button {padding:3px 10px 3px 18px ; box-shadow: 1px 1px 2px #666; border-radius: 3px; font-size:11px; margin:10px; float:left; }
button:hover { cursor:pointer; background:#333;}
.buttonMini {background:url(./images/button_mini.jpg)top left no-repeat #49484b; color:#FFF; }
.buttonMini:hover {background:url(./images/button_mini_hover.jpg)top left no-repeat #efefef; color:#000;}
.buttonEdit {background:url(./images/button_edit.jpg)top left no-repeat #d04120; color:#FFF; padding-left:30px !important }

.wrapper { width:100%; display:block; clear:both; }
.leftcol { width:20%; float:left; }
.rightcol { width:20%; float:right;}
.form-list label { font-weight:normal; float:left; text-align:left; }
.v-middle { vertical-align:middle; }

/* Clears */
#cfg-quick-create-wrapper li.cfg-quick-create-item .content:after, .clearer:after,.clear:after,.buttons-set:after,.button-set:after,.main-nav:after,.header:after,.main:after,.footer:after,.col3-set:after,.col2-set:after,.pager:after,.box-head:after, .page-title:after, #cfg-quick-create-wrapper li.cfg-quick-create-item .cfg-content-header:after, .form-list li:after, .sell-yours-list .products-list li:after, .sell-yours-list .sorter .sort-by:after, .sell-yours-list .sorter:after, .product-sell-header:after {display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
.clear:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.no-display   { display:none; }

/* habillage du haut de page */

/* Bandeau d'en-tête */
#entete { height:30px; background:url(./images/headline_bg.jpg) repeat-x; position:fixed; top:0px; z-index:1500;}
	#connect { background:url(./images/connect_ico_verrou.png) top left no-repeat;}
		#connect span {float:left; margin-left:40px; margin-top:9px; color:#fff; font-size:13px;}
		#connect span strong { color:#fff; font-weight:bold;}
	#alerts { float:left; font-size:12px; font-weight:bold; }
		#alerts #alert{ float:left; height:30px; padding:0px 10px 0 15px; }
		#alerts #alert:hover { cursor:pointer;} 
		#alerts #alert span {margin:10px 0 0 0; padding-left:15px; display:block; background:url(./images/alerts_puce_white.png) top left no-repeat; color:#FFF;}
		#alerts #alert span:hover {background:url(./images/alerts_puce_white_hover.png) top left no-repeat;}
		#alerts .orange { background:url(./images/alerts_orange.jpg) repeat-x;}
		#alerts .red {background:url(./images/alerts_red.jpg) repeat-x;}
		#alerts #alert.orange span, #alerts #alert.red span { background:url(./images/alerts_puce.png) top left no-repeat; ; color:#000;}
		#alerts #alert.orange span:hover, #alerts #alert.red span:hover {background:url(./images/alerts_puce_hover.png) top left no-repeat;}	
	#utility_nav { width:20%; float:right; }
		#utility_nav span a {float:left; margin-left:40px; margin-top:9px; color:#fff; font-size:13px;}



/* Bandeau menu principal */
#bandeau { width: 100%; height:128px; background:url(./images/header_bg.jpg) repeat-x; margin-top:30px; }
	#bandeau .leftcol img  {margin:0;}
	#bandeau ul#menu1 { float:right; height:113px; padding-top:15px;}
		#bandeau ul#menu1 a {display:block; float:left; border-left: 1px solid #7f7f7f; height:102px;}
		#bandeau ul#menu1 li { padding:0px 25px 0 25px; font-size:14px; float:left; border-right:1px solid #fff; height:80px; display:block; }
		#bandeau ul#menu1 li:first {border-left: 1px solid #fff;}
		#bandeau ul#menu1 li span {margin:85px 0 0 0; color:#7f7f7f; display:block; text-transform: uppercase; font-weight: bold;}
		#bandeau ul#menu1 li:hover span { color:#0099da;}
		#bandeau ul#menu1 li.actif span {color:#0099da;}
		#bandeau ul#menu1 a:hover {}	
		#bandeau ul#menu1 a.actif {}   
        	

		#bandeau ul#menu1 a #icone1  {background:url(./images/menu1_ico1.png) top center no-repeat;}
		#bandeau ul#menu1 a #icone1:hover {background:url(./images/menu1_ico1_hover.png) top center no-repeat;}
		#bandeau ul#menu1 a #icone1.actif {background:url(./images/menu1_ico1_hover.png) top center no-repeat;}
        
		#bandeau ul#menu1 a #icone2 {background:url(./images/menu1_ico2.png) top center no-repeat;}
		#bandeau ul#menu1 a #icone2:hover {background:url(./images/menu1_ico2_hover.png) top center no-repeat;}
		#bandeau ul#menu1 a #icone2.actif {background:url(./images/menu1_ico2_hover.png) top center no-repeat;}
        
		#bandeau ul#menu1 a #icone3{background:url(./images/menu1_ico3.png) top center no-repeat;}
		#bandeau ul#menu1 a #icone3:hover {background:url(./images/menu1_ico3_hover.png) top center no-repeat;}	
        #bandeau ul#menu1 a #icone3.actif {background:url(./images/menu1_ico3_hover.png) top center no-repeat;} 
		
		

/* Zone de menu à gauche */
#menu2 { height:100%; min-height:500px; background:url(./images/leftcol_bg.jpg) repeat-y top right #e4e5e5; position:relative; z-index:100;
                -moz-box-shadow:2px 0px 5px 0px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow:2px 0px 5px 0px rgba(0, 0, 0, 0.3);
                box-shadow:2px 0px 5px 0px rgba(0, 0, 0, 0.3);}
	#menu2 #intro { height:80px;}
	#menu2 ul { font-size:14px; border-bottom:1px #aaaaaa solid;}
	#menu2 li:hover {cursor:pointer;}
		#menu2 ul li {background:#dfe0e2; position:relative; border-top:1px #aaaaaa solid; padding:10px 0px 10px 20px; border-right:1px solid #fff; }
		#menu2 ul li a { text-decoration:none; }
		#menu2 ul a { text-decoration:none; }
		#menu2 ul li:hover {line-height:1;}
		#menu2 ul li.active {/*background:#0099da; color:#FFF; */line-height:1;}
		#menu2 ul li:hover a {background:#0099da; color:#FFF; font-weight:normal; }
		#menu2 ul li.active a {background:#0099da; color:#FFF;}
		#menu2 ul ul {background:url(./images/menu2_int_bg.jpg) right repeat-y #fff; font-size:13px; border-bottom:none;}
			#menu2 ul ul li { background:none; list-style-image: url(./images/menu2_puce.png); display: list-item; list-style-position:inside;}
			#menu2 ul ul li:hover {background:#0099da; color:#FFF; list-style-image: url(./images/menu2_puce_hover.png); line-height:1;}
			#menu2 ul ul li.active {background:#0099da; color:#FFF; font-size:14px;  list-style-image: url(./images/menu2_puce_hover.png); font-weight:bold; line-height:1;}
/*#menu2 * {padding-left:30px;}*/

/* footer */
#footer {background:url(./images/footer_bg.jpg) bottom left repeat-x #fff; min-height:100px; z-index:500; box-shadow: 0px 1px 4px #666; margin-top:20px; font-size:12px; padding: 20px 0; float:left;}
    #footer .col-1 {width:19%; padding-left:25%; margin-top:10px; }
    #footer .col-2 {width:25%; margin-top:10px; }
    #footer .col-3 {width:25%; margin-top:10px; }
    #footer label { font-weight:bold; margin-bottom: 0px; display: block; font-size: 15px; }
    #footer a:hover { text-decoration:underline; font-weight:bold; }
    #footer a { margin-bottom:0px; display: block; text-decoration: none;}
	
/* contenu */
#contenu { float:left; width:80%; position:relative; z-index:0; }
	#contenu #title { width:97%; background:url(./images/title.jpg) repeat-x; height:75px; position:relative; z-index:10; padding-left:3%; -moz-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); margin-bottom:20px;}
	#contenu .col1 { width:94%; float:left; margin-left:2%; margin-bottom:20px; min-height:20px; }
	#contenu .col2 { width:61%; float:left; margin-right:2%;  margin-left:2%; min-height:20px; }
	#contenu .col3 { width:28%;  margin-right:2%; float:left; margin-left:2%; min-height:20px;}

	.box { background:#eff0f0; float:left; box-shadow: 0px 1px 4px #666;}
		.box h4 { height: 20px; color:#eff0f0; font-weight:bold; margin:0; width:90%; padding:8px 5% 7px 5%;  border-top-left-radius: 3px; border-top-right-radius: 3px; font-size:18px; text-align:left;}
		.box h4.blue { background: #0099da; color: #fff !important;}
		.box h4.grey { background:#ddd; color:#3e3d40 !important }
		.box h4.search { padding:0; width:100%; border-top-left-radius:10px; }
		.box h4 a.action { text-decoration:none; margin-right:20px; }
		.box h4 a.action span { display:inline-block; width:18px; height:17px; background:url(./images/ico_plus.jpg); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; box-shadow: 0px 1px 4px #666; } 
		.box h4 a.action span.open { background:url(./images/ico_moins.jpg); }
		.box p {margin:10px;}
		.box p.required { font-size:14px; font-style:italic; color:#EB340A; margin:10px 0px 0px 30px; }
		.box h4 button {float:right; }
		.box dl {font-size:13px; }
	
	.boite { padding:10px; }
		.boite h5 a.action span { display:inline-block; width:18px; height:17px; background:url(./images/ico_plus.jpg); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; box-shadow: 0px 1px 4px #666; } 
		.boite h5 a.action span.open { background:url(./images/ico_moins.jpg); }
		
	
	.title { width:100%; margin-bottom:10px; font-weight:bold; position:relative; font-size:16px; }
	.col-1 { float:left; width:30%; border-left: 1px #fff solid; padding: 1%; }
	.col-2 { float:left; width:30%; border-left: 1px #fff solid; padding: 1%;}	
	.col-3 { float:right; width:29%; border-left: 1px #fff solid; padding: 1%;}
	.col-4 { float:left; width:68%; }
	.col-5 { float:left; width:45%; padding:0px; }
	   .col-5 h4 { color:#6e6e70; text-align:left; padding-left:0px; }
	.col-6 { float:right; width:45%; padding:10px; }
	   .col-6 h4 { color:#6e6e70; text-align:left; padding-left:0px; }
    .col-7 {float:left; width:100%; padding:0px; }
       .col-7 h4 { color:#6e6e70; text-align:left; padding-left:0px; font-size:16px; margin-top:20px; }

	.button-set { clear:both; width:98%; height:20px; margin:0; padding:0 2% 0 2%; }
		.button-set button { float:right; width:100px; }
		.button-set li { margin-bottom:10px; }
		.button-set a { color:#0099da; text-decoration: underline; }
		.button-set a:hover { color:#0099da; }

	button  {background:#d74319; padding:5px 10px; border-radius:10px; moz-border-radius:10px; webkit-border-radius:10px;  }
		button span {color:#FFF; font-weight:bold; font-size:15px;}
	
	.filtres { width:98%; background:#e4e5e5; color:#003b62; padding:10px; margin-bottom:22px; font-weight:bold; font-size:13px; box-shadow: 0px 1px 4px #666; }
		.filtres button { float:right; width:100px; }
		.filtres .button-set {padding:0 0 10px 0;}


.actions-groupees { width:98%; background:#e4e5e5; color:#003b62; padding:10px; margin-top:20px; margin-bottom:20px; border:1px solid #a7a8a9; font-weight:bold; font-size:16px; box-shadow: 0px 1px 4px #666; }
		.actions-groupees button { float:right; width:100px; margin-right:15px; background:#0099da; }
			.actions-groupees button span { font-weight:bold; color:#fff; font-size:15px; }
.left { float:left; text-align:left; }

/* identification */
#login {}
   #login .boite { width:50%; margin:30px 25% 30px 25%; padding:30px; border:1px solid #ddd; box-shadow: 0px 1px 4px #666; }
   #login .form-list li { margin-bottom:15px; }
   #login button { margin-bottom:15px; }

/* mot de passe oublié */
#password .boite h4 { text-align:center; font-size:16px; font-weight:bold; color:#0099da; height:80px; }
#password .boite { padding-top:50px; padding-bottom:30px; }
#password li { margin-bottom:30px; }
#password input { position:absolute; left:33%;  width:33%; margin-top:-5px;  }
#password label { margin-left:15%; }
#password .button-set { margin-left:33%; width:32%; margin-top:30px; }
#password .button-set button {float:left; margin-left:40%; width:20%; }
#password p { margin-top:50px; }

/* inscription */
#register {line-height:1.5; text-align: center;}
#register h3 { visibility:hidden; }
#register .required { /*float:left; */ text-align:left;}
#register td {width:50%; padding-left:3%;}
#register h2 { width:97%; line-height:2; }
#register h2 span { font-weight:normal; padding-left:30px; text-align:center; }
#register li { margin-bottom:3%; }
#register ul.links {float:left;}
#register .form-list input { float:left; width:80%; margin-bottom:1%; }
#register .form-list textarea { float:left; width:80%; height:150px; margin-bottom:1%;  }
#register .form-list select { float:left; width:82%; margin-bottom:10px; height:1%; }
#register .validation-advice { position:relative; float:right; margin:0 17% 10px 0; color:red; font-size:12px; font-style:italic;}
#register #email-container .validation-advice { }
/*#register #specif_mail { position:absolute; top: 64.5%; left:3%; font-size: 12px; width: 50%; text-align: left; font-style: italic; line-height:1;  }
#register #specif_logo { position:absolute; top:64.5%; left:49.1%; font-size:12px; width: 50%; text-align: left; font-style: italic; line-height:1; }*/
#register #comments-container textarea {/*width:81%;*/ height:75px; }
#register .button-set { margin-bottom:15px; }
#register .button-set button { min-width:30%; margin: 0 35% 30px 35%; padding: 10px 20px;}
#registration-form h3 { text-align:left;}
#register #cgu_cgv { float:left; text-align:center; width:68%; margin:0 0 30px 15%; }
/*	#register #cgu_cgv #cbx_cgv_cgu {margin-left:50px; float:left; }
	#register #cgu_cgv label {float:left;}*/
#register #advice-required-entry-cbx_cgv { position:relative; margin:0; padding:0; /*top:88.7%; left:42%; */ }
#register #advice-required-entry-cbx_cgu { position:relative; margin:0; padding:0; /*top:90.6%; left:42%; */}









/* gestion du compte vendeur */
#preferences .form-table th { width: 25%; text-align: right !important; padding-right: 10px; }
#preferences td { width:50%; }
#preferences input { width:80%; }
#preferences select { width:81%; }
#preferences textarea { width:80%; }
#preferences button { width: auto !important; margin: 0 20px 10px 0; }
#preferences .lien-image { margin-bottom:15px; }
#preferences #image-delete-logo {width:auto; }

/* TABLEAU DE BORD */
#dashboard .col-1 li { margin-bottom:5px; font-weight:normal; }
#dashboard .form-list .input-text { width:100px; }
#dashboard .form-list .small-text { width:80px; }
#dashboard #filter-search { margin:-10px 50px 10px 10px; padding:4px 70px 5px 40px ; box-shadow: 1px 1px 2px #666; border-radius: 3px; font-size:11px;  }
#dashboard #submit_action {margin-right:50px; }
#dashboard #massaction_submit {float:right; margin: 0 50px 10px 10px; width:100px; }
#dashboard .data-table th { text-align:left; border-right:1px solid #ffffff; }
#dashboard .data-table th.last { border-right:none; }
#dashboard .data-table th.centre { text-align:center; }
#dashboard .col-5 h4 { margin:0px; padding:0px; vertical-align:middle; font-size:16px;  }
#dashboard .col-5 p { padding:0px; margin:0px; margin-bottom:25px; text-align:left; font-size:14px; }
#dashboard .col-5 .droite { float:right; margin-bottom:10px; }
#dashboard .data-table td.centre { text-align:center; }
#dashboard .data-table td.last {border-right:none; }
#dashboard .data-table th.a-center { text-align:center; border-left:none !important; }
#dashboard .data-table td.a-center { border-left:1px #6e6e70; text-align:center;  }
#dashboard .data-table td a.a-center { text-align:center !important; font-weight:bold !important; }
#dashboard .data-table h4.product-name { font-size:14px; color:#000; white-space:nowrap; }
#dashboard .data-table h4 a.item-gift-message-trigger { font-size:12px; font-weight:normal; }
#dashboard .data-table .item-gift-message-content p { color:#0000FF; }
#dashboard .box h4 button { width:100px; padding:3px 10px 3px 18px ; box-shadow: 1px 1px 2px #666; border-radius: 3px; font-size:11px; margin-right:-4.6%; margin-top:-2px; }
#dashboard .trierpar {float:right; min-width:390px; }
	#dashboard .trierpar li {color:#3e3d40 !important;}
    #dashboard .trierpar label {font-size:14px; color:#3e3d40 !important; margin-right:10px; font-weight:bold; margin-top:2px;}
    #dashboard .trierpar select { margin-top:0; font-size:12px; width:150px;}
#dashboard .comment { width:auto; margin-left:232px; }
#dashboard #chemin {text-align:center; margin-bottom:20px; }    
.changeStatus {}
    .changeStatus label {margin:9px 15px 0 0; }
	.changeStatus select {}
.prix_stats { font-size:20px; font-weight:bold; }


/* CATALOGUE */
/* consultation */
#catalogue .col-1 li, #catalogue .col-2 li, #catalogue .col-3 li { margin-bottom:10px; }
#catalogue .data-table td.fiche_editable { color:#0000FF; }
    #catalogue .data-table td.fiche_editable span { color:#0000FF; }
    #catalogue .data-table td.fiche_editable a { color:#0000FF; font-weight:bold; }
#catalogue .loupe { background:url(./images/ico_loupe.png) no-repeat; }

/* création fiche produit - étape 1 */
#crea_fiche_1 p {font-size:18px; font-weight:bold; margin:0 0 10px 40px; }
#crea_fiche_1 #info { list-style:outside;  line-height:1.5; margin-bottom:30px; }
#crea_fiche_1 #info  li { font-size:14px; margin-left:60px; }
#crea_fiche_1 .col1 { width:96%; float:left; margin-left:2%; margin-bottom:20px; min-height:20px; }
#crea_fiche_1 .box {background:#ffffff; float:left; box-shadow:none;}
#crea_fiche_1 #contenu_onglet h4 { font-size:20px; color:#0099da; padding:0; margin-top:3%; margin-bottom:3%; width:100%; text-align:center; }
#crea_fiche_1 #lbl_type_of_product { margin-left:10%; }
#crea_fiche_1 #udprod_set_id { margin-left:2%; }
#crea_fiche_1 button { margin:30px 6% 0 0; padding:6px 20px 6px 28px;  }

/* création fiche produit - étape 2 */
#crea_fiche_2 #title .required { padding:0; margin-top:10px; }
#crea_fiche_2 p.info {font-size:18px; font-weight:bold; margin:0 0 10px 40px; }
#crea_fiche_2 #info { list-style:outside;  line-height:1.5; margin-bottom:30px; }
#crea_fiche_2 #info  li { font-size:14px; margin-left:60px; }
#crea_fiche_2 #classeur { width:96%; float:left; margin-left:2%; margin-bottom:20px; min-height:20px; background:#ffffff; float:left; box-shadow:none; }
#crea_fiche_2 #barre_onglets { font-weight:bold; color:#0099da; }
#crea_fiche_2 #etape { font-size:20px; color:#0099da; padding:0; margin-top:1.5%; margin-bottom:3%; width:100%; text-align:center; font-weight:bold; }
    #crea_fiche_2 #etape span { font-size:16px; color:#0099da; }
#crea_fiche_2 .form-list {}
	#crea_fiche_2 .form-list {}
	#crea_fiche_2 .form-list li.wide { margin-bottom:15px; }
	#crea_fiche-2 .form-list li.x-tree-node {margin:0px; }
	#crea_fiche_2 .form-list input.input-text { float:left; width:50%; margin-right:10px; }
	img#udmulti_special_to_date_trig, img#udmulti_special_from_date_trig, img#news_from_date_trig, img#news_to_date_trig {margin-top:7px;}
#crea_fiche_2 #short_description { float:left; width:90%; height:80px; }
#crea_fiche_2 #description { float:left; width:90%; height:150px; }
#crea_fiche_2 .grid tr.headings { background:url(../images/sort_row_bg.gif) 0 50% repeat-x; }
    #crea_fiche_2 .grid tr.headings th { border-width:1px; border-color:#f9f9f9 #d1cfcf #f9f9f9 #f9f9f9; border-style:solid; padding-top:1px; }
    #crea_fiche_2 .grid tr.headings th.last { border-right:0; }
#crea_fiche_2 .grid td { vertical-align:middle; text-align:center; border:none; padding-top:10px; }
    #crea_fiche_2 .grid td.cell-image { width:120px;  }
    #crea_fiche_2 .grid td.cell-label { width:40%;  }
#crea_fiche_2 .grid input { width:80%;  }
#crea_fiche_2 .button-set { width:94% !important; float:left; margin-left:2%; margin-bottom:20px; min-height:20px; border:none !important; padding:0px; }
    #crea_fiche_2 .button-set button {width:auto; float:right; margin-left:10px; }
#crea_fiche_2 .validation-advice { color:red; font-size:12px; font-style:italic; }
 
/* Mise en vente - toutes étapes */
#onglets { list-style-type : none; width:100%; height:100%; }
    #onglets li { float: left; background: url(./images/onglet_bg.jpg) repeat-y top left #e4e5e5;  z-index: 100; padding: 10px 3.5% 10px 3%; border-top-left-radius: 10px; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); font-size: 17px; margin-right:20px; }
        #onglets li:hover { background:#d74319; color:#ffffff; cursor:pointer; }
        #onglets li.selected { background:#0099da; color:#ffffff; }
    #onglets #onglet1 { /*width:32%;*/ }
    #onglets #onglet2 { /*width:32%;*/ margin-left:-1%; }
    #onglets #onglet3 { /*width:37.5%;*/ margin-left:-1%; }
#contenu_onglet { background:#eff0f0; float:left; box-shadow: 0px 1px 4px #666; width:100%; min-height:300px; padding-top:30px; padding-bottom:50px;  }

#ariane {margin: 0 0 30px 25px;}
	#ariane:before {content : "Vous êtes ici : "; font-style:italic; font-weight:normal; float:left; margin-right:5px;} 
	#ariane a { float:left; font-weight: bold; margin-right:8px;}
	#ariane a:hover {text-decoration:underline;}	
	#ariane a:before {content:"> ";}
	
/* Mise en vente - étape 1 */
#recherche p {font-size:18px; font-weight:bold; margin:0 0 10px 40px; }
#recherche #info { list-style:outside;  line-height:1.5; margin-bottom:30px; }
#recherche #info  li { font-size:14px; margin-left:60px; }
    #recherche .col1 { width:96%; float:left; margin-left:2%; margin-bottom:20px; min-height:20px; }
    #recherche .box {background:#ffffff; float:left; box-shadow:none;}
    #recherche #barre_recherche { position:relative; left:15%; width:70%; }
    #recherche #barre_recherche h3 {text-align:center; margin-bottom:50px; }
    #recherche #barre_recherche input {width:60%; box-shadow: 0px 1px 4px #666; margin-left:20%; margin-bottom: 20px; }
    #recherche #barre_recherche button { width:30%; margin-left:35%; }
    #recherche #navigation_categories { visibility:hidden; padding-left:10%; margin-top:-180px; }
	    #recherche #rappel_categories li { margin-bottom:10px;}
		
#recherche #barre_recherche validation-advice { font-style:italic;}
	#recherche #navigation_categories h5 { font-size:15px; margin-bottom: 15px; }
	#recherche #navigation_categories .col-1 {}
        #recherche #navigation_categories .col-2 { }
        #recherche #navigation_categories .col-3 { }
        #recherche #navigation_categories li {margin-bottom:15px; }
	#recherche #navigation_categories li:before { content: "> "; font-weight:bold; float: left; margin-right: 4px;}
		#recherche #navigation_categories li a { font-weight:bold; text-decoration:none; }
            #recherche #navigation_categories a:hover { color:#0099da; text-decoration:underline; }    
    #recherche #acces_creation_produit { visibility:hidden; }
    #recherche #acces_creation_produit p { position:absolute; top:50%; left:20%; width:60%; text-align:center; font-size:20px; font-weight:bold; color:#0099da; }
    #recherche #acces_creation_produit button {margin-top:30px; width:30%; }

/* Mise en vente - étape 2*/
#nav_recherche p {font-size:18px; font-weight:bold; margin:0 0 10px 40px; }
#nav_recherche #info { list-style:outside;  line-height:1.5; margin-bottom:30px; }
#nav_recherche #info  li { font-size:14px; margin-left:60px; }

#nav_recherche #contenu-nav-recherche { box-shadow:none; }
#nav_recherche .col1 { width:96%; float:left; margin-left:2%; margin-bottom:20px; min-height:20px; }
#nav_recherche .col2 {box-shadow: 0px 1px 4px #666; border-top-left-radius:3px; border-top-right-radius:3px; margin-bottom:30px; }
    #nav_recherche .col2 hr { border-bottom:1px solid #6e6e70; }
#nav_recherche .col3 {box-shadow: 0px 1px 4px #666; border-top-left-radius:3px; border-top-right-radius:3px; margin-bottom:30px; }
#nav_recherche .box {background:#ffffff; float:left;}
#nav_recherche #barre_recherche { float:left; width:96%; margin-left:2%; margin-bottom:20px; min-height:20px; background-color:#eff0f0 !important; box-shadow: 0px 1px 4px #666; border-radius:3px; }
    #nav_recherche #barre_recherche h4 { border-radius:3px; float:left; min-height: 35px;}
    #nav_recherche #barre_recherche label { color:#fff; margin-right:20px; }
    #nav_recherche #barre_recherche input { width:40%; }
#nav_recherche .sort-by { float:right; padding-right:36px; }
    #nav_recherche .sort-by label { vertical-align:middle; }
    #nav_recherche .sort-by select { padding:0; margin:0 0 1px; vertical-align:middle; }
#nav_recherche .products-list li { margin:8px 0; padding:8px 10px 15px 10px; }
    #nav_recherche .products-list li p { position:relative; left:9px; font-size:12px; float:left; width:75%; margin-bottom:0;  }
#nav_recherche .product-image { float:left; display:block; border: 1px solid #D0D0D0; width:80px; height:80px; box-shadow:0 0 4px #ccc; -moz-box-shadow:0 0 4px #ccc; -webkit-box-shadow:0 0 4px #ccc; }
#nav_recherche .product-name { position:relative; font-size:14px; margin-left:19px; font-weight:bold; width:78%; float: left; margin-top: 5px; }
#nav_recherche .vendu { background:url(./images/fond2.jpg) repeat-x; padding-left:3%; -moz-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); margin-bottom:20px; min-height:110px; }
#nav_recherche .nonVendu { background:url(./images/fond.jpg) repeat-x; padding-left:3%; -moz-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.5); margin-bottom:20px; min-height: 110px; }
#nav_recherche .products-list p { height: 70px; overflow:hidden;}
    #nav_recherche .nonVendu button { position:relative; float:right; }
	#nav_recherche .update { float:right; font-size:14px; color:#0099da; margin-top:10px; }
	#nav_recherche #affichage_produits { float:right; }
	#nav_recherche #rappel_categories a:hover { /*font-weight:bold;*/ color:#0099da !important; text-decoration:underline; }
	#nav_recherche #rappel_categories form li { margin-bottom:5px; margin-top:5px; border-bottom:#999 1px solid; padding-bottom: 5px;}
	#nav_recherche #rappel_categories form li:before {content: "> ";}
/* select and sell - étape 3 */
#sell_your #classeur { width:96%; float:left; margin-left:2%; margin-bottom:20px; min-height:20px; background:#ffffff; float:left; box-shadow:none; }
#sell_your #barre_onglets { font-weight:bold; color:#0099da; }
#sell_your .product-image { float:left; border: 1px solid #D0D0D0; width:80px; height:80px; box-shadow:0 0 4px #ccc; -moz-box-shadow:0 0 4px #ccc; -webkit-box-shadow:0 0 4px #ccc; margin-bottom:10px; }
    #sell_your .product-image img { width:80px; height:80px; } 
#sell_your .boite h3 { margin-left:95px; margin-top:-8px; color:#0099da; }
#sell_your .boite span.sku { position:relative; margin-left:20px; font-size:13px; font-style:italic; } 
#sell_your .form-table .form-list li { margin-bottom:15px; }
#sell_your #description { position:relative; margin-left:100px; max-height:10%; width:70%; font-size:11px; line-height:1;  }
#sell_your .validation-advice { color:red; font-size:12px; font-style:italic; }
    
/* édition manuelle des stocks */
#stock p { font-size:16px; }
    #stock p a { color:#0000FF; text-decoration:underline; font-weight:bold; }
    #stock p i { font-style:italic; }
    #stock p b { font-weight:bold; }
    #stock .col-1 li { margin-bottom:15px; }
    #stock .col-2 li { margin-bottom:15px; }
    #stock th { border-right:1px solid #ffffff; }
        #stock th.last {border-right:none; }
    #stock td.last {border-right:none; }
    #stock .input-text { width:90px;  text-align:right; }
    #stock #submit { width:auto; color: #fff; font-weight: bold; font-size: 15px; margin: 20px 10px 20px 0; }

/* COMMANDES */
#commandes .col-1 li { margin-bottom:5px; font-weight:normal; }
#commandes .form-list .input-text { width:100px; }
#commandes .form-list .small-text { width:80px; }
#commandes #filter-search { margin:-10px 50px 10px 10px; padding:4px 70px 5px 40px ; box-shadow: 1px 1px 2px #666; border-radius: 3px; font-size:11px;  }
#commandes #submit_action {margin-right:50px; }
#commandes #massaction_submit {float:right; margin: 0 50px 10px 10px; width:100px; }
#commandes .data-table th { text-align:left; border-right:1px solid #ffffff; }
#commandes .data-table th.last { border-right:none; }
#commandes .data-table th.centre { text-align:center; }
#commandes .col-5 h4 { margin:0px; padding:0px; vertical-align:middle; font-size:16px;  }
#commandes .col-5 p { padding:0px; margin:0px; margin-bottom:25px; text-align:left; font-size:14px; }
#commandes .col-5 .droite { float:right; margin-bottom:10px; }
#commandes .data-table td.centre { text-align:center; }
#commandes .data-table td.last {border-right:none; }
#commandes .data-table th.a-center { text-align:center; border-left:none !important; }
#commandes .data-table td.a-center { border-left:1px #6e6e70; text-align:center;  }
#commandes .data-table td a.a-center { text-align:center !important; font-weight:bold !important; }
#commandes .data-table h4.product-name { font-size:14px; color:#000; white-space:nowrap; }
#commandes .data-table h4 a.item-gift-message-trigger { font-size:12px; font-weight:normal; }
#commandes .data-table .item-gift-message-content p { color:#0000FF; }
#commandes .box h4 button { width:100px; padding:3px 10px 3px 18px ; box-shadow: 1px 1px 2px #666; border-radius: 3px; font-size:11px; margin-right:-4.6%; margin-top:-2px; }
#commandes .trierpar {float:right; min-width:390px; }
    #commandes .trierpar li {color:#3e3d40 !important; }
    #commandes .trierpar label {font-size:14px; color:#3e3d40 !important; margin-right:10px; font-weight:bold; margin-top:2px; }
    #commandes .trierpar select { margin-top:0; font-size:12px; width:150px; }
#commandes .comment { width:auto; margin-left:232px; }
#commandes #chemin {text-align:center; margin-bottom:20px; }    

    		
.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages {  overflow:hidden; }
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:24px !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; background-image:url(../images/i_msg-error.gif); color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; background-image:url(../images/i_msg-success.gif); color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; background-image:url(../images/i_msg-note.gif); color:#3d6611; }

    

		
/* listes */

.form-list input.input-text { width:39%; margin-top:3px; }
.form-list li {margin-bottom:7px;}
.form-list select { width:168px; height:25px; margin-top:3px; }
button.comment { width:150px; margin-left:260px; margin-bottom:15px;  }
button#filter-search {margin:-20px 20px 0 0;}

/* tableaux */
.data-table { width:100%; border:1px solid #ddd; margin:-1px; box-shadow: 0px 1px 4px #666; }
.data-table thead tr {border:1px solid #6e6e70; background-color:#6e6e70; font-weight:bold; vertical-align:middle; white-space:nowrap; }
.data-table thead th { color:#fff; padding:7px 4px 6px 5px; }
    .data-table thead th.first { border-left:1px solid #6e6e70; }
    .data-table thead th.last { border-right:1px solid #6e6e70; }
    .data-table thead th.middle { border-left:1px solid #fff; border-right:1px solid #fff; }
    .data-table thead th.centre { text-align:center; }
    .data-table thead th.gauche { text-align:left; }
.data-table .pair  { background:#fcfcfc; }
.data-table .impair { background:#f5f5f5; }
.data-table .consult {background:#0099da; border: 1px solid #0099da; }
    .data-table .consult td a {color:#fff !important;}
    .data-table .consult td a strong {color:#fff !important;}	
	.data-table .consult td { font-weight:normal; font-size:15px; color:#fff; border-left:1px solid #fff; }
.data-table td {border:1px solid #ddd; padding:5px 5px 5px 5px; font-size:12px; line-height:1; vertical-align:middle !important; }
    .data-table td.first {padding-top:0;}
	.data-table td.centre { vertical-align:middle; text-align:center; }
    .data-table td.gauche { vertical-align:middle; text-align:left; }
    .data-table td.droite {vertical-align:middle; text-align:right; }
    .data-table td.info { border-right:none; border-left:none; border-bottom:5px solid #0099da; padding:25px; }
	    .data-table td.info .form-list label {width: 30%; margin: 8px 4% 10px 0; text-align: right;}
	    .data-table td.info .form-list input,  .data-table td.info .form-list select,  .data-table td.info .form-list textarea {width:55%; margin:0 0 0 0;}		
.data-table td.last { border-right:none; }
    
.data-table a.action { display:block; padding:4px; }
.data-table a.action span { display:inline-block; width:18px; height:17px; background:url(./images/ico_plus.jpg); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; box-shadow: 0px 1px 4px #666; }
.data-table a.action span.open { background:url(./images/ico_moins.jpg); }
.data-table a.action span a
.data-table .form-list label { float:left; text-align:left; width:200px; color:#666; margin-bottom:20px;  }
.data-table .form-list input.colonne { float:left; width:300px;  }
.data-table .form-list textarea.colonne { float:left; width:300px; height:50px; margin-bottom:10px;  }
.data-table .form-list select.colonne { float:left; width:305px;  }
.data-table .form-list li input.colonne { float:left; width:400px;  }
.data-table .form-list li textarea.colonne { float:left; /*width:406px;*/ height:50px; margin-bottom:10px;  }
.data-table .form-list li select.colonne { float:left; /*width:413px; */ }

.form-table { margin-left:10px; width:100%; }
.form-table tr { height:30px;  }
.form-table th { text-align:left; vertical-align: middle;}
.form-table td { vertical-align: top; }
.form-table input { width:250px; }
.form-table input.checkbox { margin-right:3px; width:10px; vertical-align:middle; display:inline; }
.form-table select { width:255px; margin-bottom:10px;  }
.form-table textarea { width:250px; height:60px; margin-bottom:10px; }
.form-table .lien-image { vertical-align:middle; height: 50px; width: 50px;  display:inline-block; }
.form-table img.logo { width:50px; height:50px; }

.form-table .note { font-size:10px; }

/* popups */
#popup { width:95%; height:95%; }
	#popup .col1 {background:#eff0f0; float:left; box-shadow: 0px 1px 4px #666; width:100%; margin-top:2%; margin-left:2%; margin-bottom:20px; min-height:20px; }
		
/* Pager */
.pager { font-size:11px; padding:15px 10px 10px 10px; text-align:center; border-top:1px solid #bbb; margin:0; background:#fff; }
.pager .amount { float:left; margin:0; }
.pager .limiter { float:right; font-size:13px; }
.pager .limiter label { vertical-align:middle; }
.pager .limiter select { padding:0; margin:0 0 1px; vertical-align:middle; }
.pager .pages { margin:0 140px;font-size:13px; line-height: 1.5;}
.pager .pages ol { display:inline; }
.pager .pages li { display:inline; margin:0 2px; }
.pager .pages .current { font-weight:bold; }
.pager a,
.pager a:hover { color:#394e9c; text-decoration:underline; }

	
#zenbox_tab { top: 80% !important; }