<!--@subject Confirmation de votre inscription commercant sur Avahis.com @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <a href="{{store url=''}}" style="margin-bottom:10px; text-decoration:none; color:black; font-size:16px; font-weight:bold; font-family:Trebuchet MS;">
                        <img src="{{skin url='images/logo_email.jpg' _area='frontend'}}" alt="AVAHIS.COM" border="0"/>
                        Place de Marché de l'Océan Indien
                    </a>
                </td>
            </tr>
        </table>
        <br/><br/>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p><strong>Bonjour {{var vendor.civilite}} {{var vendor.vendor_attn}},</strong></p>

                    <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Votre adresse e-mail {{var vendor.email}} doit être confirmée afin que vous puissiez l'utiliser pour vous connecter à notre plateforme.</p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Pour confirmer cette adresse e-mail et vous identifier instantanément, nous vous prions de bien vouloir utiliser <a href="{{store url="umicrosite/vendor/confirm/" _query_id=$vendor.vendor_id _query_key=$vendor.confirmation}}" style="color:#1E7EC8;">ce lien de confirmation</a>. Ce lien n'est valable qu'une seule fois.</p>

                    <p>Cordialement,<br/>L'équipe <a href="http://www.avahis.com"><span><strong>Avahis.com</strong></span></a></p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>

