/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	background: white;
	-moz-box-shadow: 0px 1px 3px 0px #bbb;
-webkit-box-shadow: 0px 1px 3px 0px #bbb;
-o-box-shadow: 0px 1px 3px 0px #bbb;
box-shadow: 0px 1px 3px 0px #bbb;
border-radius: 5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding:0 10px;
float: right; 
position: relative;
z-index:10;
margin-top: -30px;
width: auto;
text-align: center;
right: 3%;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	padding:10px 10px 10px 10px;
	border-right:1px solid #ddd;
	/* background:url(bullets.png) no-repeat;
	text-indent:-9999px; */
	margin: 0px;
}
.theme-default .nivo-controlNav a.active {
	background:##ffc20e;}

.theme-default .nivo-controlNav a:hover { background:#0099da; color:#FFF; text-decoration:none; font-weight:bold;}
	

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	/* background:url(arrows.png) no-repeat;
	text-indent:-9999px; */
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
   /* font-family: Helvetica, Arial, sans-serif; */
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}