@charset "utf-8";
/* CSS Document */

/*Eric meyer's css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0; list-style:none;
/*font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif; */
font-family: 'PT Sans', sans-serif;
color:#3b3734; text-decoration:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none; display:list-item }blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
div {display:block;}
html {height:100%;}
body {height:100%;}

/* fondamentaux */
html {}
body{ background: #eeeeee; color:#202220;  min-height:100%; margin:0; padding:0; }

h1 {font-family: 'PT Sans Narrow', sans-serif; font-size:45px; margin:0 0 25px 0; }
h2 {font-family: 'PT Sans Narrow', sans-serif; font-size:30px; margin:0 0 30px 0; clear:both; }
h3 {font-family: 'PT Sans Narrow', sans-serif; font-size:28px; color:#5f605c; margin-bottom:25px; }
h3.insert { background:#cdcdcd; border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px; padding:10px 20px 10px 20px; float:left;}
h4 {font-family: 'PT Sans Narrow', sans-serif; font-size:23px; text-transform:none; margin-bottom: 10px;}
h5 { text-transform:none; text-decoration:underline; font-size:18px; margin-bottom:7px;}


span {}
p{ font-weight:normal; font-size:14px; line-height:1.5; margin-bottom:20px;}
a {}
a:hover {cursor:pointer; text-decoration:underline;}
strong {font-weight:bold;}
button { border:none; margin:0; padding:0; background-color:transparent; padding:0; }
hr {clear:both; display:block; width:100%; border:none; margin:0;}
.orange { color:#f58220;}
.blue {color:#0099da;}



/* Boutons */
button:hover {cursor:pointer;}
button a:hover {text-decoration:none;}
button.CTA_orange {font-family: 'PT Sans Narrow', sans-serif; text-align:center; font-size:18px; color:#363533;
border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; font-weight:bold;
background-color:#fedc00; border:1px solid #f4b344; display:inline-block; color:#ffffff; padding:2px 10px 2px 12px; line-height:1.6; text-decoration:none; margin:5px 10px;
-moz-box-shadow:inset 0px 0px 0px 0px #ffe0b5;
-webkit-box-shadow:inset 0px 0px 0px 0px #ffe0b5;
box-shadow:inset 0px 0px 0px 0px #ffe0b5;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fedc00), color-stop(1, #fdbe00));
background:-moz-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-webkit-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-o-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-ms-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:linear-gradient(to bottom, #fedc00 5%, #fdbe00 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc00', endColorstr='#fdbe00',GradientType=0);}

button.CTA_orange:hover, button.CTA_blue {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00c2e9), color-stop(1, #0093d8));
background:-moz-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-webkit-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-o-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-ms-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:linear-gradient(to bottom, #00c2e9 5%, #0093d8 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c2e9', endColorstr='#0093d8',GradientType=0);
background-color:#00c2e9;
border:1px solid #0085bd; cursor:pointer;}

button.CTA_orange a, button.CTA_orange strong {color:#363533; font-family:'PT Sans Narrow', sans-serif; }
button.CTA_orange:hover a, button.CTA_orange:hover a strong, button.CTA_blue, button.CTA_blue a {color:#fff;}
 
button.flat {background:#ffc20e; color:#FFF; text-transform:uppercase; text-align:center; height:30px; font-weight:bold; font-size:17px; }
button.flat:hover {background:#0099da; cursor:pointer;}
button.flat a {color:#3B3734;}
button.flat:hover a {color:#fff;}

button a.see {background:url(images/ico_loupe_noir.png) top left no-repeat; padding-left:30px }
button:hover  a.see {background:url(images/ico_loupe_blanc.png) top left no-repeat !important; }

button a.buy {background:url(images/ico_buy_noir.png) 100% -2px no-repeat; padding-right:45px; min-height:30px; display:block; }
button a.buy:hover {background:url(images/ico_buy_blanc.png) top right no-repeat; }

p.stock_ok {text-align: left; color:#97bf0d; background:url(images/ico_allright.png) no-repeat; background-position:0px 5px; padding-left:25px; float:none; font-size:18px; font-weight:bold; margin-bottom:10px}


button.light_action { text-align:center; font-size:14px; font-weight:bold; color:#3b3734; margin:0 5px 0 0; padding:5px 10px; float:left;
	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; background:#ffffff;-moz-box-shadow: 0px 1px 1px 0px #9b9b9b;-webkit-box-shadow: 0px 1px 1px 0px #9b9b9b;
-o-box-shadow: 0px 1px 1px 0px #9b9b9b;
box-shadow: 0px 1px 1px 0px #9b9b9b;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=1);}
	button.light_action:hover, 	button.light_action:hover a, button.light_action a:hover  { background:#3b3734; color:#fff; text-decoration:none;}



/* Mise en page générale et wrappers */
.wrapper_fullwidth { width:100%; float:left; min-height:100%; }
	.wrapper_fullwidth #menu { width:18% }
	.wrapper_fullwidth .content { width:80%; padding-left: 2%; /*padding-left:2%; */}
	.wrapper_fullwidth .wrapper_insert {width:100%; margin-left:-2%; padding-left:2%; float:left;}
	
.wrapper_onleft { background:#eeeeee; max-width:1250px; float:left; margin:0; padding-top:40px; width:100%;
box-shadow: 0px 8px 24px 3px #000);
-moz-box-shadow: 0px 8px 24px 3px #000;
-webkit-box-shadow: 0px 8px 24px 3px #000;}
	.wrapper_onleft #menu { width:18%; max-width:230px; }
	.wrapper_onleft .content {width:79%; padding-left: 2%; }

.wrapper_menu {display:block; position:relative; width:80%; float:left;}
	.wrapper_menu .wrapper_insert { width:97%; margin-left:-3%; padding-left:4%; padding-right:3%; float:left;}


.wrapper_insert { margin-bottom:30px; background:#fff; min-height:30px; -moz-box-shadow: 0px 3px 13px 0px #cfcfcf; 
-webkit-box-shadow: 0px 3px 13px 0px #cfcfcf; -o-box-shadow: 0px 3px 13px 0px #cfcfcf; box-shadow: 0px 3px 13px 0px #cfcfcf; filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=13); 
border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; z-index:0; overflow:visible; }


.wrapper_nomenu { padding:0 1% 0 1%;}
.wrapper_nomenu .wrapper_insert { width:101%; margin-left:-1%; padding-left:1%; float:left; }




.content {float:left; display:block; position:relative; margin-left:18%; }


.col { }
.col2 { width:48%; margin-right:2%; float:left;}
.col3 { width:31%; margin-right:2%; float:left;}
.col4 {width:23%; margin-right:2%; float:left;}
.col5 { width:18%; margin-right:2%; float:left;}
 
 
/* HEADEr */

header { width:100%; margin:0; background:url(images/header_bg.jpg) repeat-x #CCC; height:160px;}
	header a.logo { min-width:230px; float:left; width:18%; margin-right:30px;}
		header a.logo img { width:237px; height:113px; margin:4px auto 0 auto; float:none; text-align:center; display:block;}
	header #connexion { float:right; position:absolute; top:0; right:10px;}
		header #connexion p { text-align:right; margin:0; line-height:1.5; font-size:14px;} 
		header #connexion p a { color:#0099da;}	
		header #connexion p img { margin-right:5px; margin-top:3px;}
	
	
	header #quicklinks { height:46px; margin-top:0px; float:right; padding:10px 0 10px 0; position:absolute; top:69px; right:10px;}
		header #quicklinks 	.links {padding:0; border-left:1px solid #cbcccc; float:left; padding:5px 5px 5px 10px; min-width:50px; }
		header #quicklinks 	.links a {float:left;}		
		header #quicklinks 	.links span {font-family: 'PT Sans Narrow', sans-serif; font-size:16px; width: 50px; float: right; text-align: left; line-height: 1; margin-left: 10px; }
		header #quicklinks .links:hover { background-color:#3b3733; !important;}
			header #quicklinks .links:hover a span {color:#FFF; font-weight:bold; }
		header #quicklinks .panier span.panier_compte { height:20px; width:20px; text-align:center; line-height:1.3; position:relative; float:right; background:url(images/ico_panier_compte_off.png); color:#FFF; position:absolute; float:left; top:3px; left:17px; font-weight:bold;}
		header #quicklinks .panier:hover span.panier_compte { background:url(images/ico_panier_compte_on.png); color:#000;}		
			header #quicklinks .panier #mini_panier {visibility:hidden !important; width:340px; position:absolute; left:-150px; background:#FFF; z-index:1500;  box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); -moz-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); -webkit-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); border-top:10px solid #363533; border-bottom:10px solid #363533; top:51px; padding:5px 0px 5px 0px; }
			header #quicklinks .panier:hover #mini_panier, header #quicklinks .panier #mini_panier:hover {visibility:visible !important;}	
			header #quicklinks .panier #mini_panier h4 {text-transform:none; padding:0 10px 0 10px;}
			header #quicklinks .panier #mini_panier li { background:#e2e2e2; margin-bottom:1px; min-height:60px; padding:5px 10px 5px 10px;}
			header #quicklinks .panier #mini_panier li img { float:left; margin-right:10px;}
			header #quicklinks .panier #mini_panier li p { float:left; font-size:14px; margin-bottom:0; width:230px; line-height:1.2}
			header #quicklinks .panier #mini_panier li span {float:none !important; margin:0;}	
			header #quicklinks .panier #mini_panier li button { width:20px; height:20px; background:#666; float:right;}			
										
	header #region_select { float:left; min-height:27px; background:#3b3734; color:#FFF; width:40%; padding:0 10px;}
		header #region_select legend {float: left; font-size: 12px; margin-right: 10px; margin-top: 10px; color:#fff; font-style:italic; }		
		header #region_select span {display:block; float:left; color:#FFF; font-size:12px;}
		header #region_select button { padding:6px 8px 5px; float:left; border-left:1px solid #FFF;}
			header #region_select button span { color:#FFF; margin-top:0px;}
			header #region_select button.active, header #region_select button:hover { background:#fcc019;}
				header #region_select button.active span, header #region_select button:hover span { color:#3b3734}			
				header #region_select img {float:left; margin-right:10px;}

		header #searchbox { float:left; height:32px; margin-top:51px; border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; width:46%;}
			header #searchbox select#search_cat { background:url(images/search_select_BG.jpg) repeat-x top right; width:160px; border:0;  height:32px; padding:10px 10px 5px 7px; width:25%; float:left; font-style:italic; font-size:12px;  border-radius:5px 0 0 5px;-moz-border-radius: 5px 0 0 5px; -webkit-border-radius:5px 0 0 5px;}
			header #searchbox select#search_cat optgroup { background:#FFF;}
			header #searchbox select#search_cat option {font-style:normal; background:#FFF; font-size:13px; margin:0 0 10px 0;}
			header #searchbox input#search_desc { border:0; background:url(images/search_input_BG.jpg) repeat-x; height:32px; width:38%; padding-left:2%;  float:left;}
			header #searchbox button {  width:25%; /*background:url(images/search_validate_BG.jpg);*/ color:#fff; font-family: 'PT Sans Narrow', sans-serif; font-size:20px; font-weight:bold; float:left; height:32px; border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; }				



/* MEnus et navigation */

#navigation {height:31px; z-index:1000; width:100% !important; margin:0; float:left; position:absolute; top:126px; }
	#mainmenu { position:relative; top:-3px; font-family: 'PT Sans Narrow', sans-serif; float:left; height:36px; background:url(images/button_mainmenu_bg.jpg) no-repeat top left #ffc20e; width:230px;}
		#mainmenu span { margin:7px 0 0 40px; font-size: 17px; font-weight: bold; float:left; margin:9px 0 0 42px }
		#manimenu a {width:230px; height:31px; display:block; float:left}
		#mainmenu:hover #submenu { visibility:visible !important; cursor:pointer; }

	#submenu { width:230px; background:#eeeeee; z-index:1000; position: absolute; left:0; top:31px; visibility:hidden !important;
		box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); }
		#submenu li { border-bottom:#b3b3b3 1px solid; font-size:14px; padding:7px 5px 10px 15px;}
		#submenu li:hover { background:#FFF; cursor:pointer; font-weight:bold; }
		#submenu:hover {visibility:visible !important;}	
		#submenu:hover #submenu_intern {visibility:visible !important;}
		 
	#submenu_intern { position:absolute; top:0px; left:230px; backface-visibility:#FFF; width:500px; height:300px; padding:15px 10px 20px 15px; z-index:900; background:#FFF; visibility:hidden !important;
	box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); }
		

		
	#ariane {padding-left:8px; float:left;}
		#ariane li { float:left; margin:0 10px 0 -8px; background:#3b3734; height: 22px; padding: 9px 20px 0 20px; font-size: 14px;}
		#ariane li:after {content: url("images/ariane_li_after.png"); float: right; margin:-9px -29px 0 15px; position: relative;}		
		#ariane li.active {color:#3b3734; background:#fff none;}
		#ariane li.active:after {width:0px !important; height:0px !important; content:"" !important;}
		#ariane li a {color:#FFF;}





/*menu gauche et hover*/
		
#menu {float:left; margin-top: -40px; position:absolute;
background:#fff; min-height:3600px; 
-moz-box-shadow: 0px 3px 13px 0px #cfcfcf;
-webkit-box-shadow: 0px 3px 13px 0px #cfcfcf;
-o-box-shadow: 0px 3px 13px 0px #cfcfcf;
box-shadow: 0px 3px 13px 0px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=13);
border:1px solid #cdcdcd; z-index:500; padding-top:10px; }

#menu .widget { border-bottom:1px solid #cbcccc; margin:10px 10px 10px 15px; padding-bottom:10px;}
#menu h3 { width:90%; padding:10px 5% 10px 5%; color:#3b3734; background:#fdc400; font-size:22px; font-weight:bold; margin-bottom:10px;}
	#menu .widget h4 { font-weight:bold; font-size:20px; color:#f58220;}
	#menu .widget li {clear:both;}	
	#menu .widget span.legende { font-style:italic; color: #979797; font-size: 13px;}
	
#menu .widget .categories {}
	#menu .widget .categories li {/*float:left; clear:both;*/ margin-bottom:10px; font-size:14px;}	
	#menu .widget .categories li:before {content:url(images/ico_puce_orange.png); margin-right:5px; }
	#menu .widget .categories li.active {font-weight:bold;}
	#menu .widget .categories li.nav1 { margin-left:0px;}
	#menu .widget .categories li.nav2 { margin-left:10px;}
	#menu .widget .categories li.nav3 { margin-left:20px;}	


#menu .widget .filter_check {}
	#menu .widget .filter_check input[type="checkbox"] {margin-right:8px; margin-top:2px; float:left;}
	#menu .widget .filter_check label {font-size:14px;}
	#menu .widget .filter_check li {margin-bottom:5px;}

#menu .widget .scroll { height:200px; border:1px solid #cdcdcd; overflow-y:scroll; }
#menu .widget .filter_check input.prix { width:35px; margin-top:10px;}
#menu .widget .attributs li {font-size:14px; margin-bottom:5px;}
#menu .widget .attributs li.all { font-style:italic; text-align:right; font-weight:bold; text-decoration:underline;}
#menu .widget .attributs li.all:before {content:'>  '; }


/* RECHERCHE */
border-right: 1px solid #5f605c; { }

.toolbar {min-height:30px; padding-top:10px; padding-bottom:5px;}
.toolbar p, .toolbar form {margin:0;}
.toolbar .affichage { float:left}
	.toolbar .affichage img { margin:0px 10px 0 10px;}		
	.toolbar .resultats_page { float:right; margin:0 10px 0 10px;}
	.toolbar .trier_par { float:right;  margin:0 10px 0 10px;}
	.toolbar hr { border-bottom: 1px solid #CBCCCC; height: 7px; margin: 9px 1%; width: 96%;	}		
	.toolbar label {font-size:13px;}
	.toolbar .nombre_resultats { float:left;}



/* BACKUP - Système de pagination non utilisé */
.pagination { float:right;}
	.pagination p { text-align:center; float:none;}
	.pagination a {font-size:13px; font-weight:bold; float:left; width:26px; height:24px; background:url(images/pagination_button.png); margin:0 10px 0 0; padding:2px 0 0; text-align:center;}
	.pagination a:hover,  .pagination a.active { background:url(images/pagination_button_hover.png) top left no-repeat; color:#fff; text-decoration:none;}
	.pagination a.previous { padding-left:35px; text-align:left; background:url(images/pagination_previous.png) top left no-repeat; min-width: 100px;}
	.pagination a.previous:hover {color:#3B3734; background:url(images/pagination_previous_hover.png) top left no-repeat;}		
	.pagination a.next { padding-right:35px; text-align: right; background:url(images/pagination_next.png) top right no-repeat; min-width: 90px;}
	.pagination a.next:hover { color:#3B3734; background:url(images/pagination_next_hover.png) top right no-repeat;}		
/* */


.pages { float: left; margin-left: 30px; min-width: 350px;}
	.pages strong {margin-right: 13px;  padding-top: 3px; float:left;}
	.pages ol { text-align:center; float:none;}
	.pages ol li {font-size:13px; font-weight:bold; float:left; width:26px; height:19px; background:url(images/pagination_button.png); margin:0 10px 0 0; padding:6px 0 0; text-align:center;}
	
	.pages ol li:hover,  .pages ol li.current { background:url(images/pagination_button_hover.png) top left no-repeat; color:#FFF !important; font-weight:bold; }
	.pages ol li:hover a, .pages ol li.current a { color:#ffffff; text-decoration:none;}

	.pages ol li img {margin-top:-6px;}
	.pages a {margin:0; padding-top:10px;}
	.pages a.previous:hover, .pages a.next:hover {background:none;}

	.pages a.previous { padding-left:0; text-align:left; }
	.pages a.next { padding-right:0; }




/* RECHERCHE - affichage en grille */
		
	#recherche_grille { margin-bottom:30px;}
		#recherche_grille .produit { background:#fff; max-width: 240px; margin-bottom: 30px; border-top:3px solid #fcc019;}
			#recherche_grille .produit h3 { font-family:'PT Sans Narrow', sans-serif; font-size:18px; padding:10px 10px 0 10px; margin-bottom: 0px; height:55px;}
			#recherche_grille .produit p { padding:0px 10px 0 10px; text-align:center; height:20px;v}
			#recherche_grille .produit p strong { font-family:'PT Sans Narrow', sans-serif; color:#ff7800; font-weight:bold; font-size:22px; float:right; }
			#recherche_grille .produit p legend { font-size:12px; float:left; margin: 6px 5px 0 0; font-style: italic;}
			#recherche_grille .produit button { width:100%;}
			#recherche_grille .produit:hover {cursor:pointer; border-top:3px solid #1a9ed6;}
			#recherche_grille .produit:hover h3 { background:#1a9ed6 ; color:#fff; }
				#recherche_grille .produit:hover button {background:#0099da; cursor:pointer;}
				#recherche_grille .produit:hover button a.see { color:#fff; background:url(images/ico_loupe_blanc.png) top left no-repeat;}				
				#recherche_grille .produit img {width:100%; max-width:200px; float:right;}

/* RECHERCHE - affichage en liste */

	#recherche_liste { margin-bottom:30px;}
		#recherche_liste .produit { width: 99%; margin-bottom: 15px; float:left; border:1px  transparent solid; padding:15px 10px 15px 0; }
		#recherche_liste .produit:hover {background:#fff; cursor:pointer; border:1px solid #cdcdcd;
		-moz-box-shadow: 0px 2px 5px 0px #c0c0c0; -webkit-box-shadow: 0px 2px 5px 0px #c0c0c0; -o-box-shadow: 0px 2px 5px 0px #c0c0c0; box-shadow: 0px 2px 5px 0px #c0c0c0; filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=5);}
			#recherche_liste .produit .vignette { float:left;}
			#recherche_liste .produit .vignette img { float:right; border:1px solid #e0e0e0;} 
		
			#recherche_liste .produit h3 { font-family:'PT Sans Narrow', sans-serif; font-size:25px; margin-bottom: 5px; float:left; }
			#recherche_liste .produit p.categorie { float:left; width:100%; margin-bottom:10px;}
				#recherche_liste .produit p.categorie a { font-weight:bold;}
				#recherche_liste .produit p.categorie a.active {color:#0099da;}				
			#recherche_liste .produit p strong { }
			#recherche_liste .produit p legend { font-size:12px; float:left; margin: 6px 5px 0 0; font-style: italic;}
			#recherche_liste .produit .actions { float:right;}
				#recherche_liste .produit .actions p {margin:0;}
				#recherche_liste .produit .actions p.prix { text-align:right; color:#5f605c;}
				#recherche_liste .produit .actions p.prix strong { font-size:25px; color:#e8357f; font-family: 'PT Sans Narrow', sans-serif; }
				#recherche_liste .produit .actions p.conditions { font-style:italic; font-size:13px; text-align:right; margin-bottom:5px;}		
				#recherche_liste .produit .actions p.stock_ok {float:right;}
				#recherche_liste .produit .actions button { float:right; margin-right:0;}			
			
			#recherche_liste .produit button.main_see { background:#ffc20e url(images/ico_loupe_blanc.png) no-repeat; background-position: 20px 5px ; color:#FFF; text-transform:uppercase; text-align:center; width:100%; text-align:center; height:30px;}
				#recherche_liste .produit button.main_see:hover, #recherche_liste .produit:hover  button.main_see {background:#0099da url(images/ico_loupe_blanc.png) no-repeat; background-position: 20px 5px ; cursor:pointer; }

				
/* FICHE-PRODUIT */				
					
#fiche_produit {float:left; display:block; width:97%; margin:2% 0 60px 1%}
	#fiche_produit #visuel { float:left; width:33%; margin-right:4%;}
		#fiche_produit #visuel img.full { border:1px solid #e0e0e0; float:right; width:100%; max-width:350px; margin-bottom:10px; }
		#fiche_produit #visuel img.vignette { border:1px solid #e0e0e0; float:right; margin:0 0 0 3%; width:29%;}

	#fiche_produit #focus { float:left; width:63%;}
		#fiche_produit #focus p {margin-bottom:5px; clear:both;}	
		#fiche_produit #focus p.prix { text-align:right; color:#5f605c;}
			#fiche_produit #focus p.prix strong { font-size:30px; color:#e8357f; font-family: 'PT Sans Narrow', sans-serif; margin-left:10px; }
		#fiche_produit #focus p.disponibilite { margin-bottom:10px; float:left;}
			#fiche_produit #focus p.disponibilite span {margin-top:-2px; float:left;}
			#fiche_produit #focus p.disponibilite img { margin:4px 4px 0 10px; float:left}		
		#fiche_produit #focus p.avis {margin-bottom: 15px;}
		#fiche_produit #focus p.description { color:#3b3734; font-size:16px; line-height:1.8;}
		#fiche_produit #focus form.quantite { font-size:13px; margin-bottom:30px}
			#fiche_produit #focus form.quantite select { font-size:15px; width:40px; text-align:center;}		
		#fiche_produit #focus button.light_action { float:left;}
		#fiche_produit #focus button.CTA_orange { float:right;}



/* Navigation intérieure par onglets */
#content_detail { margin-bottom:70px;}


ul.nav_onglet {  width:99%; clear:both; display:block; min-height:40px; margin-bottom:20px; margin-left:-2%; padding-left:3%; background:#d7d5d3; float:left;
	-moz-box-shadow:inset 10px -4px 8px 0px #aaa;
-webkit-box-shadow:inset 10px -4px 8px 0px #aaa;
box-shadow:inset 10px -4px 8px 0px #aaa;
}
	ul.nav_onglet li { float:left; padding:10px 10px 0px 10px;  border-right: 1px solid #fff; padding:10px 20px 0 20px; }
	ul.nav_onglet li.active, ul.nav_onglet li:hover  { background:#ffffff; color:#0099da; cursor:pointer; margin-top:0px; 
-moz-box-shadow:0px -3px 5px 0px #cfcfcf;
-webkit-box-shadow:0px -3px 5px 0px #cfcfcf;
box-shadow:0px -3px 5px 0px #cfcfcf;
	}
	ul.nav_onglet li.legende p { font-style:italic; font-size:13px; margin-bottom:0; line-height:1.2;}
	ul.nav_onglet li h4 {font-size:20px; text-transform:none; text-align:left; font-weight:bold;}
	ul.nav_onglet li h4, ul.nav_onglet li p, ul.nav_onglet li a { color:#3b3734;}
	ul.nav_onglet li.active h4, ul.nav_onglet li:hover h4, ul.nav_onglet li.active p, ul.nav_onglet li:hover p, 		
	ul.nav_onglet li.active a, ul.nav_onglet li:hover a  { color:#0099da;}	
	ul.nav_onglet li p {color:#3b3734;}
	ul.nav_onglet li.active p, ul.nav_onglet li:hover p {color:#0099DA;}

.onglet_detail {width:100%;}	
	
	
	
/* FICHE-PRoDUIT - Widget - Produits suggérés */
#autres_produits { margin-bottom:70px;}
#autres_produits h3 {}
#autres_produits .produit { padding:10px 0.5% 0 0.5%;}
#autres_produits .col5 {width:18% !important; margin-right:1% !important;}
	#autres_produits .produit img {text-align:center; margin:0 auto; width:100%; margin-bottom:10px; border:1px solid #E0E0E0;} 
	#autres_produits .produit:hover { background:#FFF; cursor:pointer;}
	#autres_produits .produit:hover button { background:#3b3734; color:#fff; text-decoration:none;}	
	#autres_produits .produit:hover a.see {color:#FFF; background:url(images/ico_loupe_blanc.png) top left no-repeat}
	#autres_produits .produit h4 { text-transform:none; font-size:18px;}
	#autres_produits .produit p { text-align:right; margin-bottom:10px;}
	#autres_produits .produit p legend { font-size:11px; float:left; margin-right:10px;}
	#autres_produits .produit strong { font-size:18px; color:#ff7800;}
	#autres_produits .produit button { margin:0 auto; text-align:center; margin:0 10% 10px 10%;}
	#autres_produits .produit button a { min-height:19px; padding-top:3px; display:block;}


.slider_full {margin-bottom:30px;}
.wrapper_menu .slider_full { margin-bottom:50px; width:103.8%; margin-left:-2.5%; float:left;}
.wrapper_nomenu .slider_full { width:102%; margin-left:-1%;}
.slider_full .rotation {}
.slider_full .rotation img { width:100%;}
.slider_full .navigation { background:#FFF; border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px; padding:10px 20px 10px 20px; float:right; position:absolute; margin-top:-20px; width:20%; text-align:center; right:400px; }
.slider_full .navigation a{ text-align:center; padding:0 10px 0 10px; margin:0; }
.slider_full .navigation a.active {font-weight:bold;}


.focus_categories { display:block; float:left; margin-bottom:60px; width:100%;}
.focus_categories h4 {font-weight:normal;}
.focus_categories h4 strong {font-weight: bold;}


.promo_3col {}



.focus_categories .direct_links {}
.focus_categories .direct_links li:before { content: url("images/ico_puce_noir.png"); margin-right:5px; }
.focus_categories .direct_links li {margin-bottom: 8px; font-size: 14px;}

.focus_categories .visuel { border:1px solid #bbbbbb;}
.focus_categories .visuel:hover {cursor:pointer;}
.focus_categories .visuel:hover ul { visibility: visible !important;}
.focus_categories .visuel h4 { background:#FFF; min-height:30px; line-height:1; margin:0; padding:5px 10px 0 10px; font-size:20px;}
.focus_categories .visuel img{ width:100%; float:left;}
.focus_categories .visuel ul { min-height:133px; visibility:hidden !important; position:absolute; background:#0093d2; width:30.2%; padding:20px 0;}
.focus_categories .visuel li {margin-bottom:10px; padding:0 10px;}
.focus_categories .visuel li a { font-weight:bold; color:#FFF;}
.focus_categories .visuel li a:before {content:url("images/ico_puce_blanc.png"); margin-right:10px;}



.focus_categories .accroche h5 { margin:0px 0 10px 0; padding:0px; font-size:16px; font-weight:bold; text-decoration:none;}
.focus_categories .accroche img{ width:100%; float:left; margin-bottom:20px;}
.focus_categories .accroche li {margin-bottom:5px;}
.focus_categories .accroche li a { font-size:14px;}
.focus_categories .accroche li a:before { content:'>  ';}


.top_ventes .onglet_detail p {margin-bottom:10px; text-align:center;}
.top_ventes .onglet_detail button {margin-bottom:10px;}




/* FICHE-PRODUIT - widget : choix de la livraison */

#livraison_detail {}
	#livraison_detail ul.nav_onglet { }
		#livraison_detail ul.nav_onglet li.legende {width:27%; background:#3b3734; margin-left:-2.9%;}	
			#livraison_detail ul.nav_onglet li.legende h4, #livraison_detail ul.nav_onglet li.legende p {color:#fff !important;}
		#livraison_detail ul.nav_onglet li.legende:hover { background:#3b3734;}
		#livraison_detail ul.nav_onglet li.legende:hover h4, #livraison_detail ul.nav_onglet li.legende:hover p {color:#fff !important;}
		#livraison_detail ul.nav_onglet li {min-height:60px; padding:10px 10px 0px 10px !important;}
		#livraison_detail ul.nav_onglet li h4 { margin-bottom:0; text-align:left;}	
		#livraison_detail ul.nav_onglet img {float:left; margin-right:10px; margin-top:5px;}
		#livraison_detail ul.nav_onglet li p {margin-left:33px; font-size:13px; margin-bottom:0;}		


	#livraison_detail .onglet_detail p.conditions { margin-top:10px; font-style:italic; float:left;}
	#livraison_detail p.avis { margin-bottom:5px;}
	#livraison_detail p.prix_vente, #livraison_detail p.prix_final {font-style:italic; margin-bottom:7px;}
		#livraison_detail p.prix_vente strong, #livraison_detail p.prix_final strong {font-style:normal; font-size:25px; margin-left:10px;}	
		#livraison_detail p.prix_final {text-align:center;}	
			
	#livraison_detail .partenaire ul.detail_livreur li { float:left; margin-right:5px;}
	#livraison_detail .partenaire ul.detail_livreur li.prix_livreur { font-size:16px;}
	#livraison_detail .partenaire ul.detail_livreur li input {margin:0 10px;}
	#livraison_detail .partenaire ul.detail_livreur li.details { font-size:14px; width:71%;}
	#livraison_detail .partenaire ul.detail_livreur li.details p { margin-bottom:5px; line-height:1;}
	#livraison_detail .partenaire ul.detail_livreur li.details a {font-size:12px; font-style:italic; }
	#livraison_detail .partenaire ul.detail_livreur li {}						
	#livraison_detail .col2 hr {height:0px; background:#CCC; margin-bottom:5px;}
	#livraison_detail hr {height:1px; background:#CCC; margin-bottom:30px;}
	#livraison_detail .partenaire button {font-size:19px; font-weight:normal; margin-top:0; line-height:1; padding:10px 8px;}



.publicite { display:block;}
.premium_background { background:#093; right:0; position:absolute; min-height:1000px; text-align:right; width:700px; z-index:-10; overflow:hidden; top:160px; }
.premium_background a {}
.premium_background img:hover {z-index:1000; cursor:pointer;}

			
/* Footer */

#footer { background:#eeeeee; z-index:1000; width:100%; float:left;}
#footer1 {}
#footer2 { background:url(images/footer2_bg.jpg) top left repeat-x #0070ac; padding:20px 7.5% 20px 7.5%; width:85%;}
	#footer2 .col4 {}
	#footer2 img { float:left; margin-right: 5px; margin-top: -7px;}
	#footer2 h4 { color:#ffffff; font-weight:bold; text-transform:none;}
#footer3 { background:url(images/footer3_bg.jpg) bottom left repeat-x #1d1b1a; padding:20px 7.5% 20px 7.5%; width:85%;}
	#footer3 .col5 {}
	#footer3 h4, #footer3 ul li, #footer3 a { color:#ffffff; text-transform:none;}
	#footer3 li {margin-bottom:10px; font-size:13px;}
/* Formulaires */





















.block { margin-left:400px; }
