
/*
 *
 * Style pour les pages d authentification, de mon compte, mon panier, ....
 * 
 * 
 * 
 */

/* Page Heading */
.page-title { width:100%; overflow:hidden; margin:0 0 0px; }
.page-title h1 {font-family: 'PT Sans Narrow', sans-serif; font-size: 30px; margin: 0 0 30px 0; color:#363533; border-bottom:1px solid #363533; }
.page-title h2 { font-family: 'PT Sans Narrow', sans-serif; font-size: 20px; margin: 0 0 30px 0; color:#363533; }
.page-title .separator { margin:0 10px; float:right; }
.page-title .link-rss { float:right; margin:7px 0 0; }
.page-title .link-reorder, .page-title .link-print {float:right; font-weight:bold;  margin:0px 0 0 0px;}

/* Layout ================================================================================ */
.wrapper { min-width:954px; }
.page {}
.page-print { background:#fff; padding:25px 30px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { background:#fff; padding:25px 30px; text-align:left; }
.main-container { /* background-color:#fbfaf6; */ position: relative; z-index: 4; max-width: 1250px; margin: 0 auto; min-height: 400px;
box-shadow: 0px -10px 25px 0px #999; 
-moz-box-shadow: 0px -10px 25px 0px #999;
-webkit-box-shadow: 0px -10px 25px 0px #999; }
.main { /* width:99%; */ min-height:400px; padding:0px 0px 80px; background:#eeeeee; text-align:left; }
.nobr {white-space: nowrap !important;}
.btn-remove { text-align: right; right: 4px; top: 9px; margin: 0; display: block; width: 11px; height: 11px; font-size: 0 !important; line-height: 0; background: url("images/ico_panier_close.png") 0 0 no-repeat; text-indent: -999em; overflow: hidden;}

/* Base Columns */
.col-left { float:left; width:18%;  max-width: 230px; padding:0 0 1px; border: 1px solid #CDCDCD; padding-top: 10px; padding-bottom: 40px; }
.col-main {width: 77%; padding:0 2%;padding-top: 40px; }
.col-right { float:right; width:20%; padding:0 0 1px; }

/* 1 Column Layout */
.col1-layout .col-main { float:none; width:auto; }

/* 2 Columns Layout */
.col2-left-layout .col-main { float: right;}
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout .col-main { width:475px; margin-left:17px; }
.col3-layout .col-wrapper { float:left; width:687px; clear:both; }
.col3-layout .col-wrapper .col-main { float:right; }

/* Content Columns */
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
/* ======================================================================================= */

.col-main .content {margin-left: 0;}


/* Button */

 button:hover {cursor:pointer;}
 button {
text-align:center; font-size:14px; font-weight:bold; color:#3b3734; margin:0 5px 0 0; padding:5px 10px;
	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; background:#ffffff;-moz-box-shadow: 0px 1px 1px 0px #9b9b9b;-webkit-box-shadow: 0px 1px 1px 0px #9b9b9b;
-o-box-shadow: 0px 1px 1px 0px #9b9b9b;
box-shadow: 0px 1px 1px 0px #9b9b9b;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=1); border: 1px solid #eee;}

button:hover {background:#3b3734; color:#fff; text-decoration:none;}
button:hover  span span { color:#fff;}

button.btn-checkout, #form-validate button.button, #checkout-step-login button, #billing-buttons-container button, #shipping-buttons-container button, #shipping-method-buttons-container button, #opc-payment button, .account-login button, #wishlist-view-form button.btn-add, #wishlist-view-form .btn-cart {font-family: 'PT Sans Narrow', sans-serif; text-align:center; font-size:18px; color:#363533;
border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; font-weight:bold;
background-color:#fedc00; border:1px solid #f4b344; display:inline-block; color:#ffffff; padding:3px 35px 3px 35px; line-height:1.6; text-decoration:none; margin:5px 10px;
-moz-box-shadow:inset 0px 0px 0px 0px #ffe0b5;
-webkit-box-shadow:inset 0px 0px 0px 0px #ffe0b5; 
box-shadow:inset 0px 0px 0px 0px #ffe0b5;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fedc00), color-stop(1, #fdbe00));
background:-moz-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-webkit-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-o-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-ms-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:linear-gradient(to bottom, #fedc00 5%, #fdbe00 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc00', endColorstr='#fdbe00',GradientType=0);
color:#363533; font-family:'PT Sans Narrow', sans-serif; }

button.btn-checkout:hover,  #form-validate button.button:hover, #checkout-step-login button:hover, #billing-buttons-container button:hover, #shipping-buttons-container button:hover, #shipping-method-buttons-container button:hover, #opc-payment button:hover, .account-login button:hover, #wishlist-view-form button.btn-add:hover, #wishlist-view-form .btn-cart:hover 
{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00c2e9), color-stop(1, #0093d8));
background:-moz-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-webkit-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-o-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-ms-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:linear-gradient(to bottom, #00c2e9 5%, #0093d8 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c2e9', endColorstr='#0093d8',GradientType=0);
background-color:#00c2e9;
border:1px solid #0085bd; cursor:pointer; }

button.btn-checkout {padding:2px 50px;}
#shopping-cart-table ul.checkout-types {float:right;}
#billing-buttons-container button, #shipping-buttons-container button, #shipping-method-buttons-container button, #opc-review button.btn-checkout, .account-login button {margin: 0 35% 20px 35%; width:30%;}


/* Account Login/Create Pages ============================================================ */
.account-login .content { min-height:270px; padding:14px 21px; border:1px solid #cdcdcd; border-bottom:0; }
.account-login .content h2 { margin:0 0 14px; padding:0 0 0px 0px; color: #F58220; }
.account-login .new-users h2 {}
.account-login .registered-users h2 { }
.account-login .buttons-set { border:1px solid #cdcdcd; border-top:0; margin:0; padding:8px 13px; }
.account-login .buttons-set button {float:left; margin-top:-30px;}
.account-login .new-users button { margin:-30px 25% 30px 25%; width:49%}
.account-login .f-left { float:right; font-size: 14px;}

.account-create h2 {color: #F58220; 0px 0 20px 0;}
.account-create .fieldset {margin-bottom:40px;}


/* Captcha ================================================================================ */
.captcha-note      { clear:left; padding-top:5px; }
.captcha-image     { float:left; display:inline;  margin:0; position:relative; width:258px; }
.captcha-image .captcha-img { border:1px solid #b6b6b6; vertical-align:bottom; width:100%; }
.registered-users .captcha-image { margin:0;}
.captcha-reload { cursor:pointer; position:absolute; top:2px; right:2px;}
.captcha-reload.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }

@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}



/* My Account ============================================================================= */
.my-account .title-buttons .link-rss { float:none; margin:0; }

.my-account .fieldset { background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(246,246,246,0.7) 30%, rgba(246,246,246,0.01) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,1)), color-stop(30%,rgba(246,246,246,0.7)), color-stop(100%,rgba(246,246,246,0.01))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#03f6f6f6',GradientType=0 ); /* IE6-9 */
border:1px solid #bbafa0; padding:22px 25px 12px 33px; margin:28px 0; }
.my-account .fieldset .legend { color: #F58220; }

/* Form lists */
/* Grouped fields */
/*.form-list { width:535px; margin:0 auto; overflow:hidden; }*/
.form-list {/* width:535px; */ margin:20px auto 0; overflow:hidden; }
.form-list li { margin:0 0 10px; }
.form-list label { float:left; color:#666; font-weight:normal; position:relative; z-index:0; margin:0 0 5px 0; }
.form-list label.required {}
.form-list label.required em { float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-8px; }
.form-list li.control label { float:none; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { margin-right:6px; }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }
/*.form-list li.fields { margin-right:-15px; }*/
.form-list .input-box { display:block; clear:both; width:260px; }
.form-list .field { float:left; width:275px; }
.form-list input.input-text { width:244px; border-radius:5px; webkit-border-radius:5px; moz-border-radius:5px; padding:5px 5px; margin: 0 0 10px 0;}
.form-list textarea { width:254px; height:10em; }
.form-list select { width:260px; }
.form-list li.wide .input-box { width:535px; }
.form-list li.wide input.input-text { width:529px; }
.form-list li.wide textarea { width:529px; }
.form-list li.wide select { width:535px; }
.form-list li.additional-row { border-top:1px solid #ccc; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove { float:right; margin:5px 0 0; }
.form-list .input-range input.input-text { width:74px; }

.form-list-narrow li  { margin-bottom:0; } 
.form-list-narrow li .input-box { margin-bottom:6px; }
.form-list-narrow li.wide .input-box { width:260px; } 
.form-list-narrow li.wide input.input-text, 
.form-list-narrow li.wide textarea { width:254px } 
.form-list-narrow li.wide select { width:260px; }

/* Customer */
.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box { width:auto; }

.form-list .name-prefix { width:65px; }
.form-list .name-prefix select { width:55px; }
.form-list .name-prefix input.input-text { width:49px; }

.form-list .name-suffix { width:65px; }
.form-list .name-suffix select { width:55px; }
.form-list .name-suffix input.input-text { width:49px; }

.form-list .name-middlename { width:70px; }
.form-list .name-middlename input.input-text { width:49px; }

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname { width:140px; }
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text { width:124px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix-suffix .name-firstname { width:210px; }
.form-list .customer-name-prefix-suffix .name-lastname { width:205px; }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname { width:210px; }

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname { width:205px; }

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text { width:189px; }

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year { float:left; width:85px; }
.form-list .customer-dob input.input-text { display:block; width:74px; }
.form-list .customer-dob label { font-size:10px; font-weight:normal; color:#888; }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { width:60px; }
.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { width:34px; }
.form-list .customer-dob .dob-year { width:140px; }
.form-list .customer-dob .dob-year input.input-text { width:134px; }

.form-list .is_subscribed {text-align:right;}

/* Form Validation */
.validation-advice { clear:both; min-height:13px; margin:3px 0 0; padding-left:17px; font-size:11px; font-weight:bold; line-height:13px; background:url(../images/validation_advice_bg.gif) 2px 0 no-repeat; color:#eb340a; }
.validation-failed { border:1px dashed #eb340a !important; background:#faebe7 !important; }
.validation-passed {}
p.required { font-size:11px; text-align:left; color:#EB340A; }
/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }

/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }

/* Sidebar =============================================================================== */
.block { border-bottom: 1px solid #CBCCCC; margin: 10px 10px 10px 15px; padding-bottom: 10px;}
.block-title { padding:3px 10px; }
.block-title span { font-family: 'PT Sans Narrow', sans-serif; font-size:20px; text-transform:none; margin-bottom: 10px; font-weight:bold; color:#f58220; }
.block .block-subtitle { margin:0; padding:5px 9px; font-size:1em; font-weight:bold; color:#0a263c; }
.block .block-content { }
.block .block-content li {margin-bottom: 10px; margin-left: 10px; font-size: 14px; }
.block .block-content li a:hover { color:#ea7900; }
.block .block-content li.item { padding:7px 9px; }
.block .block-content .product-name { color:#1e7ec8; }
.block .btn-remove,
.block .btn-edit { margin:1px 0 2px 5px; }
.block .actions {padding:6px 9px; text-align:right; }
.block .actions a {margin-top: 10px; font-size: 14px; color: #0099DA; float:right; }
.block .actions button.button { float:right; }
.block .empty { margin:0; padding:5px 9px; }

.block li.odd { background-color:#f4f3f3; }
.block li.even { background-color:#fafafa; }


/* Mini Products List */
.mini-products-list .product-image { float:left; width:50px; border:1px solid #a9a9a9; }
.mini-products-list .product-details { margin-left:60px; }
.mini-products-list a {font-size: 10px; text-align: right;}
.mini-products-list p {font-size: 10px;}
.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small { word-wrap:break-word; }
.block-cart .mini-products-list .product-details .nobr { white-space:normal !important; }

/* Block: Account */
.block-account { }
.block-account .block-content {padding:7px 10px 7px; }
.block-account .block-content li::before {content: url(images/ico_puce_orange.png); margin-right: 5px;}
.block-account .block-content li.last a { border-bottom:0; }
.block-account .block-content li.current { padding:3px 0; color:#ea7900; }
.block-account .block-content li.current.last { border-bottom:0; }

/* Block: Currency Switcher */
.block-currency { border:0; padding:7px 12px 10px; height:51px; }
.block-currency .block-content { background:none; padding:0; }
.block-currency .block-content select { width:100%; padding:0; }

/* Block: Layered Navigation */
.block-layered-nav { border:0; }
.block-layered-nav a {color:#222; text-decoration:none;}
.block-layered-nav a:hover {color:#222; text-decoration:underline;}
.block-layered-nav .block-subtitle { line-height:1.35; background:#d5e8ff; padding:3px 9px; border:1px solid #b9ccdd; border-width:1px 0; text-transform:uppercase; color:#1f5070; }
.block-layered-nav .block-content { border:1px solid #a0b3c3; background:#ddd; }
.block-layered-nav dt { padding:7px 10px 0 25px; font-weight:bold; text-transform:uppercase; }
.block-layered-nav dd { padding:0 12px 12px; }
.block-layered-nav dd.last { background:none; }
.block-layered-nav .currently li { background:#fff; padding:6px 24px 6px 10px; position:relative; z-index:1; line-height:1.5; }
.block-layered-nav .currently .label { font-weight:bold; padding-left:15px; text-transform:uppercase; display:inline-block; vertical-align:top; }
.block-layered-nav .currently .value { display:inline-block; vertical-align:top; }
.block-layered-nav .currently .btn-previous,
.block-layered-nav .currently .btn-remove { position:absolute; right:4px; top:9px; margin:0; }
.block-layered-nav .currently .btn-previous { right:17px; }
.block-layered-nav .actions { font-size:11px; padding:4px 5px 4px 9px; background:#cad6e4; border:1px solid #dee5e8; border-width:1px 0; text-align:right; }
.block-layered-nav .actions a { float:none; }

/* Block: Cart */
.block-cart .summary { background:#fff; padding:2px 8px 8px; margin:-1px 0 0; position:relative; z-index:1; }
.block-cart .amount { margin:0; }
.block-cart .amount a { font-weight:bold; }
.block-cart .subtotal { margin:5px 0 0; padding:2px 0; background:#fbebd9; text-align:center; }
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions { border-bottom:1px solid #c2c2c2; }
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.block-cart .actions .paypal-logo .paypal-or { clear:both; display:block; padding:0 55px 8px 0; }

/* Block: Wishlist */
.block-wishlist .actions { text-align:right; }
.block-wishlist .actions a { float:none; }

/* Block: Related */
.block-related .block-title strong { background-image:url(../images/i_block-related.gif); background-position:0 1px; }
.block-related input.checkbox { float:left; }
.block-related .product { margin-left:20px; }

/* Block: Compare Products */
.block-compare .block-title strong {}
.block-compare button.button span { border-color:#406a83; background:#618499; }
.page-popup .link-print { background:url(../images/i_print.gif) 0 2px no-repeat; padding:2px 0 2px 25px; font-weight:bold; color:#1e7ec8; }
.compare-table { border:0; }
.compare-table thead tr.first th,
.compare-table thead tr.first td { border:0; background:none; padding:0; font-size:0; line-height:0; }
.compare-table .btn-remove { float:right; background-image:url(../images/btn_remove2.gif); width:72px; height:15px; }
.compare-table tbody th { background:#d9e5ee; }
.compare-table tbody th,
.compare-table tbody td { padding:10px; border:0; border-top:1px solid #ccc; border-left:1px solid #ccc; }
.compare-table tbody td.last { border-right:1px solid #ccc; }
.compare-table tbody tr.last th,
.compare-table tbody tr.last td { border-bottom:1px solid #ccc !important; }
.compare-table tr.add-to-row td { background:#fffada; text-align:center; }
.compare-table tr.first td { text-align:center; }
.compare-table tr.first td .product-name { font-size:13px; font-weight:bold; margin:0 0 5px; color:#203548; }
.compare-table tr.first td .product-name a { color:#203548; }
.compare-table tr.first td .ratings { width:69px; margin:0 auto; }
.compare-table tr.first td p,
.compare-table tr.add-to-row td p { margin:0; }

/* Block: Recently Viewed */
.block-viewed .block-title strong { background-image:url(../images/i_block-viewed.gif); }

/* Block: Recently Compared */
.block-compared .block-title strong { background-image:url(../images/i_block-list.gif); background-position:0 1px; }

/* Block: Poll */
.block-poll .block-title strong { background-image:url(../images/i_block-poll.gif); }
.block-poll .block-subtitle { font-size:12px; }
.block-poll label { color:#777; font-weight:bold; }
.block-poll input.radio { float:left; margin:1px -18px 0 0; }
.block-poll .label { display:block; margin-left:18px; }
.block-poll li { padding:3px 9px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll button.button span { border-color:#406a83; background:#618499; }
.block-poll .answer { font-weight:bold; }
.block-poll .votes { float:right; margin-left:10px; }

/* Block: Tags */
.block-tags .block-title strong { background-image:url(../images/i_block-tags.gif); }
.block-tags .block-content .tags-list { background:none; border:0; font-size:12px; }
.block-tags .block-content a { color:#1b2d3b; }
.block-tags .actions { text-align:right; }
.block-tags .actions a { float:none; }

/* Block: Subscribe */
.block-subscribe .block-content { padding:5px 10px; }
.block-subscribe .block-title strong {  }
.block-subscribe label { font-weight:bold; color:#666; font-weight: bold; }
.block-subscribe input.input-text { display:block; width:167px; margin:3px 0; }
.block-subscribe .actions { background:none; padding:0; margin:3px 0 0; text-align:left; }
.block-subscribe .actions button.button { float:none; }
.block-subscribe .actions button.button span { }

/* Block: Reorder */
.block-reorder .block-title strong { }
.block-reorder input.checkbox { float:left; margin:2px -20px 0 0; }
.block-reorder .product-name { margin-left:20px; }
.block-reorder .validation-advice { margin:3px 9px 7px; }

/* Block: Banner */
.block-banner { border:0; }
.block-banner .block-content { padding:0; text-align:center; }

/* Block: Login */
.block-login .block-title strong { background-image:url(../images/i_ma-info.gif); }
.block-login .block-content { padding:5px 10px; }
.block-login label { font-weight:bold; color:#666; }
.block-login input.input-text { display:block; width:167px; margin:3px 0; }
.block-login .actions { background:none; padding:0; margin:3px 0 0; }
.block-login .actions button.button span { border-color:#406a83; background:#618499; }

/* Paypal */
.sidebar .paypal-logo { display:block; margin:10px 0; text-align:center; }
.sidebar .paypal-logo a { float:none; }
/* ======================================================================================= */


/* Category Page ========================================================================= */
.category-title { border:0; margin:0 0 7px; }
.category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:center; }
.category-image img {}
.category-description { margin:0 0 10px; }
.category-products {}

/* View Type: Grid */
.products-grid { border-bottom:1px solid #d9ddd3; position:relative; }
.products-grid.last { border-bottom:0; }
.products-grid li.item { float:left; width:138px; padding:12px 10px 80px; list-style: none; }
.products-grid .product-image { display:block; width:135px; height:135px; margin:0 0 10px; }
.products-grid .product-name { /*min-height:2.7em;*/ margin:0 0 5px; font-weight:bold; font-size:13px; color:#203548; }
.products-grid .product-name a { color:#203548; }
.products-grid .price-box { margin:5px 0; }
.products-grid .availability { line-height:21px; }
.products-grid .actions { position:absolute; bottom:12px; }
.col2-left-layout .products-grid,
.col2-right-layout .products-grid { width:632px; margin:0 auto; }
.col1-layout .products-grid { width:790px; margin:0 auto; padding:0; }

/* View Type: List */
.products-list li.item { border-bottom:1px solid #d9ddd3; padding:12px 10px; }
.products-list li.item.last { border-bottom:0; }
.products-list .product-image { float:left; width:135px; height:135px; margin:0 0 10px; }
.products-list .product-shop { margin-left:150px; }
.products-list .product-name { margin:0 0 5px; font-weight:bold; font-size:13px; color:#203548; }
.products-list .product-name a { color:#203548; }
.products-list .price-box { float:left; margin:3px 13px 5px 0; }
.products-list .availability { float:left; margin:3px 0 0; }
.products-list .desc { clear:both; padding:6px 0 0; margin:0 0 15px; line-height:1.35; }
.products-list .desc .link-learn { font-size:11px; }
.products-list .add-to-links { clear:both; }
.products-list .add-to-links li { display:inline; }
.products-list .add-to-links .separator { display:inline; margin:0 2px; }
/* ======================================================================================= */


/* Product View ========================================================================== */
/* Rating */
.no-rating { margin:0; }

.ratings { font-size:11px; line-height:1.25; margin:7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.ratings .rating-links { margin:0; }
.ratings .rating-links .separator { margin:0 2px; }
.ratings dt {}
.ratings dd {}
.rating-box { width:69px; height:13px; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; background: url("../images/bkg_rating.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);}
.rating-box .rating { float:left; height:13px; background: url("../images/bkg_rating.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0);}
.ratings .rating-box { float:left; margin-right:3px; }
.ratings .amount {}

.ratings-table th,
.ratings-table td { font-size:11px; line-height:1.15; padding:3px 0; }
.ratings-table th { font-weight:bold; padding-right:8px; }

/* Availability */
.availability { margin:0; }
.availability span { font-weight:bold; }
.availability.in-stock span {}
.availability.out-of-stock span { color:#d83820; }

.availability-only { margin:10px 0 7px; line-height:16px; background:url(../images/i_availability_only.gif) 0 50% no-repeat; padding-left:15px; }
.availability-only span,
.availability-only a { border-bottom:1px dashed #751d02; color:#000; }
.availability-only a { background:url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat; cursor:pointer; padding-right:15px; text-decoration:none; }
.availability-only .expanded { background-position:100% -15px; }
.availability-only strong { color:#be2c00; }

.availability-only-details { margin:0 0 7px; }
.availability-only-details th { background:#d2d6d9; font-size:10px; padding:0 8px; }
.availability-only-details td { background:#ebf0f3; border-bottom:1px solid #fff; font-size:11px; padding:2px 8px 1px; }
.availability-only-details tr.odd td.last { color:#d95e00; font-weight:bold; }

.product-view .product-shop .availability { font-size:11px; }
.product-view .product-shop .availability span { font-weight:normal; }

/* Email to a Friend */
.email-friend { margin:0; }

/* Alerts */
.alert-price { margin:0; font-size:11px; }
.alert-stock { margin:0; font-size:11px; }

/********** < Product Prices */
.price { white-space:nowrap !important; }

.price-box { margin:5px 0; }
.price-box .price { font-weight:bold; color:#c76200; }

/* Regular price */
.regular-price { color:#c76200; }
.regular-price .price { font-weight:bold; font-size:13px; color:#c76200; }
.block .regular-price,
.block .regular-price .price { color:#2f2f2f; }

/* Old price */
.old-price { margin:0; }
.old-price .price-label { white-space:nowrap; color:#999; }
.old-price .price { font-weight:bold; color:#c76200; text-decoration:line-through; }

/* Special price */
.special-price { margin:0; padding:3px 0; }
.special-price .price-label { font-size:13px; font-weight:bold; white-space:nowrap; color:#cd5033; }
.special-price .price { font-size:13px; font-weight:bold; color:#c76200; }

/* Minimal price (as low as) */
.minimal-price { margin:0; }
.minimal-price .price-label { font-weight:bold; white-space:nowrap; }

.minimal-price-link { display:block; }
.minimal-price-link .label {color:#1e7ec8;}
.minimal-price-link .price { font-weight:normal; color:#1e7ec8; }

/* Excluding tax */
.price-excluding-tax { display:block; color:#999; }
.price-excluding-tax .label { white-space:nowrap; color:#999; }
.price-excluding-tax .price { font-size:13px; font-weight:normal; color:#c76200; }

/* Including tax */
.price-including-tax { display:block; color:#999; }
.price-including-tax .label { white-space:nowrap; color:#999; }
.price-including-tax .price { font-size:13px; font-weight:bold; color:#c76200; }

/* Configured price */
.configured-price { margin:0; }
.configured-price .price-label { font-weight:bold; white-space:nowrap; }
.configured-price .price { font-weight:bold; }

/* FPT */
.weee { display:block; font-size:11px; color:#444; }
.weee .price { font-size:11px; font-weight:normal; }

/* Excl tax (for order tables) */
.price-excl-tax  { display:block; }
.price-excl-tax .label { display:block; white-space:nowrap; }
.price-excl-tax .price { display:block; }

/* Incl tax (for order tables) */
.price-incl-tax { display:block; }
.price-incl-tax .label { display:block; white-space:nowrap; }
.price-incl-tax .price { display:block; font-weight:bold; }

/* Price range */
.price-from { margin:0; }
.price-from .price-label { font-weight:bold; white-space:nowrap; }

.price-to { margin:0; }
.price-to .price-label { font-weight:bold; white-space:nowrap; }

/* Price notice next to the options */
.price-notice { padding-left:10px; color:#999; }
.price-notice .price { font-weight:bold; color:#2f2f2f; }

/* Price as configured */
.price-as-configured { margin:0; }
.price-as-configured .price-label { font-weight:bold; white-space:nowrap; }

.price-box-bundle { padding:0 0 10px 0; }
.price-box-bundle .price-box { margin:0 !important; padding:0 !important; }
.price-box-bundle .price { color:#555; }
/********** Product Prices > */

/* Tier Prices */
.product-pricing,
.tier-prices { margin:10px 0; padding:10px; background-color:#f4f7f7; border:1px solid #dadddd; color:#424242; }
.tier-prices li { line-height:1.4; background:url(../images/i_tier.gif) no-repeat 0 3px; padding:2px 0 2px 10px; }
.tier-prices .benefit { font-style:italic; font-weight:bold; color:#2f2f2f; }
.tier-prices .price { font-weight:bold; color:#2f2f2f; }

.tier-prices-grouped li { padding:2px 0; color:#e26703; }
.tier-prices-grouped li .price { font-weight:bold; }

/* Add to Links */
.add-to-links { font-size:11px; margin:5px 0 0; }
.add-to-links .separator { display:none; }

/* Add to Cart */
.add-to-cart label { float:left; margin-right:5px; font-weight:bold; color:#666; }
.add-to-cart .qty { float:left; margin-right:5px; }
.add-to-cart button.button { float:left; }
.add-to-cart .paypal-logo { clear:left; margin:0; text-align:right; }
.add-to-cart .paypal-logo .paypal-or { clear:both; display:block; margin:5px 60px 5px 0; }
.product-view .add-to-cart .paypal-logo { margin:0; }

/* Add to Links + Add to Cart */
.add-to-box { margin:10px 0; }
.add-to-box .add-to-cart { float:left; }
.add-to-box .or { float:left; font-weight:bold; margin:0 7px; color:#666; }
.add-to-box .add-to-links { float:left; margin:0; font-size:12px !important; line-height:1.25 !important; text-align:left !important; }
.add-to-box .add-to-links li { display:block !important; }
.add-to-box .add-to-links li .separator { display:none !important; }


/* General Box */
.addresses-list {margin-top:20px;}
.addresses-list a {margin-top:10px; font-weight:bold; text-align:right;}
.addresses-list h3 {margin-bottom: 10px; border-bottom: 1px solid; padding-bottom: 4px;}
.addresses-list li.item {line-height: 20px; font-size:14px; border: 1px solid #CCC; padding: 15px 10px 00px 15px; margin: 0 0 20px;}
.addresses-list li.item address {color: #666; margin-bottom:10px; }
.addresses-list .addresses-additional li.item { background: none; border: 0; padding: 0;}


.my-account h3 { font-size: 22px; font-style: normal;  margin: 0 0 15px;}
.my-account dt span {font-style: italic;}
.my-account dl {border: 1px solid #D9DDE3;} 
.my-account dt {/* background-color: #FFF; */ padding: 5px; border-bottom: 1px solid #D9DDE3;}
.my-account dd {/* background-color: #EEEDED; */ padding: 5px;}
.my-account small {font-size: 12px;}

.dashboard .box .box-title {border-bottom: 1px dotted #999; padding: 0 0 2px; margin: 0 0 8px; text-align: right; }
.dashboard .box .box-title h3, .dashboard .box .box-title h4 {float: left;}


.box-account { background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(246,246,246,0.7) 30%, rgba(246,246,246,0.01) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,1)), color-stop(30%,rgba(246,246,246,0.7)), color-stop(100%,rgba(246,246,246,0.01))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(246,246,246,0.7) 30%,rgba(246,246,246,0.01) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#03f6f6f6',GradientType=0 ); /* IE6-9 */
border:1px solid #ccc; border-color:#ccc #999 #999 #ccc; padding:15px; margin: 0 0 20px; }
.box-account .box-head { margin:10px 0 10px; }
.box-account .box-head h2 { margin:0; margin-bottom:15px; background-position:0 0; background-repeat:no-repeat; color: #F58220; font-size: 25px;}
.box-account .box-head h3 { font-size: 22px; }
.box-account .col2-set {margin-bottom:20px;}
.box-account h4 { font-size: 18px; margin-bottom:10px; font-weight:bold; }
.box-account .box-title a {float: right;}
.box-account a, .addresses-list a {font-size: 13px;}
.box-account a::before, .addresses-list a::before {content: url(images/ico_puce_orange.png); margin-right: 5px;}
.box-account a:hover, .addresses-list a:hover { color:#ea7900; }
.box-account a {font-weight: bold; margin:10px 0 0 0;}
.box-account address { font-size:14px; line-height:20px;}
.box-account .price {text-align:right; float:right; font-weight:bold;}

.my-account #my-orders-table, .box-account #my-orders-table {font-size:14px; border:1px solid #ddd;}
.my-account #my-orders-table a {font-weight:bold;}
 
.dashboard .box-info { background:none; border:0; }

.back-link a:before { content: " "; margin:0;}
.back-link {float:right;}

.my-account .tags { margin-top: 10px;}
.my-account .tags-list {padding-bottom: 30px;}
.my-account .tags-list li {padding: 3px;}
.my-account .tags-list a {font-size: 16px !important; }

.my-orders-table {margin-bottom:20px;}

.my-account .pager .amount {float:left;}
.my-account .pager .limiter {padding: 0px 5px; float: right;}

/* Order View */
.order-info { line-height:1.5; background:#dee5e8; border:1px solid #d0cbc1; padding:4px 8px; margin:8px 0 10px; }
.order-info dt,
.order-info dd,
.order-info ul,
.order-info li { display:inline; }
.order-info .current { font-weight:bold; }
.order-info li { margin:0 3px; }

.order-date { margin:10px 0; }

.order-info-box h2 { margin-bottom: 5px; border-bottom: 1px solid #ccc; padding: 0 0 5px 0; font-size: 24px;}
.order-info-box address {line-height:1.5; margin-bottom:20px; font-size:15px;}
.order-info-box span.price, .order-details span.price{float:right; text-align:right; }

#order-info-tabs a {color:#0099DA; }
.order-info-box { background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px; }
.order-info-box .box-payment p { margin:0 0 3px; }
.order-info-box .box-payment th { font-weight:bold; padding-right:7px; }

.order-items { width:100%; overflow-x:auto; }
.order-items h2,
.order-items h3 { clear:none; font-weight:bold; padding:0; margin:0 0 5px; color:#0a263c; }
.order-items .product-name { font-size:1em !important; font-weight:bold !important; }
.order-items .link-print { color:#0099DA; font-weight:normal; }
.order-items .order-links { text-align:right; }

.sub-title {font-size: 16px;}


.order-details h2 {margin-bottom:10px; font-size: 16px;}
#my-orders-table tfoot td { padding:10px 10px 10px 10px; font-size:14px; border-bottom:1px solid #fff;}

p.order-date {font-size: 20px; text-align: center; border-bottom: 1px solid #3b3734; background: #eee; padding: 5px 10px;}





/* My Reviews */
#my-reviews-table td { padding:10px; }

.product-review .product-img-box { float:left; width:140px;  }
.product-review .product-img-box .product-image { display:block; width:125px; height:125px; }
.product-review .product-img-box .label { font-size:11px; margin:0 0 3px; }
.product-review .product-img-box .ratings .rating-box { float:none; display:block; margin:0 0 3px; }
.product-review .product-details { margin-left:150px; }
.product-review .product-name { font-size:16px; font-weight:bold; margin:0 0 10px; }
.product-review h3 { font-size:12px; margin:0 0 3px; color:#2f2f2f; }
.product-review .ratings-table { margin:0 0 10px; }
.product-review dt { font-weight:bold; }
.product-review dd { font-size:13px; margin:5px 0 0; }










/* Shopping Cart ========================================================================= */
.cart .page-title { border-bottom:0; margin:0 0 12px; }
.cart .page-title h1 { margin:10px 0 0; }

/* Checkout Types */
.cart .page-title .checkout-types li { margin:0 0 5px; }
.cart .title-buttons .checkout-types { float:right; }
.cart .title-buttons .checkout-types li { float:left; margin:0 0 5px 5px; }
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding:8px 55px 0 0; line-height:1.0; font-size:11px; }

.cart form {margin-bottom:20px;}

/* Shopping Cart Table */
.cart-table th { padding:2px 10px; }
.cart-table td { padding:10px; }
.cart-table .product-name { font-weight:bold; margin:0 0 5px; color:#2f2f2f; }
.cart-table .item-msg { margin:5px 0; font-size:11px; font-weight:bold; color:#df280a; }
.cart-table tfoot td { padding:5px 10px; }
.cart-table .btn-continue { float:right; }
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update,
.cart-table .btn-empty { float:left; }
.cart-table .btn-update { margin-left:10px; }

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { padding:25px 0 0; }
.cart .cart-collaterals .col2-set { float:left; width:605px; }
.cart .cart-collaterals .col2-set .col-2 { width:294px; }

.cart .crosssell { border:1px solid #cec3b6; background:#fafaec; padding:12px 15px; }
.cart .crosssell h2 { font-size:13px; font-weight:bold; }
.cart .crosssell .product-image { float:left; width:75px; height:75px; border:1px solid #d0cdc9; }
.cart .crosssell .product-details { margin-left:90px; }
.cart .crosssell .product-name { font-weight:bold; }
.cart .crosssell li.item { margin:12px 0; }
.cart .crosssell .link-compare { font-weight:normal; }

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount, .cart .shipping { border:1px solid #d0cbc1; background:#fff; padding:12px 15px; margin:0 0 18px; }
.cart .discount h2, .cart .shipping h2 { background-position:0 0; background-repeat:no-repeat; font:bold 13px/16px Arial, Helvetica, sans-serif; padding:0 0 0 21px; color:#e26703; text-transform:uppercase; }
.cart .discount h3, .cart .shipping h3 { margin-bottom: 10px; }
.cart .discount .buttons-set, .cart .shipping .buttons-set { margin:10px 0 0; border:0; padding:0; text-align:left; }
.cart .discount .buttons-set button.button,
.cart .shipping .buttons-set button.button { float:none; margin-left:0; }

.cart .discount h2 { background-image:url(../images/i_discount.gif); }
.cart .discount .input-box { margin:8px 0 0; width:260px; }
.cart .discount input.input-text { width:254px; }

.cart .shipping .sp-methods { margin:10px 0 0; padding:5px 0 0; }
.cart .shipping label {}
.cart .shipping input {}
.cart .shipping select { padding:5px;}

/* Shopping Cart Totals */
.cart .totals { float:right; background:#dee5e8; border:1px solid #3b3734; }
.cart .totals table { width:100%; margin:7px 0; }
.cart .totals table span.price {float:right;}
.cart .totals td { padding:1px 15px 1px 7px; }
.cart .totals tr.last td {}
.cart .totals tfoot th { padding:5px 15px 5px 7px; }
.cart .totals tfoot td { padding-top:5px; padding-bottom:5px; }
.cart .totals tfoot th strong,
.cart .totals tfoot td strong { font-size:15px; }
.cart .totals .checkout-types { font-size:13px; padding:8px 15px 15px; text-align:right; }
.cart .totals .checkout-types li { clear:both; margin:10px 0; }

/* Options Tool Tip */
.item-options dt { font-weight:normal; font-style:italic; float:left; margin-right:7px; }
.item-options dd { padding-left:10px; margin:0 0 6px; font-weight:bold; }
.truncated { cursor:help; }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value { position:relative; z-index:999; }
.truncated .truncated_full_value .item-options { position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid #ddd; background-color:#f6f6f6; }
.truncated .truncated_full_value .item-options > p { font-weight:bold; text-transform:uppercase; }
.truncated .show .item-options { top:-20px; left:50%; }
.col-left .truncated .show .item-options { left:15px; top:7px; }
.col-right .truncated .show .item-options { left:-240px; top:7px; }
/* ======================================================================================= */


/* Checkout ============================================================================== */
/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods { margin:0 0 8px; }
.sp-methods dt { margin:15px 0 5px; font-weight:bold; }
.sp-methods dd {}
.sp-methods dd li { margin:5px 0; }
.sp-methods label { font-weight:normal; color:#666; }
.sp-methods .price { font-weight:bold; }
.sp-methods .form-list { padding-left:20px; }
.sp-methods .form-list li { margin:0 0 8px; }
.sp-methods select.month { width:154px; margin-right:10px; }
.sp-methods select.year { width:96px; }
.sp-methods input.cvv { width:3em !important; }

.sp-methods .checkmo-list li { margin:0 0 5px; }
.sp-methods .checkmo-list label { width:135px; padding-right:10px; text-align:right; }
.sp-methods .checkmo-list address { float:left; }

.sp-methods .centinel-logos a { margin-right:3px; }
.sp-methods .centinel-logos img { vertical-align:middle; }

.sp-methods .release-amounts { margin:0.5em 0; }
.sp-methods .release-amounts button { float:left; margin:5px 10px 0 0; }

.please-wait { float:right; }
.please-wait img { vertical-align:middle; }
.cvv-what-is-this { font-size:11px; cursor:help; margin-left:10px; }





/* Toolbar */
.toolbar {}
.toolbar .pager { padding:3px 8px; border-bottom:1px solid #fff; }
.toolbar .sorter { border-bottom:1px solid #fff; }
.toolbar-bottom {}

/* Data Table */
.data-table { width:100%; border:1px solid #bebcb7;}
.data-table h2 {font-size: 16px; margin-bottom: 0;}
.data-table h3 {font-size: 18px; margin: 2px 0;}
.data-table .odd  { background:#fff; }
.data-table .even { background:#eeeded; }
/*.data-table tr.odd:hover,
.data-table tr.even:hover { background:#ebf1f6; }*/
.data-table td.last,
.data-table th.last { border-right:0; }
.data-table tr.last th,
.data-table tr.last td { border-bottom:0 !important; }
.data-table th { padding:3px 8px; font-weight:bold; }
.data-table td { padding:3px 8px; vertical-align: middle;  }
.data-table a {color: #0099DA;}
.data-table td a:before {content: ""; padding: 0;}
.data-table tr.last td.last {padding:15px 10px 15px 15px;}
.data-table tr.last td.last button { margin-top:0px;}
.data-table tr.last td.last button.btn-checkout {margin-top:0;} 
 
.data-table thead th { font-weight:bold; border-right:1px solid #c2d3e0; padding:10px 10px; color:#0a263c; white-space:nowrap; vertical-align:middle; }
.data-table thead th.wrap { white-space:normal; }
.data-table thead th a,
.data-table thead th a:hover { color:#fff; }
.data-table thead th { background: #eee; }
.data-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.data-table tfoot { border-bottom:1px solid #d9dde3; }
.data-table tfoot tr.first td { }
.data-table tfoot tr { background-color:#dee5e8 !important; }
.data-table tfoot td { padding-top:1px; padding-bottom:1px; border-bottom:0; border-right:1px solid #d9dde3; }
.data-table tfoot strong { font-size:16px; }

.data-table tbody th,
.data-table tbody td { border-bottom:1px solid #d9dde3; ; }
/* Bundle products tables */
.data-table tbody.odd tr { background:#f8f7f5 !important; }
.data-table tbody.even tr { background:#f6f6f6 !important; }
.data-table tbody.odd tr td,
.data-table tbody.even tr td { border-bottom:0; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }

.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
.data-table tbody td .option-value { padding-left:10px; }

.data-table input.qty { text-align:right; padding:3px 5px 3px 0;}



/* Generic Info Box */
.info-box { background:#fff; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px; }
.info-box h2 { font-weight:bold; font-size:13px; }

.info-table th { font-weight:bold; padding:2px 15px 2px 0; }
.info-table td { padding:2px 0; }

/* Shopping cart total summary row expandable to details */
tr.summary-total { cursor:pointer; }
tr.summary-total td {}
tr.summary-total .summary-collapse { float:left; font-style:italic; text-align:right; padding-left:10px; cursor:pointer; }
tr.summary-total .summary-collapse:before {content: "[+]"; position: relative; top: -2px; left: -10px; color: #777; font-size: 11px;}
tr.summary-total .summary-collapse:hover:before {color: #000;}
tr.show-details .summary-collapse { background-position:0 -52px; }
tr.show-details td {}
tr.summary-details td { font-size:11px; background-color:#dae1e4; color:#626465; }
tr.summary-details-first td { border-top:1px solid #d2d8db; }
tr.summary-details-excluded { font-style:italic; }

/* Shopping cart tax info */
.cart-tax-info { display:block; }
.cart-tax-info,
.cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; cursor:pointer; }
.cart-tax-info .price,
.cart-tax-total .price { display:inline !important; font-weight:normal !important; }
.cart-tax-total-expanded { background-position:100% -52px; }

/* Class: std - styles for admin-controlled content */
.std .subtitle { padding:0; }
.std ol.ol { list-style:decimal outside; padding-left:1.5em; }
.std ul.disc { list-style:disc outside; padding-left:18px; margin:0 0 10px; }
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote { margin:0 0 1em; padding:0; }
.std ul { list-style:none; padding-left:0; }
.std ol { list-style:none; padding-left:0; }
.std ul ul { list-style-type:none; }
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { margin:.5em 0; }
.std dt { font-weight:bold; }
.std dd { padding:0 0 0 1.5em; }
.std blockquote { font-style:italic; padding:0 0 0 1.5em; }
.std address { font-style:normal; }
.std b,
.std strong { font-weight:bold; }
.std i,
.std em { font-style:italic; }

/* Misc */
.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last { background:none !important; padding-right:0 !important; }



.opc .buttons-set { margin-top:0; padding-top:0; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a { background:url(../images/i_arrow-top.gif) 0 50% no-repeat; padding-left:16px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul {  padding-left:18px; }
.opc .ul li {list-style: disc outside; margin-bottom:5px; font-size:14px;}

.opc { position:relative; }
.opc li.section {}
.opc p.back-link {float:right; text-align:right; font-style:italic;}
.opc p.back-link:before {content:'<  '; float:left; }
.opc .step-title { border-bottom:1px solid #cdcdcd; padding:8px 13px 11px; text-align:right;}
.opc .step-title .number { float:left; height:20px; width:20px; text-align:center; line-height:1.3; background:#333; border-color:#333; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px; color:#FFF; font-weight:bold; }
.opc .step-title h2 { float:left; margin:0; color:#333;  font-size: 25px; margin-left: 15px;}
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

.opc .allow .step-title { border:1px solid #cdcdcd; border-bottom:0; color:#a4b3b9; cursor:pointer; }
.opc .allow .step-title .number { background:#dbe6eb; border-color:#dbe6eb; color:#a4b3b9; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px; }
.opc .allow .step-title h2 { color:#a4b3b9; }
/*.opc .allow .step-title a { display:block; }*/

.opc .active .step-title {padding-bottom:5px; color:#F58220; cursor:default; padding:10px 0 10px 15px; background:#eee;  }
.opc .active .step-title .number { background:#fff; border:1px solid #f18200; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px;  color:#f18200; margin-top:5px;}
.opc .active .step-title h2 { color:#f18200; font-size:30px; }
/*.opc .active .step-title a { display:none; }*/

.opc .step { border:1px solid #cdcdcd; border-top:0; padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-login .buttons-set { border-top:0; }
#opc-login h3 { font-size:20px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; margin-bottom:10px; }
#opc-login h4 { font-size:17px; font-weight:bold; margin:0; color:#2f2f2f; margin:15px 0 5px 0; }
#opc-login #checkout-step-login ul.form-list {margin-bottom: 20px;}
#opc-login p {margin-bottom:10px;}


#opc-billing .form-list .field {margin-right:50px;}
#opc-billing .form-list li {margin-bottom:10px;}
#opc-billing select {padding:5px 10px;}
#opc-billing label {font-weight:normal;}
#opc-billing .customer-dob .dob-month, #opc-billing .customer-dob .dob-day { width:50px;margin-right:10px; float:left;}
#opc-billing .customer-dob .dob-year { width:100px;margin-right:10px; float:left;}
#opc-billing .customer-dob .dob-month input, #opc-billing .customer-dob .dob-day input{ width:25px !important;}

#checkout-step-shipping .form-list .field {margin-right:50px;}
#checkout-step-shipping  .form-list li {margin-bottom:10px;}
#checkout-step-shipping select{padding:5px 10px;}
#checkout-step-shipping label {font-weight:normal;}


#opc-shipping_method .udropship-cart-vendor-footer {font-size:20px;}
#opc-shipping_method .udropship-cart-vendor-footer select {margin-left:10px;}
#opc-shipping_method .udsplit-vendor-subtotal { font-size: 22px;}
#opc-shipping_method .buttons-set { border-top:0; }


#checkout-step-review .price {float:right;}
#checkout-step-review tfoot tr { height:30px; border-bottom: 1px solid #fff; }
#checkout-step-review .udsplit-vendor-subtotal {width:170px;}

.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .step { border:0; padding:0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 30px; border:1px solid #d9dde3; border-width:0 1px 1px; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }
#opc-review .udropship-cart-vendor-footer {height:30px;}

/* Checkout Agreements */
.checkout-agreements li { margin:30px 0; }
.checkout-agreements .agreement-content { overflow:auto; height:12em; padding:10px; background-color:#fbfaf6; border:1px solid #bbb6a5; }
.checkout-agreements .agree { margin:0; padding:10px 0 10px 11px; }
.checkout-agreements .agree input.checkbox { margin-right:6px; }
.checkout-agreements .agree label { font-weight:bold; color:#666; }

.opc .checkout-agreements { border:1px solid #d9dde3; border-width:0 1px; padding:5px 30px; }
.opc .checkout-agreements li { margin:20px 0 0; }
.opc .checkout-agreements .agreement-content { background-color:#fff; border-color:#e4e4e4; padding:15px; color: #777; line-height: 21px; }
.opc .checkout-agreements .agree { padding-left:6px; }
.opc .opc-review a {color: #0099DA;}

/* Centinel */
.centinel {}
.centinel .authentication { border:1px solid #ddd; background:#fff; }
.centinel .authentication iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

.opc .centinel { border:1px solid #bbb6a5; border-width:0 1px 1px; padding:10px 30px; }

/* Generic Info Set */
.info-set { background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; border:1px solid #bbb6a5; margin:0 0 25px; padding:20px; }
.info-set h2 { font-size:13px; font-weight:bold; margin:0 0 10px; }
.info-set h3,
.info-set h4 { font-size:13px; font-weight:bold; color:#E26703; }
.info-set h2 a,
.info-set h3 a,
.info-set h4 a { font-weight:normal; }
.info-set h2.legend { margin:-20px -20px 15px; padding:5px 10px; background:#f9f3e3; border-bottom:1px solid #bbafa0; position:relative; }
.info-set h3.legend { margin:0 0 10px; color:#0a263c; }
.info-set .divider { margin:0 -20px; padding:25px 0; position:relative; }
.info-set .box { margin:0 0 15px; }
.info-set .box h2 { color:#e26703; }
.info-set .data-table .product-name { font-size:1em !important; font-weight:bold !important; color:#1e7ec8 !important; }
.info-set .data-table .product-name a { font-weight:bold !important; }
.info-set .data-table .item-options { margin:5px 0 0; }
/********** Common Checkout Styles > */

/* One Page Checkout */
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:13px; color:#0a263c; }
.block-progress .block-content { background:none; }
.block-progress dt { font-size:13px; font-weight:bold; line-height:1.35; background:#eee; border:1px solid #a3aeb3; margin:0 0 6px; padding:2px 8px; color:#999; }
.block-progress dd { background:#eee; border:1px solid #a3aeb3; border-top:0; padding:8px 13px; margin:0 0 6px; }
.block-progress dt.complete { margin:0; background:#d0dce1; color:#5e8ab4; }
.block-progress dd.complete {}
.block-progress p { margin:0; }
.block-progress .cards-list dt { background:none; border:0 none; color:inherit; font-size:12px; margin:5px 0; padding:0; }
.block-progress .cards-list dd { border:0 none; margin:0; padding:0; }
.block-progress .cards-list .info-table th { font-weight:normal; }




/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */



/* ajouts de remi */

#payment_success a {font-weight:bold;}

#wishlist-table { margin-bottom:20px; border:1px solid #ddd; padding:0px 9px !important;}
#wishlist-table td { border-right:1px solid #ddd;}
#wishlist-table td.last { border:none;}
#wishlist-view-form .add-to-cart input {width:40px; clear:both;}

#wishlist-table h3 { font-size:20px; margin-bottom:10px; margin-top:10px; font-weight:bold;}
#wishlist-table .inner {font-size:14px; margin-bottom:10px; max-width:400px;}
#wishlist-table p {margin-bottom:0;}
#wishlist-table p a.link-edit {font-weight:bold;}
#wishlist-table p a.link-edit:before {content '>  ';}
#wishlist-table input.qty { width:40px;}
#wishlist-table .price {font-size:16px; font-style:italic; text-align:right; float:right;}
#wishlist-table .price strong {font-weight:bold; font-style:normal; font-size:18px;}
#wishlist-table .add-to-cart-alt button.button { text-align:right; margin:15px 0 0 0; float:right;}
#wishlist-table .add-to-cart-alt { width:100%; float:left;}