    <h2><?php session_start();echo $this->__('Vendeurs') ?></h2>
    <?php $_helper = $this->helper('catalog/output'); ?>
    <?php $_product = $this->getProduct(); ?>
    
	<?php
		$_coreHelper = $this->helper('core'); 
		$cartHelper = Mage::helper('checkout/cart');
		$buttonTitle = $this->__('Add to Cart');
		
		//echo "<table  id='product-vendors-table' class='data-table price-comparison-table vendor-table' >";
		$i = 0;
		foreach ($this->getVendor() as $Vendor) {
			if($_product->isSaleable()){
				if(!$_product->isGrouped()){
			    echo "<form id='product_addtocart".$i."_form' method='post' action='".Mage::helper('checkout/cart')->getAddUrl($_product)."'><table><tr>".
						 "<td>".
						 "<img width='50%' height='50%' class='small-image-preview v-middle' alt='".json_decode( $Vendor["custom_vars_combined"])->logo."' title='".json_decode( $Vendor["custom_vars_combined"])->logo ."' 
						 		src='http://192.168.1.200/magento/media/".json_decode( $Vendor["custom_vars_combined"])->logo."'>".
						 "</td>". 
						 "<td><span class='regular-price'><span class='price'>".$_coreHelper->currency($Vendor["vendor_price"])."</span></span></td><td>".
						 "<label for='qty'>".$this->__('Qty:')."</label>".
	        			  "<input type='text' name='qty' id='qty' maxlength='12' value='".($this->getProductDefaultQty() ?  $this->getProductDefaultQty() : 1 ) * 1 ."' title='".$this->__('Qty')."' class='input-text qty' />".
	       				"<td> <button type='button' title='".$buttonTitle."' class='button btn-cart' onclick='product_addtocart".$i."_form.submit(this)'><span><span>".$buttonTitle."</span></span></button></td>".
						 "<input type='hidden' name='vendor_id' value='".$Vendor["vendor_id"]."' /></td>";
					 
				/*echo "<form id='product_addtocart".$i."_form' method='post' action='".Mage::helper('checkout/cart')->getAddUrl($_product)."'>".

								"<img width='40%' height='40%' class='small-image-preview v-middle' alt='".json_decode( $Vendor["custom_vars_combined"])->logo."' title='".json_decode( $Vendor["custom_vars_combined"])->logo ."' 
						 		src='http://192.168.1.200/magento/media/".json_decode( $Vendor["custom_vars_combined"])->logo."'>".
								"<span class='regular-price'><span class='price'><span class='price'>".$_coreHelper->currency($Vendor["vendor_price"])."</span></span></span>";
									"<label for='qty'>".$this->__('Qty')."</label>".
									"<input type='text' class='input-text qty' title='Qté' value='".($this->getProductDefaultQty() ?  $this->getProductDefaultQty() : 1 ) * 1 ."' maxlength='12' id='qty' name='qty'>".
									"<input type='hidden' name='vendor_id' value='".$Vendor["vendor_id"]."' />".
									"<button onclick='productAddToCart".$i."Form.submit(this)' class='button btn-cart' title='".$buttonTitle."' type='button'><span>".$buttonTitle."</span></span></button>".
					"</form><br>";*/
					
				/*$params = array(
					'product' => $_product->getId(),
					'qty' => 12,
					'options' => array(
						99 => $Vendor["vendor_id"]
						)
					);
				
				
				echo '<td><a href="'.Mage::getUrl('checkout/cart/add', $params).'"> add to cart </a></td>';
				echo '<td><a href="'.Mage::helper('checkout/cart')->getAddUrl($_product, $params).'"> add to cart2 </a></td>';*/
				echo "</tr></table></form>";  
				}  
			}
			$i++;
		}
		//echo "</table>";
		//echo $_item = $this->getItem();
		//$asscVendorSession = $this->getVendor();

			
		
		
	?>