<style>
body {font-family:Arial, Helvetica, sans-serif; font-size:12px;}

.fadein { position:relative; height:332px; width:500px; }
.fadein img { position:absolute; left:0; top:0; }
</style>




<div class="fadein">
  <img src="http://192.168.1.200/magento/skin/frontend/soukeo/default/images/media/slide/1.jpg" width="900px">
  <img src="http://192.168.1.200/magento/skin/frontend/soukeo/default/images/media/slide/2.jpg" width="900px">
  <img src="http://192.168.1.200/magento/skin/frontend/soukeo/default/images/media/slide/3.jpg" width="900px">
  <img src="http://192.168.1.200/magento/skin/frontend/soukeo/default/images/media/slide/4.jpg" width="900px">

</div>

<script>
setInterval(function(){
  var imgs = $$('.fadein img'), 
   visible = imgs.findAll(function(img){ return img.visible(); });
  if(visible.length>1) visible.last().fade({ duration: .3 });
    else imgs.last().appear({ duration: .3, 
      afterFinish: function(){ imgs.slice(0,imgs.length-1).invoke('show');  } });
}, 3000);
</script>
