<?php
/**
 * @category    design
 * @package     base corporate
 * 
 * Colonne de gauche uniquement pour les pages corporate (histoire d'avahis, vendez sur avahis )
 * Fichier mis directement dans le back office sur les pages correspondantes
 * 
 */
?>


<div id="menu">
	<div class="widget">
		<h4>Qui sommes-nous?</h4> 
		<ul>  		    		
                <li><a href="<?php echo $this->getBaseUrl(); ?>qui_sommes_nous">L'histoire d'Avahis</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>emploi">Emplois & stages</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>presse">Presse</a></li>                
                   <li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>pdf/conditions generales d utilisation d'Avahis.pdf">Conditions Générales d'Utilisation Avahis.com</a> / 
                   	<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>pdf/CGV Avahis Vendeur.pdf">Conditions Générales Vendeurs</a> 
                	
                </li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>mentions_legales">Mentions légales</a></li>
		</ul>
			
            <h4>Besoin d'aide ?</h4>
            <ul>
                <li><a href="https://avahis.zendesk.com/hc/fr/categories/200007908-Aide-Acheter-sur-Avahis">Foire aux questions acheteurs</a></li>
                <li><a href="https://avahis.zendesk.com/hc/fr/categories/200009637-Aide-Vendre-sur-Avahis">Foire aux questions vendeurs</a></li>
                <li><a href="https://avahis.zendesk.com/hc/fr/articles/200578426-Notre-centre-de-contact">Nous contacter</a></li>
           		<li><a href="<?php echo $this->getBaseUrl(); ?>formation/distante">Formation à distance</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>formation/collective">Formation collective</a></li>
            </ul>
            
            
		   <h4>Vendeurs</h4>
            	<ul>
            	<li><a href="<?php echo $this->getBaseUrl(); ?>vendeur">Vendez sur Avahis</a></li>
            	<li><a href="<?php echo $this->getBaseUrl(); ?>vendeur/categories_disponibles">Combien ca coûte</a></li>            	
                <li><a href="<?php echo $this->getBaseUrl(); ?>vendeur/fonctionnement">Comprendre le fonctionnement</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>vendeur/developpez_vos_ventes">Developpez vos ventes</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>vendeur/couts_dacquisition">Coûts d'acquisition</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>vendeur/interface">Interface</a></li>
           		<li><a href="<?php echo $this->getBaseUrl(); ?>udropship">Interface vendeur</a></li>
		</ul>
		
		                    
		      <h4>Solutions e-commerce</h4>
            	<ul>
                <li><a href="<?php echo $this->getBaseUrl(); ?>solutions">Solutions e-commerce</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>solutions/catalogue_produit">Création et gestion de catalogue produit</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>solutions/expediez">Expediez par Avahis.com</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>solutions/data_marketing">Data & marketing</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>solutions/abonnement">Abonnement</a></li>


		</ul>
		
	</div>
</div>












<?php // Fonctionne mais pas utiliser, pas possible de regrouper par categories de pages ?>


    <?php /* $collection = Mage::getModel('cms/page')->getCollection()->addStoreFilter(Mage::app()->getStore()->getId());?>
    <?php  $collection->getSelect()
          ->where('is_active = 1'); ?>

<div id="menu">
	<div class="widget">
		<h4>Menu</h4>
		<ul class="categories">
<?php foreach ($collection as $page): ?>

      <?php $PageData = $page->getData(); ?>
      <?php if($PageData['identifier']!='no-route') { ?>   
      		    		
      <li class="nav1">
    	<a href="<?php echo $PageData['identifier']?>"><?php echo $PageData['title'] ?></a>
      </li>
      <?php } ?>
    <?php endforeach; ?>
		</ul>
	</div>
</div>
*/ ?>