<?php
/**
 * @category    design
 * @package     base corporate
 * 
 * Colonne de gauche uniquement pour les pages chronopei
 * Fichier mis directement dans le back office sur les pages correspondantes
 * 
 */
?>



<div id="menu">
	<div class="widget">
		<h4>ChronoPéï</h4> 
		<ul>  		    		
                <li><a href="<?php echo $this->getBaseUrl(); ?>univers/chronopei">Page 1</a></li>
                <li><a href="<?php echo $this->getBaseUrl(); ?>page2">Page 2</a></li>
		</ul>
			
	</div>
</div>
