<ul class="bloc-reseaux">
    <h4>Suivez-nous sur les réseaux sociaux !</h4>
    <li>
        <a href="https://www.facebook.com/Avahis" target="_blank">
            <img src="<?php echo $this->getCssImageUrl('ico_share_fb.png') ?>">
        </a>
        <a href="http://www.twitter.com/Avahis" target="_blank">
            <img src="<?php echo $this->getCssImageUrl('ico_share_twitter.png') ?>">
        </a>
        <img src="<?php echo $this->getCssImageUrl('ico_share_linkedin.png') ?>">
    </li>
</ul>