<h2>Avahis est la place de marché électronique de l’Océan Indien</h2>
<div class="col3">
    <ul>
        <h4>Un problème ? Une question ?</h4>
        <li><a href="https://avahis.zendesk.com/hc/fr" target="_blank">Consultez notre foire aux questions</a></li>
        <li><a href="https://avahis.zendesk.com/hc/fr/articles/200578426-Notre-centre-de-contact" target="_blank">Entrez en contact avec un conseiller</a></li>
        <li><a href="https://avahis.zendesk.com/hc/fr/articles/200578426-Notre-centre-de-contact" target="_blank">Contactez le service client</a></li>
    </ul>
</div>
<div class="col3">
    <ul>
        <h4>Le paiement sécurisé</h4>
        <li>
            <p style="float:left;">Pour régler vos achats, le paiement en toute sécurité sur Avahis.com avec notre partenaire La Poste.</p>
            <img src="<?php echo $this->getCssImageUrl('ico_pay_laposte.png') ?>" style="float:right; margin:0 0 0 10px">
        </li>
<?php /*  <li><strong>Débit à l’expédition</strong></li> */ ?>
         <li style="margin-bottom:10px;"><strong>Moyens de paiement acceptés</strong></li>
         <li>
            <img src="<?php echo $this->getCssImageUrl('ico_pay_visa.png') ?>" width="45" height="32">
            <img src="<?php echo $this->getCssImageUrl('ico_pay_master.png') ?>" width="45" height="32">
            <img src="<?php echo $this->getCssImageUrl('ico_pay_amex.png') ?> " width="45" height="32">
        </li>
    </ul>
</div>                
