    <div  id="footer1" class="">          
        <h2>Avahis est la place de marché électronique de l’Océan Indien</h2>
        <div class="col3">
            <ul>
                <h4>Un problème ? Une question ?</h4>
                <li><a href="https://avahis.zendesk.com/hc/fr" target="_blank">Consultez notre foire aux questions</a></li>
                <li><a href="https://avahis.zendesk.com/hc/fr/articles/200578426-Notre-centre-de-contact" target="_blank">Entrez en contact avec un conseiller</a></li>
                <li><a href="https://avahis.zendesk.com/hc/fr/articles/200578426-Notre-centre-de-contact" target="_blank">Contactez le service client</a></li>
            </ul>
        </div>
        <div class="col3">
            <ul>
                <h4>Le paiement sécurisé</h4>
                <li>
                    <p style="float:left;">Pour régler vos achats, Avahis a choisi des partenaires reconnus :</p>
                </li>
    <?php /*  <li><strong>Débit à l’expédition</strong></li> */ ?>
				<li>
					<img src="<?php echo $this->getCssImageUrl('logo_lbp.jpg') ?>" width="75" height="75">
					<img src="<?php echo $this->getCssImageUrl('logo_payline.png') ?>" width="156" height="75">
				</li>
				<hr/>
                 <li style="margin-top:20px;">
                    <img src="<?php echo $this->getCssImageUrl('logo_visa.png') ?>" width="65" height="40">
                    <img src="<?php echo $this->getCssImageUrl('logo_mastercard.png') ?>" width="65" height="40">
                    <img src="<?php echo $this->getCssImageUrl('logo_cb.png') ?> " width="65" height="40">
                </li>
            </ul>
        </div>                
        <div class="col3">
            <?php echo $this->getChildHtml('footer_newsletter') ?>
            <ul class="bloc-reseaux">
                <h4>Suivez-nous sur les réseaux sociaux !</h4>
                <li>
                    <a href="https://www.facebook.com/Avahis" target="_blank">
                        <img src="<?php echo $this->getCssImageUrl('ico_share_fb.png') ?>">
                    </a>
                    <a href="http://www.twitter.com/Avahis" target="_blank">
                        <img src="<?php echo $this->getCssImageUrl('ico_share_twitter.png') ?>">
                    </a>
                    <img src="<?php echo $this->getCssImageUrl('ico_share_linkedin.png') ?>">
                </li>
            </ul>
        </div>                                
        <p class="credits">Tous droits réservés - Soukéo - 2013</p>
    </div>    

