<?php 
/**
 * created : 07/04/2011
 * 
 * @category Ayaline
 * @package Ayaline_BestSales
 * @author aYaline
 * @copyright Ayaline - 2012 - http://magento-shop.ayaline.com
 * @license http://shop.ayaline.com/magento/fr/conditions-generales-de-vente.html
 */
?>
<?php /* @var $this Ayaline_BestSales_Block_Sidebar */?>
<?php 
$_collection = $this->getProductCollection();
?>
<?php if($_collection->count() > 0): ?>
<div class="block block-list">
    <div class="block-title">
        <strong><span><?php echo $this->__('Best sales') ?></span></strong>
    </div>
    <div class="block-content">
        <ol>
        <?php foreach($_collection as $_product): ?>
            <li class="item">
                <p class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>"><?php echo $this->getProductName($_product) ?></a></p>
            </li>
        <?php endforeach; ?>
        </ol>
        <?php if($this->helper('ayalinebestsales')->listIsActive()) : ?>
        <div class="actions">
        	<a href="<?php echo $this->getUrl('catalog/bestsales') ?>" title="<?php echo $this->__('View all best sales') ?>"><?php echo $this->__('View all best sales') ?></a>
        </div>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
