.commentaire { position: fixed; top: 0; left: 0px; opacity: 0.8; width: 100%; text-align: center; z-index: 10000; min-height:27px; background:#FCF; color:#000; padding-top: 5px; border: 1px solid #555;}
.commentaire a { margin-right:10px; padding-right:10px; border-right:1px solid #000;}

@charset "utf-8";
/* CSS Document */

/*Eric meyer's css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0; list-style:none;
/*font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif; */
font-family: 'PT Sans', sans-serif;
color:#3b3734; text-decoration:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none; display:list-item }blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/* fondamentaux */
html {}
body{}
.container {background-color: #eee; /* background: #eee url("http://192.168.1.200/magento/media/catalog/category/slide_00.jpg") 0  120px no-repeat; */ color:#202220; margin:0; padding:0; width:100%; min-width: 980px;}



/* Elements de contenu et d'habillage texte */
h1 {font-family: 'PT Sans Narrow', sans-serif; font-size:45px; margin:0 0 25px 0; }
h2 {font-family: 'PT Sans Narrow', sans-serif; font-size:30px; margin:0 0 30px 0; }
h3 {font-family: 'PT Sans Narrow', sans-serif; font-size:28px; color:#5f605c; }
h3.insert { background:#cdcdcd; margin-left: 10px; border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px; padding:10px 20px 10px 20px; display: inline-block;}
h4 {font-family: 'PT Sans Narrow', sans-serif; font-size:23px; text-transform:none; margin-bottom: 10px;}
h5 { text-transform:none; text-decoration:underline; font-size:18px; margin-bottom:7px;}


span {}
p{ font-weight:normal; font-size:14px; line-height:1.5; margin-bottom:20px;}
p.stock_ok {text-align: left; color:#97bf0d; background:url(images/ico_allright.png) no-repeat; background-position:0px 5px; padding-left:25px; float:none; font-size:18px; font-weight:bold; margin-bottom:10px}
a {}
a:hover {cursor:pointer; text-decoration:underline;}
strong {font-weight:bold;}
button { border:none; margin:0; padding:0; background-color:transparent; padding:0; }
hr {display:block; width:100%; border:none; margin:0;}
hr.spacer {margin-bottom:40px !important;}
.orange { color:#f58220;}
.blue {color:#0099da;}
.iblock {display: inline-block;}
.vtop {vertical-align: top;}
.vmiddle {vertical-align: top;}
.aright {float: right;}
.aleft{float: left; }
.alert { padding: 20px; color: #fff; background-color: red;}



/* Boutons */
button:hover {cursor:pointer;}
button a:hover {text-decoration:none;}
button.CTA_orange, #content_detail button, .CTA_orange {font-family: 'PT Sans Narrow', sans-serif; text-align:center; font-size:18px; color:#363533;
border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; font-weight:bold;
background-color:#fedc00; border:1px solid #f4b344; display:inline-block; color:#ffffff; padding:2px 10px 2px 12px; line-height:1.6; text-decoration:none; margin:5px 10px;
-moz-box-shadow:inset 0px 0px 0px 0px #ffe0b5;
-webkit-box-shadow:inset 0px 0px 0px 0px #ffe0b5;
box-shadow:inset 0px 0px 0px 0px #ffe0b5;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fedc00), color-stop(1, #fdbe00));
background:-moz-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-webkit-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-o-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:-ms-linear-gradient(top, #fedc00 5%, #fdbe00 100%);
background:linear-gradient(to bottom, #fedc00 5%, #fdbe00 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc00', endColorstr='#fdbe00',GradientType=0);}

button.CTA_orange:hover, button.CTA_blue, #content_detail button:hover, .CTA_orange:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00c2e9), color-stop(1, #0093d8));
background:-moz-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-webkit-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-o-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:-ms-linear-gradient(top, #00c2e9 5%, #0093d8 100%);
background:linear-gradient(to bottom, #00c2e9 5%, #0093d8 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c2e9', endColorstr='#0093d8',GradientType=0);
background-color:#00c2e9;
border:1px solid #0085bd; cursor:pointer; color: #000; text-decoration: none;}

button.CTA_orange a, button.CTA_orange strong {color:#363533; font-family:'PT Sans Narrow', sans-serif; }
button.CTA_orange:hover a, button.CTA_orange:hover a strong, button.CTA_blue:hover, button.CTA_blue a:hover {color:#fff;}
 
button.flat {background:#ffc20e; color:#FFF; text-transform:uppercase; text-align:center; height:30px; font-weight:bold; font-size:17px; }
button.flat:hover {background:#0099da; cursor:pointer;}
button.flat a {color:#3B3734;}
button.flat:hover a {color:#fff;}

button.CTA_blue a.see {background:url(images/ico_loupe_blanc.png) top left no-repeat; padding-left:30px; color:#FFF; }

button a.see {background:url(images/ico_loupe_noir.png) top left no-repeat; padding-left:30px }
button:hover a.see {background:url(images/ico_loupe_blanc.png) top left no-repeat !important; color:#fff; }


button.light_action, .light_action { text-align:center; font-size:14px; font-weight:bold; color:#3b3734; margin:0 5px 0 0; padding:5px 10px;
	border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; background:#ffffff; border:1px solid #eee; -moz-box-shadow: 0px 1px 1px 0px #9b9b9b;-webkit-box-shadow: 0px 1px 1px 0px #9b9b9b;
-o-box-shadow: 0px 1px 1px 0px #9b9b9b;
box-shadow: 0px 1px 1px 0px #9b9b9b;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=1);}
	button.light_action:hover, 	button.light_action:hover a, button.light_action a:hover, .light_action:hover  { background:#3b3734; color:#fff; text-decoration:none;}

button a.buy {background:url(images/ico_buy_noir.png) 100% -2px no-repeat; padding-right:45px; min-height:30px; display:block; }
button:hover a.buy {background:url(images/ico_buy_blanc.png) 100% -2px no-repeat; color: #fff; }





/* Mise en page générale et wrappers */
.wrapper_fullwidth {background: #eeeeee; width:100%; max-width:1000px; margin: 0 auto; position: relative;}
	.wrapper_fullwidth #menu { width:18% }
	.wrapper_fullwidth .content { width:80%; padding-left: 2%; /*padding-left:2%; */}
	.wrapper_fullwidth .wrapper_insert {width:100%; margin-left:-2%; padding-left:2%; float:left;}
	
.wrapper_onleft { position: relative; background:#eeeeee; max-width:1250px; margin:0; width:99%; padding-bottom: 30px; min-height: 400px;
box-shadow: 0px -63px 14px 1px #000; 
-moz-box-shadow: 0px -63px 14px 1px #000;
-webkit-box-shadow: 0px -63px 14px 1px #000;
}
	
	.wrapper_onleft #menu { width:18%; max-width:230px; }
	.wrapper_onleft .content {width:79%; padding-left: 2%; padding-top:40px; }
	.niveau1 .wrapper_onleft .content {width: 82%; padding-left: 0.3%; padding-top: 0;}

.wrapper_menu {display:block; position:relative; width:80%;}
	.wrapper_menu .wrapper_insert {padding-left: 2%;}


.wrapper_insert {background:#fff; min-height:30px; -moz-box-shadow: 0px 3px 13px 0px #cfcfcf; 
-webkit-box-shadow: 0px 3px 13px 0px #cfcfcf; -o-box-shadow: 0px 3px 13px 0px #cfcfcf; box-shadow: 0px 3px 13px 0px #cfcfcf; filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=13); 
border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; z-index:0; overflow:visible; }


.wrapper_nomenu { padding:0 1% 0 0%;}
.wrapper_nomenu .wrapper_insert { width:101%; margin-left:-1%; padding-left:1%; }

.wrapper_onleft h2 {margin-left: 20px; padding-top: 40px;}


.content {position: relative; display:block; position:relative; margin-left:18%; }


.col { }
.col2 { width:48%; margin: 0 1%; display:inline-block; vertical-align: top;}
.col3 { width:31%; margin: 0 0.75%; display:inline-block; vertical-align: top;}
.col4 {width:22%; margin: 0 1%; display:inline-block; vertical-align: top;}
.col5 { width:17.5%; margin:0 1%; display:inline-block; vertical-align: top;}
 
	.col5 > img {margin: 0 auto; display: block; height: 150px; width: auto;} 
 

/* Form Validation */
.validation-advice { clear:both; min-height:13px; margin:3px 0 0; padding-left:17px; font-size:11px; font-weight:bold; line-height:13px; color:#eb340a; }
.validation-failed { border:1px dashed #eb340a !important; background:#faebe7 !important; }
.validation-passed {}
p.required { font-size:11px; text-align:right; color:#EB340A; }
/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }

/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; } 
 
 
/* HEADEr */

header {position: relative; z-index: 5;width:100%; margin:0; background:url(images/header_bg.jpg) bottom center repeat-x #fff; /* min-height:160px; */}

	.header-top {min-height: 126px;}
	header a.logo {}
		header a.logo img {margin-top: 4px;}
		
	.header .Hleft {width: 20%; min-width: 240px; position: absolute; top: 0; left: 0;}	
	.header .Hcenter {width: 100%; }	
	.header .Hright { position:absolute; top: 7px; right: 1%;}	
		
	.header #connexion { }
		.header #connexion p { text-align:right; margin:0; line-height:1.5; font-size:14px;} 
		.header #connexion p a { color:#0099da;}	
		.header #connexion p img { margin-right:5px; margin-top:3px; width: 8px; height: auto;}
	
	
	.header #quicklinks {padding-top:5px; text-align: right; float:right; margin-top:27px;}
		.header #quicklinks > div {display: inline-block; vertical-align: top; margin-right: -5px;}
		.header #quicklinks 	.links > a {border-left:1px solid #cbcccc; padding:5px 1px 0 1px; display: block; }
		.header #quicklinks 	.links a > span:first-child {font-family: 'PT Sans Narrow', sans-serif; font-size:16px; display: block; width: 50px; padding-left: 40px; text-align: left; line-height: 1; margin-left: 10px; min-height: 40px; }
		.header #quicklinks .links:hover { background-color:#3b3733; text-decoration: none;}
		.header #quicklinks .links a:hover {text-decoration: none;}
			.header #quicklinks .links:hover a span {color:#FFF; font-weight:bold; }
		.header #quicklinks .panier {position: relative;}
		.header #quicklinks .panier span.panier_compte { height:20px; width:20px; text-align:center; line-height:1.3; background:url(images/ico_panier_compte_off.png) top left no-repeat; color:#FFF; position:absolute; top:-7px; left:32px; font-weight:bold;}
		.header #quicklinks .panier:hover span.panier_compte { background:url(images/ico_panier_compte_on.png) top left no-repeat; color:#000;}		
			.header #quicklinks .panier #mini_panier {visibility:hidden !important; width:340px; position:absolute; left:-150px; background:#FFF; z-index:1500;  box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); -moz-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); -webkit-box-shadow: 0px 8px 24px 3pxs rgba(119, 119, 119, 0.75); border-top:10px solid #363533; border-bottom:10px solid #363533; top:42px; padding:5px 0px 5px 0px; }
			.header #quicklinks .panier:hover #mini_panier,
			.header #quicklinks .panier #mini_panier:hover,
			.header #quicklinks .compte:hover #mini_compte, 
			.header #quicklinks .compte #mini_compte:hover {visibility:visible !important;}	
			.header #quicklinks .panier #mini_panier h4, header #quicklinks .compte #mini_compte h4 {text-transform:none; padding:0 10px 0 10px; text-align:left; margin:5px 0 10px 0px;}
			.header #quicklinks .panier #mini_panier li { background:#e2e2e2; margin-bottom:1px; min-height:60px; padding:5px 10px 5px 10px; float:left;}
			.header #quicklinks .panier #mini_panier li img { float:left; margin-right:10px;}
			.header #quicklinks .panier #mini_panier li p { float:left; font-size:14px; margin-bottom:0; width:230px; line-height:1.2; text-align:left;}
			.header #quicklinks .panier #mini_panier li span {float:none !important; margin:0;}	
			.header #quicklinks .panier #mini_panier li button {  background: url("images/ico_panier_close.png") center center no-repeat;   width:20px; height:20px; float:right;}			
			.header #quicklinks .panier #mini_panier li button:hover {}			
			.header #quicklinks .panier #mini_panier > p,
			.header #quicklinks .panier #mini_panier > legend,
			.header #quicklinks .panier #mini_panier > span {padding: 0 10px; margin:0; font-size:13px; text-align:left; float:left; line-height:1.5;} 
			.header #quicklinks .panier #mini_panier > p { font-weight:bold;}
			.header #quicklinks .panier #mini_panier > legend { font-style:italic;}			
			.header #quicklinks .panier #mini_panier > span {float:right; margin: 0px 10px 0px 0; font-weight:bold; font-size:20px;}
			
		.header #quicklinks .compte {position: relative;}
		.header #quicklinks .compte #mini_compte {visibility: hidden !important; width: 280px; position: absolute; right: 10px; background: white; z-index: 1500; box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); -moz-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); -webkit-box-shadow: 0px 8px 24px 3pxs rgba(119, 119, 119, 0.75); border-top: 10px solid #363533; border-bottom: 10px solid #363533; top: 42px; padding: 5px 0px 5px 0px;} 
			.header #quicklinks .compte #mini_compte .block-title {display:none;}
			.header #quicklinks .compte #mini_compte .block {border: none; margin: 0; padding 0;}
			.header #quicklinks .compte #mini_compte .block-content  {padding: 7px 10px;}
			.header #quicklinks .compte #mini_compte li {display: block; text-align: left; margin-bottom: 10px; font-size: 14px;  margin-left: 10px;} 
			.header #quicklinks .compte #mini_compte li:before { content: url("images/ico_puce_orange.png");  margin-right: 5px;}
				.header #quicklinks .compte #mini_compte li a:hover {text-decoration: underline; color: #ea7900;} 


			.header #quicklinks .links .s_panier { background: url("images/ico_quicklinks_panier.png") center left no-repeat;}
			.header #quicklinks .links .s_liste { background: url("images/ico_quicklinks_envies.png") center left no-repeat;}
			.header #quicklinks .links .s_compte { background: url("images/ico_quicklinks_moncompte.png") center left no-repeat;}
			

	header #region_select { width: 100%; text-align: center;}
		header #region_select .legend, header #region_select span {display: inline-block; vertical-align: top; background-color:#3b3734; padding:8px 1.5%; margin-left: -4px; font-size: 12px; color:#fff; font-style:italic; }		
		header #region_select span:hover {background-color :#fcc019; color:#000;}
		header #region_select span:first-child:hover {background-color:#3b3734; color: #fff;}
		/* header #region_select span {display:block; float:left; color:#FFF; font-size:12px;} */
		header #region_select button { background-color:#3b3734;  padding:6px 1%; display: inline-block; vertical-align: top; margin-left: -4px; border-left:1px solid #FFF;}
			header #region_select button span { color:#FFF; margin-top:0px;}
			header #region_select button.active, header #region_select button:hover { background:#fcc019;}
				header #region_select button.active span, header #region_select button:hover span { color:#3b3734}			
				header #region_select img {float:left; margin-right:6px;}

		.header #searchbox {width:550px; margin: 35px auto 0;}
			.header #searchbox select#search_cat { background:url(images/search_select_BG.jpg) repeat-x top right; width:160px; border:0;  height:32px; font-style:italic; font-size:12px;  border-radius:5px 0 0 5px;-moz-border-radius: 5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; cursor: pointer; vertical-align: middle; padding-left: 10px;}
			.header #searchbox select#search_cat optgroup { background:#FFF;}
			.header #searchbox select#search_cat option {font-style:normal; background:#FFF; font-size:13px; margin:0 0 10px 0;}
			.header #searchbox input#search_desc { border:0; background:url(images/search_input_BG.jpg) repeat-x; height:30px; width:220px; padding-left:2%; margin-left: -4px; vertical-align: top}
			.header #searchbox button {  width:120px; margin-left: -5px; /*background:url(images/search_validate_BG.jpg);*/ color:#fff; font-family: 'PT Sans Narrow', sans-serif; font-size:20px; font-weight:bold; height:32px; border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; vertical-align: top; }				




/* Header Small 
 Afficher au moment du scroll
 * */
#header-small { position: fixed; top: 0;  z-index: 99999999; width:100%; margin:0; height: 80px; border-bottom: 1px solid #cdcdcd;}
.header-small-bg {position: absolute; top: 0; left: 0; z-index: -1; opacity: 1; width:100%; height: 100%; background: #fff url(images/header_bg.jpg) bottom center repeat-x;} 
#header-small .header-top {min-height: 77px;}
#header-small a.logo img {width: 150px; height: auto; margin-top: 4px;}
#header-small #searchbox {margin-top 25px; margin-bottom: 12px; }
#header-small #connexion {position: absolute; top: 0; right: 2%;}
#header-small #connexion p {display: inline-block; vertical-align: top; padding: 0 10px; border-right: 1px solid #cdcdcd;}
#header-small #connexion p:last-child {border: none;}

#header-small #quicklinks {position: absolute; top: 30px; right: 1%; margin-top:0;}
#header-small #mainmenu {}




/* MEnus et navigation */

#navigation { }
	#mainmenu { position:relative; font-family: 'PT Sans Narrow', sans-serif; height:34px; background:url(images/button_mainmenu_bg.jpg) no-repeat top left #ffc20e; width:230px; cursor: pointer;}
		#mainmenu span { margin:7px 0 0 40px; font-size: 17px; font-weight: bold; float:left; margin:9px 0 0 42px }
		#manimenu a {width:230px; height:31px; display:block; float:left}

	#submenu { width:230px; background:#eeeeee; z-index:2000; position: absolute; left:0; top:31px; visibility:hidden;
		box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); }
		#submenu li { border-bottom:#b3b3b3 1px solid; font-size:14px; padding:11px 5px 10px 15px;}
		#submenu li:hover { background:#FFF; cursor:pointer; font-weight:bold; }
		#submenu a:hover {text-decoration: none;} 
		 
	#submenu_intern { position:absolute; top:0px; left:230px; backface-visibility:#FFF; width:500px; min-height:300px; padding:15px 10px 20px 15px; z-index:900; background:#FFF; visibility:hidden;
	box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 8px 24px 3px rgba(119, 119, 119, 0.75); cursor: auto; font-weight:normal; }
		#submenu_intern h4 {min-height: 50px;}

			#mainmenu:hover #submenu { visibility:visible; cursor:pointer; }
			#submenu:hover {visibility:visible;}	
			#submenu ul > li:hover > #submenu_intern {visibility:visible;}

		
	#ariane {padding-left:10px;}
		#ariane li {display: inline-block; position: relative;}
		#ariane li span {position: absolute; z-index: 10; display: block; top:2px; right:1px; width: 10px; height: 33px; background:url("images/ariane_li_after.png") top right no-repeat;}
		#ariane li.active {color:#3b3734; background:#fff none; font-size:14px; font-weight:bold; padding-left:5px; }
		#ariane li.active:after {width:0px !important; height:0px !important; content:"" !important;}
		#ariane li a { margin:0 9px 0 -14px; padding: 10px 20px 10px 20px; background:#3b3734; display: block; font-size: 14px; color:#FFF;}





/*menu gauche et hover*/
		
#menu {float:left;
background:#fff;
-moz-box-shadow: 0px 3px 13px 0px #cfcfcf;
-webkit-box-shadow: 0px 3px 13px 0px #cfcfcf;
-o-box-shadow: 0px 3px 13px 0px #cfcfcf;
box-shadow: 0px 3px 13px 0px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=13);
border:1px solid #cdcdcd; z-index:500; padding-top:10px; padding-bottom:40px; }

#menu .widget { border-bottom:1px solid #cbcccc; margin:10px 10px 10px 15px; padding-bottom:10px;}
#menu h3 { width:90%; padding:10px 5% 10px 5%; color:#3b3734; background:#fdc400; font-size:22px; font-weight:bold; margin-bottom:10px;}
	#menu .widget h4 { font-weight:bold; font-size:20px; color:#f58220;}
	#menu .widget li {clear:both;}	
	#menu .widget span.legende { font-style:italic; color: #979797; font-size: 13px;}
	
#menu .widget .categories {}
	#menu .widget .categories li {/*float:left; clear:both;*/ margin-bottom:10px; font-size:14px;}	
	#menu .widget .categories li:before {}
	#menu .widget .categories li.back:before {content:url(images/ico_puce_orange_back.png); margin-right:5px; }
	#menu .widget .categories li.active:before {content:url(images/ico_puce_orange.png); margin-right:5px; }	
	#menu .widget .categories li.nav1.active:before {content:url(images/ico_puce_orange.png); margin-right:5px; }		
	#menu .widget .categories li.active {font-weight:bold;}
	#menu .widget .categories li.nav1 { margin-left:0px;}
	#menu .widget .categories li.nav2 { margin-left:10px;}
	#menu .widget .categories li.nav3 { margin-left:20px;}	
	#menu .widget .categories li.nav4 { margin-left:30px;}	

#menu .widget .filter_check {}
	#menu .widget .filter_check input[type="checkbox"] {margin-right:8px; margin-top:2px; float:left;}
	#menu .widget .filter_check label {font-size:14px;}
	#menu .widget .filter_check li {margin-bottom:10px; font-size:14px;}
#menu .widget .filter_check input.prix { width:35px; margin-top:10px;}

#menu .widget .directlinks {max-height: 300px; overflow: auto; border-top: 1px solid #cbcccc; padding-top: 10px;}
#menu .widget .directlinks li {font-size:14px; margin-bottom:5px;}

#menu .widget .search_results_cat { margin-bottom:15px;}
#menu .widget .search_results_cat li { font-size:14px; margin-bottom:5px;}
	#menu .widget .search_results_cat li:before {content:url(images/ico_puce_orange.png); margin-right:5px; }
	#menu .widget .search_results_cat li.active {font-weight:bold;}
	#menu .widget .search_results_cat li.nav1 { margin-left:0px;}
	#menu .widget .search_results_cat li.nav2 { margin-left:10px;}
	
	
#menu .widget .scroll { height:200px; border:1px solid #cdcdcd; overflow-y:scroll; }
#menu .widget .attributs {}
	#menu .widget .attributs li {font-size:14px; margin-bottom:5px;}
	#menu .widget .attributs li.all { font-style:italic; text-align:right; font-weight:bold; text-decoration:underline;}
	#menu .widget .attributs li.all:before {content:'>  '; }





/* Home Page */


#homepage {padding-left:15px; padding-bottom:50px;}
#homepage .focus_categories h4 { font-size:20px !important;}
#homepage .focus_categories .visuel .direct_links ul li:before { content:'';}
#homepage .focus_categories .visuel .direct_links ul li a {margin: 0 0 0 -5px;}
#homepage .focus_categories .visuel li.voir_tous {font-style:normal;}
#homepage .slider_full {margin-left: 220px;}

.focus_pages {margin-top:20px; margin-bottom:50px;}
.focus_pages .visuel { border:1px solid #bbbbbb;}
.focus_pages .visuel:hover {cursor:pointer;}
.focus_pages .visuel:hover .active { visibility: visible !important;}
.focus_pages .visuel h4 { background:#FFF; min-height:30px; line-height:1; margin:0; padding:5px 10px 0 10px; font-size:20px; text-align:center;}
.focus_pages .visuel img{ width:100%;}
.focus_pages .visuel a.active { visibility:hidden !important; position:absolute; background:#0093d2; width:inherit; padding:20px 0; font-weight:bold; color:#FFF; text-decoration:none;}
.focus_pages .visuel .active p {margin-bottom:10px; padding:0 10px; color:#FFF; text-align:center; }
.focus_pages .visuel .active p strong {color:#fff; font-size:16px;}
.focus_pages .visuel .active p strong:before {content:url("images/ico_puce_blanc.png"); margin-right:6px;}

#homepage .col2 {margin-bottom:20px;}

.focus_pages .col2 { width:43%; padding:10px 2% 10px 2% ;}
.pastille {background:#fff; border-radius:10px; moz-border-radius:10px; webkit-border-radius:10px;  padding:10px 2% 10px 2% ; margin-bottom: 20px;}
.pastille p {margin-bottom:0;}
.pastille small {font-style:italic; font-size:12px;}
.pastille button.light_action { float:right;}




/* Block: currently */
.currently {padding:2px 1% 0px 1%; float:left; width:98%;  }
.currently p {margin-bottom: 0;}
.currently ol {float:left; width:100%;}
.currently .block-subtitle {font-style:italic; float:left; background:#eeeeee; margin-left:10px; padding:0 10px 0 10px;}
.currently .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.currently .block-title strong { font:bold 13px/21px Arial, Helvetica, sans-serif; background:url(../images/i_block-currency.gif) 0 50% no-repeat; padding:0 0 0 21px; text-transform:none; color:#fff; }
.currently .block-content { background:none; padding:0; }
.currently .block-content select { width:100%; padding:0; }
.currently li { background-color:#fff; padding:20px 24px 10px 10px; position:relative; z-index:1; }
.currently li:nth-child(odd) {background-color: #eeeeee;}
.currently li:nth-child(even) {background-color: #fff;}

.currently .label { font-weight: bold; font-size: 16px; color: #F58220; display: block; margin-bottom: 5px;}
.currently .value { margin-bottom: 10px; font-size: 14px; }
.currently .btn-previous,
.currently .btn-remove { position:absolute; right:4px; top:9px; margin:0;  display: block; width: 11px; height: 11px; font-size: 0; line-height: 0; background: url("images/ico_panier_close.png") 0 0 no-repeat; text-indent: -999em; overflow: hidden;}
.currently .btn-previous { right:17px; }

#menu .actions {text-align: right; border-bottom: 1px solid #CBCCCC; padding-bottom: 10px; margin: 0px 10px 0px 15px;}
#menu .actions a {color: #0099DA; font-size: 12px; padding-right: 5px;  }


/* RECHERCHE */
border-right: 1px solid #5f605c; { }

.toolbar {min-height:30px; padding-top:10px; padding-bottom:5px;}
.toolbar p, .toolbar form {margin:0;}
.toolbar .affichage {}
	.toolbar .affichage img { margin:0px 10px 0 10px;}		
	.toolbar .resultats_page { margin:0 10px 0 10px;}
	.toolbar .trier_par {  margin:0 10px 0 10px;}
	.toolbar hr { border-bottom: 1px solid #CBCCCC; height: 7px; margin: 9px 1%; width: 96%;	}		
	.toolbar label {font-size:13px;}
	.toolbar .nombre_resultats { margin-left: 15px;}



/* BACKUP - Système de pagination non utilisé */
.pagination { float:right;}
	.pagination p { text-align:center; float:none;}
	.pagination a {font-size:13px; font-weight:bold; float:left; width:26px; height:24px; background:url(images/pagination_button.png); margin:0 10px 0 0; padding:2px 0 0; text-align:center;}
	.pagination a:hover,  .pagination a.active { background:url(images/pagination_button_hover.png) top left no-repeat; color:#fff; text-decoration:none;}
	.pagination a.previous { padding-left:35px; text-align:left; background:url(images/pagination_previous.png) top left no-repeat; min-width: 100px;}
	.pagination a.previous:hover {color:#3B3734; background:url(images/pagination_previous_hover.png) top left no-repeat;}		
	.pagination a.next { padding-right:35px; text-align: right; background:url(images/pagination_next.png) top right no-repeat; min-width: 90px;}
	.pagination a.next:hover { color:#3B3734; background:url(images/pagination_next_hover.png) top right no-repeat;}		
/* */


.pages { height: 20px;  margin-left: 30px; min-width: 350px;}
	.pages strong {margin-right: 13px;  padding-top: 3px; float:left;}
	.pages ol { text-align:center; float:none;}
	.pages ol li { float:left; background:url(images/pagination_button.png) top left no-repeat; margin:0 10px 0 0;  text-align:center;}
	.pages ol li a, .pages ol li.current { padding-top: 6px; font-size:13px; font-weight:bold;  width:26px; height:19px; display: block;}
	
	.pages ol li:hover,  .pages ol li.current { background:url(images/pagination_button_hover.png) top left no-repeat; color:#FFF !important; font-weight:bold; }
	.pages ol li a:hover, .pages ol li.current a { color:#ffffff; text-decoration:none;}

	.pages ol li img {margin-top:-6px;}
	.pages a {margin:0;}
	.pages a.previous:hover, .pages a.next:hover {background:none;}

	.pages a.previous { padding-left:0; text-align:left; }
	.pages a.next { padding-right:0; }




/* RECHERCHE - affichage en grille */

#recherche-tri {width: 100%;}
#recherche-tri > div {display: inline-block !important; vertical-align: middle;}
#recherche-tri a {display:inline-block;}
		
	#recherche_grille { margin-bottom:30px; margin-top: 15px;}
		#recherche_grille .produit { background:#fff; max-width: 240px; margin-bottom: 30px; border-top:3px solid #fcc019;}
			#recherche_grille .produit h3 { font-family:'PT Sans Narrow', sans-serif; font-size:18px; padding:10px 10px 0 10px; margin-bottom: 0px; height:55px;}
			#recherche_grille .produit p { padding:0px 10px 0 10px; text-align:center; height:20px;v}
			#recherche_grille .produit p strong { font-family:'PT Sans Narrow', sans-serif; color:#ff7800; font-weight:bold; font-size:22px; float:right; }
			#recherche_grille .produit p + p {height: auto;}
			#recherche_grille .produit p legend { font-size:12px; margin: 6px 5px 0 0; font-style: italic;}
			#recherche_grille .produit button { width:100%;}
			#recherche_grille .produit:hover {cursor:pointer; border-top:3px solid #1a9ed6;}
			#recherche_grille .produit:hover h3 { background:#1a9ed6 ; color:#fff; }
				#recherche_grille .produit:hover button {background:#0099da; cursor:pointer;}
				#recherche_grille .produit:hover button a.see { color:#fff; background:url(images/ico_loupe_blanc.png) top left no-repeat;}				
				#recherche_grille .produit img {width:auto; height: 150px; text-align: center;}
				#recherche_grille a {text-decoration: none;}

/* RECHERCHE - affichage en liste */

	#recherche_liste { margin-top: 15px;}
		#recherche_liste .produit { width: 99%; margin-top: 15px; border:1px  transparent solid; padding:15px 10px 15px 0; }
		#recherche_liste .produit:hover {background:#fff; border:1px solid #cdcdcd;
		-moz-box-shadow: 0px 2px 5px 0px #c0c0c0; -webkit-box-shadow: 0px 2px 5px 0px #c0c0c0; -o-box-shadow: 0px 2px 5px 0px #c0c0c0; box-shadow: 0px 2px 5px 0px #c0c0c0; filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=5);}
			#recherche_liste .produit .vignette { width:150px; margin: -10px 1% 0 1%; display:inline-block; vertical-align: top; float:left; display:block;}
			#recherche_liste .produit .vignette img { float:right; border:1px solid #e0e0e0; width: auto; height: 150px;} 
		
			#recherche_liste .produit .description {width:48%; margin: 0 1%; display:inline-block; vertical-align: top;}

		
			#recherche_liste .produit h3 { font-family:'PT Sans Narrow', sans-serif; font-size:25px; margin-bottom: 5px; }
			#recherche_liste .produit p.categorie { float:left; width:100%; margin-bottom:10px;}
				#recherche_liste .produit p.categorie a { font-weight:bold;}
				#recherche_liste .produit p.categorie a.active {color:#0099da;}				
			#recherche_liste .produit p strong { }
			#recherche_liste .produit p legend { font-size:12px; float:left; margin: 6px 5px 0 0; font-style: italic;}
			#recherche_liste .produit .actions {width:22%; margin: 0 1%; display:inline-block; vertical-align: top;}
				#recherche_liste .produit .actions p {margin:0;}
				#recherche_liste .produit .actions p.prix { text-align:right; color:#5f605c;}
				#recherche_liste .produit .actions .price { font-size:25px; color:#e8357f; font-family: 'PT Sans Narrow', sans-serif; }
				#recherche_liste .produit .actions p.conditions { font-style:italic; font-size:13px; text-align:right; margin-bottom:5px;}		
				#recherche_liste .produit .actions p.stock_ok {float:right;}
				#recherche_liste .produit .actions button { float:right; margin-right:0;}			
			
			#recherche_liste .produit button.main_see { background:#ffc20e url(images/ico_loupe_blanc.png) no-repeat; background-position: 20px 5px ; color:#FFF; text-transform:uppercase; text-align:center; width:100%; text-align:center; height:30px;}
				#recherche_liste .produit button.main_see:hover, #recherche_liste .produit:hover  button.main_see {background:#0099da url(images/ico_loupe_blanc.png) no-repeat; background-position: 20px 5px ; cursor:pointer; }


				
/* FICHE-PRODUIT */				
					
#fiche_produit {background-color: #fff; padding: 15px 2%; width:96%;  border-top: 1px solid #e0e0e0;}
	#fiche_produit #visuel { float:left; width:33%; margin-right:4%;}
		#fiche_produit #visuel img.full { border:1px solid #e0e0e0; float:right; width:100%; max-width:350px; margin-bottom:10px; }
		#fiche_produit #visuel img.vignette { border:1px solid #e0e0e0; float:right; margin:0 0 0 3%; width:29%;}

	#fiche_produit #focus {padding-left: 37%;}
		#fiche_produit #focus p {margin-bottom:5px;}	
		#fiche_produit #focus p.prix { text-align:right; color:#5f605c;}
			#fiche_produit #focus p.prix strong { font-size:30px; color:#e8357f; font-family: 'PT Sans Narrow', sans-serif; margin-left:10px; }
		#fiche_produit #focus p.disponibilite { margin-bottom:10px;}
			#fiche_produit #focus p.disponibilite span {margin-top:-2px;}
			#fiche_produit #focus p.disponibilite img { margin:4px 4px 0 10px;}		
		#fiche_produit #focus p.avis {margin-bottom: 15px;}
		#fiche_produit #focus p.avis a {  color:#0099da;}
		#fiche_produit #focus p.description { color:#3b3734; font-size:16px; line-height:1.8; margin-bottom:30px;}
		#fiche_produit #focus form.quantite { font-size:13px; margin-bottom:30px}
			#fiche_produit #focus form.quantite select { font-size:15px; width:40px; text-align:center;}		
			#fiche_produit #focus .quantite input { width:20px; text-align:right; padding:2px 5px; margin-left:5px;}
		#fiche_produit .ajout {text-align: right;}
		#fiche_produit #focus button.light_action {}
		#fiche_produit #focus button.CTA_orange { }


#product_tabs_additional_tabbed_contents .fiche_technique {width: 100%;}
#product_tabs_additional_tabbed_contents .fiche_technique td {padding: 5px 0; }

#customer-reviews {margin-right: 15px;}

#customer-reviews .customer-reviews-title  {border-bottom: 1px dotted #a0a0a0; padding-bottom: 10px;}
#customer-reviews .ratings-list {width: 50%; margin: 15px 0; }
#customer-reviews .ratings-list td {padding: 5px 0;}
#customer-reviews .rating-box {width: 100px; height: 5px; border: 1px solid #999; background-color: #DEEBF5; border-radius: 20px;}
#customer-reviews .rating { height: 100%; background-color: #B4D4F8; border-radius: 20px; border-right: 1px solid #999;}

#customer-reviews li {padding: 10px;  font-size: 13px; border-bottom: 1px solid #000;}
#customer-reviews li:nth-child(odd) {background-color: #F7F7F1;}
#customer-reviews li:nth-child(even) {background-color: #FFF;}

#customer-reviews p {font-size: 12px; line-height: 14px; color: #333;}

/* Navigation intérieure par onglets */
#content_detail { position: relative; margin-top:30px; margin-bottom: 40px; padding-bottom: 20px; background-color: #fff;}


ul.nav_onglet {  width:99%; display:block; margin-bottom:20px; margin-left:-2%; padding-left:3%; background:#d7d5d3;
	-moz-box-shadow:inset 0px -5px 6px 0px #aaa;
-webkit-box-shadow:inset 0px -5px 6px 0px #aaa;
box-shadow:inset 0px -5px 6px 0px #aaa;
}
	ul.nav_onglet li { display: inline-block; vertical-align: middle; margin-left: -4px; border-right: 1px solid #fff; width: 23%; padding:10px 1% 0 1%; text-align: center; }
	ul.nav_onglet li:last-child {border-right: none;}
	ul.nav_onglet span {display:block; min-height: 30px;}
	ul.nav_onglet li.active, ul.nav_onglet li:hover  { background:#ffffff; color:#0099da; cursor:pointer; margin-top:0px; 
-moz-box-shadow:0px -3px 5px 0px #cfcfcf;
-webkit-box-shadow:0px -3px 5px 0px #cfcfcf;
box-shadow:0px -3px 5px 0px #cfcfcf;
	}
	ul.nav_onglet li.legende p { font-style:italic; font-size:13px; margin-bottom:0; line-height:1.2;}
	ul.nav_onglet li h4 {font-size:20px; text-transform:none; text-align:left; font-weight:bold;}
	ul.nav_onglet li h4, ul.nav_onglet li p, ul.nav_onglet li a { color:#3b3734;}
	ul.nav_onglet li.active h4, ul.nav_onglet li:hover h4, ul.nav_onglet li.active p, ul.nav_onglet li:hover p, 		
	ul.nav_onglet li.active a, ul.nav_onglet li:hover a  { color:#0099da;}	
	ul.nav_onglet li p {color:#3b3734;}
	ul.nav_onglet li.active p, ul.nav_onglet li:hover p {color:#0099DA;}

.onglet_detail {top: 50px; width:100%; background-color: #fff; left: -0.1%;}	
.onglet_detail .col5 {text-align: center;}	
	
	
/* FICHE-PRoDUIT - Widget - Produits suggérés */
#autres_produits { margin-bottom:70px;}
#autres_produits h3 {}
#autres_produits .produit { padding:10px 0.5% 0 0.5%;}
#autres_produits .col5 {width:18% !important; margin-right:1% !important;}
	#autres_produits .produit img {text-align:center; margin:0 auto; width:100%; margin-bottom:10px; border:1px solid #E0E0E0;} 
	#autres_produits .produit:hover { background:#FFF; cursor:pointer;}
	#autres_produits .produit:hover button { background:#3b3734; color:#fff; text-decoration:none;}	
	#autres_produits .produit:hover a.see {color:#FFF; background:url(images/ico_loupe_blanc.png) top left no-repeat}
	#autres_produits .produit h4 { text-transform:none; font-size:18px;}
	#autres_produits .produit p { text-align:right; margin-bottom:10px;}
	#autres_produits .produit p legend { font-size:11px; float:left; margin-right:10px;}
	#autres_produits .produit strong { font-size:18px; color:#ff7800;}
	#autres_produits .produit button { margin:0 auto; text-align:center; margin:0 10% 10px 10%;}
	#autres_produits .produit button a { min-height:19px; padding-top:3px; display:block;}




/* Block: Reviews */
#content_detail button:hover span span {color: #fff;}

#product_tabs_review_tabbed_contents dl { margin:15px 0; }
#product_tabs_review_tabbed_contents dt a,
#product_tabs_review_tabbed_contents dt span { font-weight:bold; }
#product_tabs_review_tabbed_contents dd { margin:0 0 15px; }
#product_tabs_review_tabbed_contents dd small { font-style:italic; }
#product_tabs_review_tabbed_contents .form-add { margin:15px 0 0; }
#product_tabs_review_tabbed_contents .form-add h3 { font-size:13px; font-weight:normal; margin-bottom: 20px; }
#product_tabs_review_tabbed_contents .form-add h3 span { font-weight:bold; }
#product_tabs_review_tabbed_contents .form-add h4 {font-size: 22px; margin-bottom: 20px; }
#product_tabs_review_tabbed_contents .form-add .data-table td { text-align:center;padding: 5px 0px; min-width: 70px; }
#product_tabs_review_tabbed_contents .form-add .form-list { margin:15px 0 0; }
#product_tabs_review_tabbed_contents .form-add .form-list .input-box { width:360px; }
#product_tabs_review_tabbed_contents .form-add .form-list input.input-text,
#product_tabs_review_tabbed_contents .form-add .form-list textarea { width:354px; }
#product_tabs_review_tabbed_contents .form-add .form-list textarea {min-height: 100px;}
#product-review-table {font-size: 12px;}


.slider_full {margin-bottom:50px;}
.wrapper_menu .slider_full {width:100%;}
.wrapper_nomenu .slider_full {}
.slider_full .rotation {}
.slider_full .rotation img { width:100%;}
.slider_full .navigation { background:#FFF; border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px; padding:10px 20px 10px 20px; float:right; position:relative; margin-top:-20px; width:20%; text-align:center; right:3%; }
.slider_full .navigation a{ text-align:center; padding:0 10px 0 10px; margin:0; }
.slider_full .navigation a.active {font-weight:bold;}


.focus_categories {margin:25px auto 60px auto; padding: 0 1%;}
.focus_categories:last-child{margin-bottom: 0px;}
.focus_categories h4 {font-weight:bold; min-height: 70px; position: relative;}
.focus_categories h4 a {position: absolute; bottom: 0;}



.focus_categories li.voir_tous {font-style:italic; text-decoration:underline; font-weight: bold;}
.focus_categories li.voir_tous:before {}
.promo_3col {}
.focus_categories li img {max-width: 160px;}


.focus_categories .direct_links { margin-bottom:30px;}
.focus_categories .direct_links li:before { content: url("images/ico_puce_noir.png"); margin-right:5px; }
.focus_categories .direct_links li {margin-bottom: 8px; font-size: 14px;}
.focus_categories .direct_links p {text-align: center; background-color: #fff; }
.focus_categories .direct_links p img {width: auto; height: 100% ; max-height: 120px;}


.focus_categories .visuel { border:1px solid #bbbbbb;}
.focus_categories .visuel:hover {cursor:pointer;}
.focus_categories .visuel:hover ul { visibility: visible !important;}
.focus_categories .visuel h4 { background:#FFF; min-height:30px; line-height:1; margin:0; padding:5px 10px 0 10px; font-size:20px;}
.focus_categories .visuel img{ width:100%;}
.focus_categories .visuel ul { min-height:133px; visibility:hidden !important; position:absolute; background:#0093d2; width:30.2%; padding:20px 0;}
.focus_categories .visuel li {margin-bottom:10px; padding:0 10px;}
.focus_categories .visuel li a { font-weight:bold; color:#FFF;}
.focus_categories .visuel li a:before {content:url("images/ico_puce_blanc.png"); margin-right:10px;}



.focus_categories .accroche h5 { margin:0px 0 10px 0; padding:0px; font-size:16px; font-weight:bold; text-decoration:none;}
.focus_categories .accroche img{ width:100%; float:left; margin-bottom:20px;}
.focus_categories .accroche li {margin-bottom:5px;}
.focus_categories .accroche li a { font-size:14px;}
.focus_categories .accroche li a:before { content:'>  ';}

 .top_ventes {margin:25px 0 0px 0; }
.top_ventes .onglet_detail p {margin-bottom:10px; text-align:center;}
.top_ventes .onglet_detail button {margin-bottom:10px;}




/* FICHE-PRODUIT - widget : choix de la livraison */

/* Ancienne version : mise à jour du 17/10/2013 
#livraison_detail {}
	#livraison_detail ul.nav_onglet { }
		#livraison_detail ul.nav_onglet li.legende {width:27%; background:#3b3734; margin-left:-2.9%;}	
			#livraison_detail ul.nav_onglet li.legende h4, #livraison_detail ul.nav_onglet li.legende p {color:#fff !important;}
		#livraison_detail ul.nav_onglet li.legende:hover { background:#3b3734;}
		#livraison_detail ul.nav_onglet li.legende:hover h4, #livraison_detail ul.nav_onglet li.legende:hover p {color:#fff !important;}
		#livraison_detail ul.nav_onglet li {min-height:65px; width: 16%;}
		#livraison_detail ul.nav_onglet li h4 { margin-bottom:0; text-align:left;}	
		#livraison_detail ul.nav_onglet img {float:left; margin-right:10px; margin-top:5px;}
		#livraison_detail ul.nav_onglet li p {margin-left:33px; font-size:13px; margin-bottom:0;}		


	#livraison_detail .onglet_detail p.conditions { margin-top:10px; font-style:italic; float:left;}
	#livraison_detail p.avis { margin-bottom:5px;}
	#livraison_detail p.prix_vente, #livraison_detail p.prix_final {font-style:italic; margin-bottom:7px;}
		#livraison_detail p.prix_vente strong, #livraison_detail p.prix_final strong {font-style:normal; font-size:25px; margin-left:10px;}	
		#livraison_detail p.prix_final {text-align:center;}	
			
	#livraison_detail .partenaire ul.detail_livreur li { float:left; margin-right:5px;}
	#livraison_detail .partenaire ul.detail_livreur li.prix_livreur { font-size:16px;}
	#livraison_detail .partenaire ul.detail_livreur li input {margin:0 10px;}
	#livraison_detail .partenaire ul.detail_livreur li.details { font-size:14px; width:71%;}
	#livraison_detail .partenaire ul.detail_livreur li.details p { margin-bottom:5px; line-height:1;}
	#livraison_detail .partenaire ul.detail_livreur li.details a {font-size:12px; font-style:italic; }
	#livraison_detail .partenaire ul.detail_livreur li {}						
	#livraison_detail .col2 hr {height:0px; background:#CCC; margin-bottom:5px;}
	#livraison_detail hr {height:1px; background:#CCC; margin-bottom:30px;}
	#livraison_detail .partenaire button {font-size:19px; font-weight:normal; margin-top:0; line-height:1; padding:10px 8px;}*/


/* FICHE-PRODUIT - widget : choix de la livraison */

#livraison_detail { margin-top:20px;}

		#livraison_detail .legende { background:#3b3734; margin:-20px 0 15px -10px; display:inline-block; padding:10px 20px 10px 30px;border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px; }	
		#livraison_detail .legende h4 {margin-top: 5px; color:#fff !important; margin-bottom:5px;}
		#livraison_detail .legende p {color:#fff !important; font-style:italic; margin-bottom:0;}
		#livraison_detail .legende:hover { background:#3b3734;}
		#livraison_detail .legende:hover h4, #livraison_detail .legende:hover p {color:#fff !important;}
		#livraison_detail .legende img {float:left; margin-right:10px; margin-top:5px;}
		
	#livraison_detail .col4 {float:left; width:23% !important; margin-right:0.5%; }
	#livraison_detail .col2 {width:46% !important; margin-right:0.5%; }	
		#livraison_detail .pays {margin-bottom:20px; padding:5px 1%;}
		#livraison_detail .pays:hover {background: #fff; border-radius: 10px;-moz-border-radius: 10px; -webkit-border-radius: 10px; }
/*		#livraison_detail .pays:hover h4 {background:#d7d5d3;}		*/
		#livraison_detail .pays img {float:left; margin:7px 10px 0 0;}
		#livraison_detail .pays h4 { margin-bottom:5px; margin-right: 20px; text-align:left; float:left; font-size:28px; font-weight:bold; padding:3px 10px;}	
		#livraison_detail .pays h5 {font-size:16px; font-weight:normal; line-height:1; text-decoration:none; margin-top:8px; margin-bottom:0;}
		#livraison_detail .pays p {font-size:13px; margin-bottom:0; clear:both;}
		#livraison_detail .pays li { line-height:1.3;}
		#livraison_detail .pays li.prix_livreur { font-size:20px; font-weight:bold; float:left; margin-right:10px; line-height:1.5}
		#livraison_detail .pays li.delais p {}


	#livraison_detail ul.detail_livreur {clear:both; margin-bottom:10px; border-top:1px solid #ccc; padding-top:5px;}
	#livraison_detail ul.detail_livreur li.details { font-size:14px; width:71%;}
	#livraison_detail ul.detail_livreur li.details p { margin-bottom:5px; line-height:1;}
	#livraison_detail ul.detail_livreur li.details a {font-size:12px; font-style:italic; }

#partenaires { width:98%; margin:20px 0 50px 0; padding:15px 10px;}
	#partenaires .col2 hr {height:0px; background:#CCC; margin-bottom:5px;}
	#partenaires hr {height:1px; background:#CCC; margin-bottom:30px;}
	#partenaires .partenaire {}
		#partenaires .partenaire p.prix_vente strong {font-style:normal; font-size:25px; margin-right:10px; float:left; margin-top:-12px;}	
		#partenaires .partenaire p.avis { margin-bottom:5px;}
		#partenaires .partenaire p.prix_vente {font-style:italic; margin-top:15px;}
		#partenaires .partenaire p.prix_final {text-align:center;}	
		#partenaires .partenaire button {font-size:19px; font-weight:normal; margin-top:0; line-height:1; padding:10px 8px;}


#product-vendors-table {width: 100%;}
#product-vendors-table td {vertical-align: top; padding-top: 15px; }
#product-vendors-table tr {border-bottom: 1px solid #ccc; }
#product-vendors-table tr:last-child {border-bottom: none; }
#product-vendors-table td:nth-child(3) { text-align: center;} 
#product-vendors-table td:last-child { text-align: right;} 
#product-vendors-table .prix_vente {font-style: italic;}
#product-vendors-table .prix_vente strong {font-size: 25px; font-style: normal;}
#product-vendors-table button a {font-weight: normal; }

/*
 * 
 * 
 * Page Corporate
 * 
 * 
 */

/***** Glyphs Icon by Entypo *****/
@font-face {
font-family: 'entypo-social';
src:url('fonts/entypo-social.eot');
src:url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
url('fonts/entypo-social.woff') format('woff'),
url('fonts/entypo-social.ttf') format('truetype'),
url('fonts/entypo-social.svg#entypo-social') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'WebHostingHub-Glyphs';
src:url('fonts/webhostinghub-glyphs.eot');
src:url('fonts/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
url('fonts/webhostinghub-glyphs.ttf') format('truetype'),
url('fonts/webhostinghub-glyphs.svg#webhostinghub-glyphs') format('svg');
font-weight: normal;
font-style: normal;
}



#corporate {min-height: 800px;}
#corporate .content { /*margin-left: 0; */ width: auto; padding: 0 5%;}
#corporate hr {border-bottom: 1px solid #CBCCCC; margin: 40px 0 40px -2%; width: 104%; }
#corporate h5 {text-decoration: none; color: #0E7AC3; font-size: 20px;}
#corporate em, #corporate i {font-size: 60px; line-height: 69px; margin-right: 17px; margin-bottom: 20px; float: left; }
#corporate .col2 {margin-bottom: 30px; border-bottom: 1px solid gray; min-height: 180px; } 
#corporate .col2:nth-child(odd) {margin-right: 0;} 
#corporate .col2 p {min-height: 75px;}
#corporate table td { border-bottom: 1px solid #DDD; background-color: #fefefe; color: black; text-align: left; padding: 7px 16px; }
#corporate table {border: 1px solid #DDD;}
#corporate ul,
#corporate ol,
#corporate dl {font-size: 1em; line-height: 1.8; margin-bottom: 1.25em; padding-left: 1.125em; list-style-position: outside; font-family: inherit; }
#corporate .list_disc li {list-style-type: disc;}
#corporate .light_action {display: inline-block; margin-bottom: 20px;}

.no-border { border: none !important;}
.float-left {float: left;}



/*
 * Menu de gauche
 */

#corporate #menu ul, .univers #menu ul {padding: 0;}
#corporate #menu li, .univers #menu li  {font-size: 14px; margin-bottom: 10px; margin-left: 10px; line-height: 1;}
#corporate #menu li:before, .univers #menu li:before {content: url("images/ico_puce_orange.png");margin-right: 5px;}
#corporate #menu li a:hover, .univers #menu li a:hover  {color: #ea7900; text-decoration: underline;}
	#corporate #menu li li, .univers #menu li li {margin-left: 10px;}




/***** Note Panels *****/
.note { background: #fafafa; border: solid 1px #ddd; margin: 0 0 28px 0; padding: 20px 25px 15px 25px; position:relative;}
.note:after {left: 4px; right: 4px; bottom: -5px; box-shadow: 0 0 2px #ddd;}
.note, .note:before, .note:after {background: #fafafa; border: 1px solid #ddd;}
.note:before, .note:after {content: ""; position: absolute; bottom: -3px; left: 3px; right: 3px; height: 1px; border-top: none;}
.note p {margin-bottom: 0px;}

.note-folded {position:relative; margin-bottom:28px; padding: 20px 25px 15px 25px; color:#fff; background:#5e5e5e; overflow:hidden;}

.note-folded h1, .note-folded h2, .note-folded h3, .note-folded h4, .note-folded h5, .note-folded h6 {color:#fff;}
.note-folded > .lead {color:#fff !important; margin-bottom:15px;}
.note p.lead {color:#afafaf; margin-bottom:15px;}

.note-folded:before {
content:"";
position:absolute;
top:0;
right:0;
border-width:0 22px 22px 0; 
border-style:solid;
border-color:#eee #eee #454545 #454545; 
background:#454545; 
display:block; width:0; 
}

.note-folded.green {background:#94ba65;}
.note-folded.green:before {border-color:#fff #fff #699038 #699038; background:#699038;}
.note-folded.blue {background:#3b97d6;}
.note-folded.blue:before {border-color:#fff #fff #0773bc #0773bc; background:#0773bc;}
.note-folded.orange {background:#ee7e3f;}
.note-folded.orange:before {border-color:#fff #fff #c25a20 #c25a20; background:#c25a20;}
.note-folded.red {background:#e94e4e;}
.note-folded.red:before {border-color:#fff #fff #c42d2d #c42d2d; background:#c42d2d;}




/***** Promo Box Styling *****/
.promo-box { position: relative; width:95%; margin:15px 0px 25px 0px; padding:18px 24px 19px 24px; background-color: #fefefe; border:1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.promo-box:before, .promo-box:after {
z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 15px;
width: 50%;
top: 80%;
max-width:300px;
background: rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.3);
-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}

.promo-box:after {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 15px;
left: auto;	
}

.promo-text {}
.promo-button {margin-top: 11px; position: absolute; top: 20px; right: 20px;}
.promo-box h1 .promo-box h2, .promo-box h3, .promo-box h4, .promo-box h5 {margin-bottom:12px; max-width: 80%;}


ul.arrow li { margin-bottom: 10px;}
ul.arrow li::before { background: none; width: auto; height: auto; font-style: normal; color: silver; content: '>'; font-size: 12px; margin-right: 8px; position: relative; top: -1px;}


[class^="icon-"], [class*=" icon-"] { font-family: 'WebHostingHub-Glyphs'; background: none; width: auto; height: auto; font-style: normal; }



/*
 * Icone A rajouter au besoin
 */

.icon-spiderman:before{content:'\f347'}
.icon-stacks:before{content:'\f4c1'}
.icon-settingsthree-gears:before{content:'\f307'}
.icon-euroalt:before{content:'\f25a'}
.icon-affiliate:before{content:'\f01e'}
.icon-happy:before{content:'\f13c'}
.icon-groups-friends:before{content:'\f134'}
.icon-businesscardalt:before{content:'\f137'}
.icon-barcode:before{content:'\f276'}
.icon-dropbox:before{content:'\f582'}
.icon-coupon:before{content:'\f254'}
.icon-invoice:before{content:'\f3e5'}
.icon-server:before{content:'\f026'}
.icon-colocation:before{content:'\f024'}
.icon-world:before{content:'\f4f3'}
.icon-databaseadd:before{content:'\f00c'}
.icon-ok-sign:before{content:'\f479'}
.icon-ok-sign {font-size: 12px !important;}

#corporate .icon-margin {margin-right: 6px;position: relative;top: 2px;float: none;} 



/*
 * 
 * Circle border
 */
.circle-border {
width:140px;
height:140px;
background:#f6f6f6;
padding:35px;
border-radius:100px;
box-shadow:0px 2px 1px #d9d9d9;
margin:auto;
margin-bottom:18px;
color:#686868;
transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
}

.circle-border.small {
width:30px;
height:30px;
margin:2px 15px 0 0;
padding:16px;	
}

.circle-border.small em, .circle-border.small i  {
font-size:28px !important;
line-height:26px !important;	
}

.circle-border p {
font-family:'Roboto', Helvetica, Arial;
font-weight:300;
font-size:10px;
text-transform:uppercase;
line-height:14px;
}

.circle-border em, .circle-border i {
font-size:42px;
line-height:46px;
padding-bottom:10px;
display:inline-block;
}
.circle-border:hover {
background:#2b8cce;
color:#fff;
}

.circle-border + h4 {padding-top: 20px; min-height: 50px;}


/***** Pricing Plan Styling *****/
.pricing-grid { display: block; overflow: hidden; padding: 16px 0px; }
.pricing-grid > li { display: block; height: auto; float: left; }
.pricing-grid.one-up { margin: 15px -10px; }
.pricing-grid.one-up > li { width: 97.9%; margin:15px 10px; padding:0; }
.pricing-grid.one-up > li.featured-plan {margin-top:31px; margin-bottom:-1px;}

.pricing-grid.two-up { margin: 15px -10px; }
.pricing-grid.two-up > li { width: 47.896%; margin:15px 10px; padding:0; }
/* .pricing-grid.two-up>li:nth-child(2n+1) {clear: left;} */

.pricing-grid.three-up {margin: 15px -10px; }
.pricing-grid.three-up > li { width: 30%; margin:15px 10px; padding:0; }
/* .pricing-grid.three-up>li:nth-child(3n+1) {clear: left;} */

.pricing-grid.four-up { margin: 15px -10px; }
.pricing-grid.four-up > li { width: 22.896%; margin:15px 10px; padding:0; }
/* .pricing-grid.four-up>li:nth-child(4n+1) {clear: left;} */

.pricing-column {
background-color:#3d3d3d;
-webkit-border-radius: 3px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius: 3px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-radius: 3px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

.pricing-title {
font-size:16px;
color:#fff;
text-align:center;
padding:7px 0 4px 0;
}

.pricing-price {
background-color:#5e5e5e;
webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; 
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; 
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
text-align:center;
}

.pricing-price p {
margin:-30px 0px -10px 0px;
padding-bottom:30px;
color:#fff;
font-size:13px;
line-height:18px;
filter: alpha(opacity=60);
opacity: 0.6;
}

ul.pricing-content {
background-color:#fff;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
text-align:center;
margin:0 auto;
padding:0 22px;
}

.pricing-content li {
list-style-type:none;
color:#8a8a8a;
font-size:13px;
border-bottom:1px solid #ddd;
padding:10px 0px;
}

.pricing-button {
text-align:center;
margin-top:-1px;
background-color:#fafafa;
border:1px solid #ddd;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
padding:20px 0 10px;

}

ul.pricing-payment {
width:100%;
margin:0 -16px 0  -7px;
}

ul.pricing-payment li {
width:12.206%;
height:60px;
list-style:none;
margin:0 1px 7px 1px;
filter: alpha(opacity=40);
-moz-opacity:0.4;
-khtml-opacity: 0.4;
opacity: 0.4;
transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
display: inline-block;
}

ul.pricing-payment li:hover {
filter: alpha(opacity=100);
-moz-opacity:1;
-khtml-opacity: 1;
opacity: 1;	
}

ul.pricing-payment li img {
width:103px;
height:58px;
}



.permonth {font-size:14px;}
.dollar {font-size:20px; position:relative; top:-16px;}
.pricing-price h1 {font-size:44px; color:#fff; margin-top:8px; padding-top:8px;}
.pricing-price span {color: #fff;}
.featured-plan {top:-16px; position:relative; -webkit-box-shadow:0 5px 27px rgba(0,0,0,0.2); -moz-box-shadow:0 5px 27px rgba(0,0,0,0.2); box-shadow:0 5px 27px rgba(0,0,0,0.2);}
.featured-plan .pricing-title {padding:14px 0px 13px 0px;}
.featured-plan .pricing-button {padding-bottom:26px;}

.green-plan {background-color:#64863b;}
.green-plan .pricing-price {background-color:#94ba65;}
.orange-plan {background-color:#ca5d20;}
.orange-plan .pricing-price {background-color:#ee7e3f;}
.blue-plan {background-color:#0d66a2;}
.blue-plan .pricing-price {background-color:#0e7ac3;}
.red-plan {background-color:#b13131;}
.red-plan .pricing-price {background-color:#e94e4e;}



#corporate .button{
display:inline-block;
font-family:'Raleway', Helvetica, Arial !important;
text-transform:uppercase;
font-weight:300;
color:#fff !important;
cursor:pointer;
text-decoration:none;
margin:0px 5px 10px 0px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#corporate .button:hover{text-decoration:none;}


#corporate .button.medium{
font-size:15px;
padding:14px 20px 13px 20px;
}

#corporate .button.grey {
background:#5e5e5e;
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;
}


#corporate .button.blue {
background:#0e7ac3;
transition: background .25s ease-in-out;
-moz-transition: background .25s ease-in-out;
-webkit-transition: background .25s ease-in-out;
}

#corporate .button.grey:hover {background:#474646;}
#corporate .button.blue:hover {background:#1596ee;}




.bloc-publicite a { width: 99.9%; position: absolute; background: url("http://192.168.1.200/magento/media/catalog/category/slide_00.jpg") left -40px no-repeat; min-height: 1000px;}
/*.premium_background { right:0; position:absolute; min-height:1000px; text-align:right; width:700px; z-index:-10; overflow:hidden; top:160px; }
.premium_background a {position: absolute; top: 0; left: 0; z-index: 0; display: block; width: 100%; min-height: 1000px;}
/*.premium_background img:hover {z-index:1000; cursor:pointer;} */

/* test */		
.premium_background a img  { 
/* position: fixed; */
position: absolute;
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
		
/* Footer */

#footer { background:#eeeeee; width:100%; position: relative; clear: both;}
#footer1 {  min-height: 330px; background:url(images/footer_logo.png) bottom left no-repeat; padding-left:280px; padding-top:50px;}
	#footer1 .col, #footer1 .col2 {}
	#footer1 .full {float:left; margin-left:33%; width:67%; background:#eee; }
	#footer1 p {margin-bottom: 10px;}
	#footer1 ul {margin-bottom:20px;}
	#footer1 ul li {line-height:1.5;}
	#footer1 ul li img {float:left; margin-right:10px;}	
	#footer1 p.credits {margin: 20px 0 0px 0; font-size: 18x; font-weight: bold; text-align: left;}	
	#footer1 .input-box {margin-right: 10px;}

#footer2 { background:url(images/footer2_bg.jpg) top left repeat-x #0070ac; padding:20px 7.5% 20px 7.5%; width:85%;}
	#footer2 .col4 {}
	#footer2 img { float:left; margin-right: 5px;}
	#footer2 h4 { color:#ffffff; font-weight:bold; text-transform:none; padding-left: 70px; min-height: 46px;}
	#footer2 #euro {background: url("images/ico_footer_euro.png") center left no-repeat;}
	#footer2 #shipping {background: url("images/ico_footer_livraison.png") center left no-repeat;}
	#footer2 #product {background: url("images/ico_footer_panier.png") center left no-repeat;}
	#footer2 #service {background: url("images/ico_footer_sav.png") center left no-repeat;}
	
	
	
#footer3 { background:url(images/footer3_bg.jpg) bottom left repeat-x #1d1b1a; padding:20px 7.5% 20px 7.5%; width:85%;}
	#footer3 .col5 {}
	#footer3 h4, #footer3 ul li, #footer3 a { color:#ffffff; text-transform:none;}
	#footer3 li {margin-bottom:10px; font-size:13px;}
/* Formulaires */


/* Logout Pages ============================================================ */
#logout {padding:50px 0; width: 600px; margin: 0 auto;}



/* Popup */
.popup-bg {width: 100%; height: 100%; position: fixed; top:0; left: 0; background-color: #000; opacity: .7; z-index: 999999; cursor: pointer;}
.close-popup {width: 30px; height: 30px; background:url(images/close-popup.png) top left no-repeat; position: absolute; top: -10px; right: -10px; z-index: 999999999999999999; cursor: pointer;}

/* Style de base de tous les messages */
.popup { list-style:none; margin:0 !important; padding:0;  position: fixed; top: 30%; left: 25%; width: 50%; z-index:1000000; border-radius:10px; moz-border-radius:10px; webkit-border-radius:10px;}
.popup li { margin:0 0 10px; position: relative;}
.popup li li { margin:0 0 15px; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-width: 3px; border-style: solid; text-align: center; margin: 0 auto; padding: 5%; -webkit-border-radius: 5px;  border-radius: 5px; z-index: 99999999; font-size:16px; font-weight:bold; }


.error-msg { border-color:#f16048; background-color:#faebe7;  color:#df280a; }
.success-msg { background-color: #fff ; border-color: ##000; color: #000; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; color:#3d6611; }
 




/*
*
*
*Inferieur à 1100px
*
*/
@media screen and (max-width:1200px) {

.header #quicklinks .links a > span:first-child { padding-left: 0px; background: none;}
#region_select span img {display: none;}
.header #region_select span {padding: 8px 1%;}

/*
header .Hright > div {display: inline-block; vertical-align: top; width: 47%;}
header .Hright div {  margin-top: 0 !important;} */


}

@media screen and (max-width:1000px) {

#header-small #searchbox input#search_desc{width: 30%;}

}
/*
*
*
*Inferieur à 800px
*
*/

@media screen and (max-width:800px) {
/*
header .Hright > div {display: block; width: 70%; margin: 0 auto;}
header .Hright {text-align: center !important;} */

#header-small #searchbox input#search_desc{width: 10%;}

/*
.col2 { width:48%; margin: 0 1%;}
.col3 { width:48%; margin: 0 0.5%; }
.col3 + .col3 + .col3{margin-top: 25px;}
.col4 {width:47%; margin: 0 1%; }
.col5 { width:31%; margin: 0 1%;} */
}


/*
*
*
*Inferieur à 500px
*
*/

@media screen and (max-width:500px) {
	/*
    .col { }
.col2, .col3, .col4{ width:95%; display: inline-block; margin-left: auto; margin-right: auto;} 
.col3 + .col3 {margin-top: 25px;}
.col5 {width: 60%; display: block; margin: 10px auto;} */
}