<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">

    <head>
    	<script type="text/javascript">
    	    var BLANK_URL = '<?php echo $this->getJsUrl() ?>blank.html';
    	    var BLANK_IMG = '<?php echo $this->getJsUrl() ?>spacer.gif';
    	    var BASE_URL = '<?php echo $this->getUrl('*') ?>';
    	    var SKIN_URL = '<?php echo $this->getSkinUrl() ?>';
    	    var FORM_KEY = '<?php echo $this->getFormKey() ?>';
    	</script>
    	<?php echo $this->getChildHtml('head') ?>
    	<script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42631912-1', 'avahis.com');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
    	
    	<?php echo $this->getChildHtml('after_body_start') ?>
    	<?php echo $this->getChildHtml('global_notices') ?>
    	<?php echo $this->getChildHtml('entete') ?>
    	<?php echo $this->getChildHtml('bandeau') ?>
    	<div class="wrapper">
    	    <?php //echo $this->getChildHtml('breadcrumbs') ?>
    		<?php echo $this->getChildHtml('global_messages') ?>
    		<?php echo $this->getChildHtml('content') ?>
    	</div>
    	<?php echo $this->getChildHtml('footer') ?>
    	<?php echo $this->getChildHtml('before_body_end') ?>
    	<?php /*
    	<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
        <style type="text/css" media="screen, projection">
            @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
        </style>
        <script type="text/javascript">
            if (typeof(Zenbox) !== "undefined") {
                Zenbox.init({
                    dropboxID: "20230163",
                    url: "https://avahis.zendesk.com",
                    tabTooltip: "Assistance",
                    tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_fr_support.png",
                    tabColor: "black",
                    tabPosition: "Left" 
                });
            }
        </script>

*/ ?>
    	
    </body>

</html>
