<p>Nos Univers</p>
<div class="category-list">
<h2>Nos produits</h2>
<?php
        foreach ($this->getStoreCategories() as $_category):
                if($_category->getIsActive()):
                        $_category = Mage::getModel('catalog/category')->load($_category->getId());
                        $layer = Mage::getSingleton('catalog/layer')->setCurrentCategory($_category);
                        ?>        
                             <div class="category-list-view">
                                    <a href="<?php echo $this->getCategoryUrl($_category)?>" title="<?php echo $_category->getName()?>">
                                           <img src="<?php echo $this->getCurrentCategory()->getImageUrl(); ?>" alt="<?php echo $_category->getName() ?>" />
                                    </a>
                                    <h3><a href="<?php echo $this->getCategoryUrl($_category)?>" class="name" title="<?php echo $_category->getName()?>"><?php echo $_category->getName()?></a></h3>
                             </div>
                        <?php
                endif;
        endforeach;
?> 
</div>