<div id="menu">
    <div class="widget">
<?php 
    $_product = $this -> getProduct();
    $productId = $_product->getId();
    //Récupération de la collection des produits 
    $collection = Mage::getModel('catalog/product')->getCollection();
    $conn = $collection->getConnection();
    $res = Mage::getSingleton('core/resource');
    //Mise en place du filtre sur l'ID du produit pour récupération de l'objet produit
    $collection->addAttributeToFilter('entity_id', $productId);
    //Mise en place de la jointure sur la table catalog_category_product
    $collection ->getSelect()
                       ->join(
                           array('ccp' => $res->getTableName('catalog/category_product')),
                           $conn->quoteInto('ccp.product_id=e.entity_id'),
                           array('category_id')
                       );
    $productData = $collection->getData();
    //Le tableau $productData contient plusieurs tableaux, chacun contenant un ID de catégorie.
    //On récupère la longueur du tableau pour avoir la position du dernier ID de catégorie
    $longueur = count($productData);
    $categoryId = $productData[$longueur-1]['category_id'];
    //Puis on récupère le path de la catégorie
    $cat = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect(array('path'))->addAttributeToFilter('entity_id', $categoryId);
    $catData = $cat->getData();
    $catData = $catData[0];
    $path = $catData['path'];
    $path = explode('/', $path);
    //Récupération de l'ID de la catégorie d'origine (niveau 1)
    $catOrigId = $path[2];
    //Récupération de la catégorie d'origine pour affichage en nom de boutique
    $catOrig = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect(array('name', 'url_path'))->addAttributeToFilter('entity_id', $catOrigId);
    $catOrigData = $catOrig->getData();
        $catOrigData = $catOrigData[0];           
?>                
        <a href="<?php echo $this->getUrl($catOrigData['url_path']) ?>"><h4><?php echo $catOrigData['name'] ?></h4></a>
        <ul class="categories">            
<?php
        $position = 3;
        //On parcourre le tableau consituant le path des catégories
        while ($position < count($path)) {
            $classe = 'nav';
            //Récupération de l'ID de la catégorie à la position considérée    
            $catId = $path[$position];
            //Récupération de la catégorie à la position considérée pour affichage du nom
            $cat = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect(array('name', 'url_path'))->addAttributeToFilter('entity_id', $catId);
            $catData = $cat->getData();
            $catData = $catData[0];
            //Si la catégorie à afficher est la dernière, elle est active
            if ($position == count($path)-1) {
                $classe = $classe.($position-2). ' active'; 
            //Sinon, elle n'est pas active
            } else {
                $classe = $classe.($position-2);
            } 
?>
            <li class="<?php echo $classe ?>">
                <a href="<?php echo $this->getUrl().$catData['url_path'] ?>"><?php echo $catData['name']  ?></a>
            </li>
<?php           
            $position ++;        
        }
?>
        </ul>
    </div>
</div>  


<?php /*
<div id="menu">
    <div class="widget">
        <?php if ($curCat) : $subCats = $cHlp->getCategoryChildren($curCat); ?>
            <h4>Boutique</h4>
            <ul class="categories">
                <li class="nav1 active"><?php echo htmlspecialchars($curCat->getName())?></li>
                <?php if (count($subCats)):?>
                    <?php foreach ($subCats as $subCat): ?>
                        <li class="nav2"><a href="<?php echo $this->getUrl.$subCat->getRequestPath() ?>"><?php echo htmlspecialchars($subCat->getName())?></a></li>
                    <?php endforeach ?>
                <?php endif ?>
            </ul>
        <?php endif ?>
    </div>
</div>    
*/ ?>