<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Featured
 * @version    3.5.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>

<?php
    //Récupération de la catégorie courante
    $curCat = Mage::registry('current_category');
    $curCatId = $curCat->getId();
    //Récupération de la collection des produits "Featured"
    $collection = $this->getProductsCollection();
    //Mise en place d'une jointure sur la table catalocg_category_product et du filtre sur l'ID de la catégorie courante
    $res = Mage::getSingleton('core/resource');
    $conn = $collection->getConnection();
    $collection ->getSelect()
                       ->join(
                            array('ccp' => $res->getTableName('catalog/category_product')),
                            $conn->quoteInto('ccp.product_id=e.entity_id AND ccp.category_id = ?', $curCatId),
                            array('category_id')
            );
?>

<?php
    //On n'affiche le slider présentant les featured products que si il contient des produits pour la catégorie en cours
    if (count($collection->getData()) >0 ) {
?>
        <h3 class="featured_title"><?php echo $this->__('La sélection d\'Avahis') ?></h3>
        <div class="featured_full wrapper_insert">
<?php
        if($this->canDisplay() && $this->getProductsCollection()->getSize() && !$this->getIsEmpty()) {
            $_helper = $this->helper('catalog/output');
            $_imageQsize = 200; // Maximal image width\height value, pixels
            $_onSaleHelper = $this->helper('awfeatured/onsale');
            $_abstractBlock = $this->helper('awfeatured')->getAbstractProductBlock();
?>

<?php ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            // ICI LE DEBUT DU SLIDER ORIGINEL, AVANT L'OUVERTURE DE LA BOUCLE FOREACH BOUCLANT SUR LES PRODUITS
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
?>   
    <div class="featured-content">
        <div class="awfeatured awafpslider awfpslider-horizontal afp-effect-<?php echo $this->getSwitchEffect() ?>" id="<?php echo $this->getUniqueBlockId() ?>" style="<?php //echo $this->getContainerStyleString() ?>">
            <div class="afp-slides-container">
<?php 
          	
           	$_i = 0; 
            //On parcourre la collection pour récupérer produit par produit 
            foreach($collection as $_product) {
                //////////////////////////////////////////////////////////////////////////////
                // ICI, RECUPERATION DES DONNEES A AFFICHER //////////////////////////
                /////////////////////////////////////////////////////////////////////////////
                //Récupération de l'image => il n'y aura qu'à faire un echo $image
                $_imageSrc = Mage::helper('awfeatured/images')->getProductImage($_product, $_product->getData('image_id'), $_imageQsize);
                if($_imageSrc) {
                    $image = "<img src=".$_imageSrc." alt=".$this->stripTags($_abstractBlock->getImageLabel($_product, 'small_image'), null, true)." />";
                }
                //Récupération du nom du produit => il n'y aura qu'à faire un echo $nom
                if($this->getShowProductName()) {
                    $nom = $_product->getName();
                }
                //Récupération du prix du produit => il n'y aura qu'à faire un echo $prix
                if ($this->getShowPrice()) {
                    $bestPrice = $_product->getData('udmulti_best_price');
                    setlocale(LC_MONETARY, 'fr_FR');
                    $prix = '<span class="price">'.money_format('%.2n', $bestPrice).' €</span>';
                }
                //Construction du bouton "Voir le produit" => il n'y aura qu'à faire un echo $bouton
                if($this->getShowAddToCartButton()) {
                    $bouton = '<button type="button" title="Voir le produit" class="light_action" onclick="setLocation(\''.$this->getUrl().$_product->getData('url_path').'\')">'.$this->__('Voir le produit').'</button>';
                }
                
                //////////////////////////////////////////////////////////////////////////////////
                // ICI, LA STRUCTURE DU SLIDER ORIGINEL A L'INTERIEUR DU FOREACH //////////
                //////////////////////////////////////////////////////////////////////////////////
?>
        <div style="<?php echo $this->getContainerStyleString() ?>;z-index:<?php echo ($this->getProductsCollection()->getSize()-$_i)+100 ?>;" id="<?php echo $this->getUniqueBlockId() ?>div<?php echo $_i ?>" class="afp-slider-item col5 produit">
            <?php $_imageSrc = Mage::helper('awfeatured/images')->getProductImage($_product, $_product->getData('image_id'), $_imageQsize) ?>
            <?php if($_imageSrc) : ?>
            <div class="afp-thumbnail">
                <?php if($_onSaleHelper->isOnsale()) echo $_onSaleHelper->startOnsale($_product, $_imageQsize) ?>
                <a href="<?php echo $this->getUrl().$_product->getData('url_path') ?>" title="<?php echo $this->stripTags($_abstractBlock->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <img src="<?php echo $_imageSrc ?>" alt="<?php echo $this->stripTags($_abstractBlock->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <?php if($_onSaleHelper->isOnsale()) echo $_onSaleHelper->endOnsale() ?>
            </div>
            <?php endif ?>
            <div class="afp-product-info">
                <?php if($this->getShowProductName()) : ?>
                <div class="awafptitle">
                    <a href="<?php echo $this->getUrl().$_product->getData('url_path') ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                </div>
                <?php endif ?>
                <?php if($this->getShowDetails()) : ?>
               <? /* <div class="afp-details">
                    <?php echo ($_product->getData('short_description')) ?>
                </div> */ ?>
                <?php endif ?>
                <?php if($this->getShowPrice()) : ?>
                <?php// echo $_abstractBlock->getPriceHtml($_product, true) ?>
                <?php echo $prix; ?>
                <?php endif ?>
                <?php if($this->getShowAddToCartButton()) : ?>
                <div class="afp-addtocart">
                    <?php if($_product->isSaleable()) : ?>
                        <p><?php echo $bouton ?></p>
<?php /*          <p><button class="light_action" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $_abstractBlock->getAddToCartUrl($_product) ?>')"><a><?php echo $this->__('Add to Cart') ?></a></button></p> */ ?>
                    <?php else : ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif ?>
                </div>
                <?php endif ?>
            </div>
        </div>                
<?php 
            $_i++;
            //////////////////////////////////////////////////////////////////////////////////////////////////////////
            // CI-DESSOUS, ACCOLADE DE FERMETURE DU FOREACH, PUIS LE CODE DU SLIDER ORIGINEL //////////
            //////////////////////////////////////////////////////////////////////////////////////////////////////////
            } 
 
?>
    </div>

   <!-- <div class="afp-slider-controls">
        <div class="afp-left">
            <button class="button" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.previous();"></button>
        </div>
        <div class="afp-center"<?php if($_i < 2) : ?> style="display:none;"<?php endif ?>>
            <?php for($_j = 0; $_j < $_i; $_j++) : ?>
            <button class="button<?php echo $_j==0 ? ' afp-s-current' : '' ?>" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.show(<?php echo $_j ?>);"></button>
            <?php endfor ?>
        </div>
        <div class="afp-right">
            <button class="button" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.next();"></button>
        </div>
    </div>
    -->
    
     <div class="clearfix"></div>
	<a class="prev" id="afp-left" href="#"><button>prev</button></a>
	<a class="next" id="afp-right" href="#"><button>next</button></a>
<!--	<div class="pagination" id="foo2_pag"></div> -->
	
    
    
</div>

</div>
<?php 
        }
?>
</div>
<?php 
    }
?>
<!--
<script type="text/javascript">
   var afpSlider<?php echo $this->getUniqueBlockId() ?> = new afpSlider({
        blockId: '<?php echo $this->getUniqueBlockId() ?>',
        effect: '<?php echo $this->getSwitchEffect() ?>',
        productCount: '<?php echo $_i ?>',
        animationSpeed: '<?php echo $this->getAnimationSpeed() ?>',
        autohidenavi: <?php echo $this->getAutoHideNavi() ?>,
        height: <?php echo $this->getHeight() ? $this->getHeight() : 0 ?>
    });
  </script>  
   -->
    
<script type="text/javascript">   
var j = jQuery.noConflict();
    j(".afp-slides-container").carouFredSel({
	circular: true,
	infinite: true,
	responsive: true,
	items: 4,
	height: 250,
	auto 	: {
		play: true,
		delay: 3
	},
	scroll: {
		items: 1
	},
	prev	: {	
		button	: "#afp-left",
		key		: "left"
	},
	next	: { 
		button	: "#afp-right",
		key		: "right"
	},
	pagination	: "#foo2_pag"
});

</script>





<?php /*
<?php if($this->canDisplay() && $this->getProductsCollection()->getSize() && !$this->getIsEmpty()) : ?>
<?php $_helper = $this->helper('catalog/output') ?>
<?php $_imageQsize = 200 // Maximal image width\height value, pixels ?>
<?php $_onSaleHelper = $this->helper('awfeatured/onsale') ?>
<?php $_abstractBlock = $this->helper('awfeatured')->getAbstractProductBlock() ?>
<div class="awfeatured awafpslider awfpslider-horizontal afp-effect-<?php echo $this->getSwitchEffect() ?>" id="<?php echo $this->getUniqueBlockId() ?>" style="<?php echo $this->getContainerStyleString() ?>">
    <div class="afp-slides-container">
        <?php $_i = 0 ?>
        <?php foreach($this->getProductsCollection() as $_product) : ?>
        <div style="<?php echo $this->getContainerStyleString() ?>;z-index:<?php echo ($this->getProductsCollection()->getSize()-$_i)+100 ?>;" id="<?php echo $this->getUniqueBlockId() ?>div<?php echo $_i ?>" class="afp-slider-item">
            <?php $_imageSrc = Mage::helper('awfeatured/images')->getProductImage($_product, $_product->getData('image_id'), $_imageQsize) ?>
            <?php if($_imageSrc) : ?>
            <div class="afp-thumbnail">
                <?php if($_onSaleHelper->isOnsale()) echo $_onSaleHelper->startOnsale($_product, $_imageQsize) ?>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_abstractBlock->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <img src="<?php echo $_imageSrc ?>" alt="<?php echo $this->stripTags($_abstractBlock->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <?php if($_onSaleHelper->isOnsale()) echo $_onSaleHelper->endOnsale() ?>
            </div>
            <?php endif ?>
            <div class="afp-product-info">
                <?php if($this->getShowProductName()) : ?>
                <div class="awafptitle">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                </div>
                <?php endif ?>
                <?php if($this->getShowDetails()) : ?>
                <div class="afp-details">
                    <?php echo ($_product->getData('short_description')) ?>
                </div>
                <?php endif ?>
                <?php if($this->getShowPrice()) : ?>
                <?php echo $_abstractBlock->getPriceHtml($_product, true) ?>
                <?php endif ?>
                <?php if($this->getShowAddToCartButton()) : ?>
                <div class="afp-addtocart">
                    <?php if($_product->isSaleable()) : ?>
                    <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $_abstractBlock->getAddToCartUrl($_product) ?>')"><div><?php echo $this->__('Add to Cart') ?></div></button></p>
                    <?php else : ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif ?>
                </div>
                <?php endif ?>
            </div>
        </div>
        <?php $_i++ ?>
        <?php endforeach ?>
    </div>
    <div class="afp-slider-controls">
        <div class="afp-left">
            <button class="button" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.previous();"></button>
        </div>
        <div class="afp-center"<?php if($_i < 2) : ?> style="display:none;"<?php endif ?>>
            <?php for($_j = 0; $_j < $_i; $_j++) : ?>
            <button class="button<?php echo $_j==0 ? ' afp-s-current' : '' ?>" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.show(<?php echo $_j ?>);"></button>
            <?php endfor ?>
        </div>
        <div class="afp-right">
            <button class="button" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.next();"></button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var afpSlider<?php echo $this->getUniqueBlockId() ?> = new afpSlider({
        blockId: '<?php echo $this->getUniqueBlockId() ?>',
        effect: '<?php echo $this->getSwitchEffect() ?>',
        productCount: '<?php echo $_i ?>',
        animationSpeed: '<?php echo $this->getAnimationSpeed() ?>',
        autohidenavi: <?php echo $this->getAutoHideNavi() ?>,
        height: <?php echo $this->getHeight() ? $this->getHeight() : 0 ?>
    });
</script>
<?php endif ?>
*/ ?>