<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Featured
 * @version    3.5.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php

?>
<?php if($this->canDisplay() && $this->getProductsCollection()->getSize() && !$this->getIsEmpty()) : ?>
<?php $_helper = $this->helper('catalog/output') ?>
<?php $_imageQsize = 190 // Maximal image width\height value, pixels ?>
<?php $_onSaleHelper = $this->helper('awfeatured/onsale') ?>
<?php $_abstractBlock = $this->helper('awfeatured')->getAbstractProductBlock() ?>
<div class="awfeatured awafpslider awfpslider-vertical afp-effect-<?php echo $this->getSwitchEffect() ?>" id="<?php echo $this->getUniqueBlockId() ?>" style="<?php echo $this->getContainerStyleString() ?>">
    <div class="afp-slides-container">
        <?php $_i = 0 ?>
        <?php foreach($this->getProductsCollection() as $_product) : ?>
        <div style="<?php echo $this->getContainerStyleString() ?>;z-index:<?php echo ($this->getProductsCollection()->getSize()-$_i)+100 ?>;" id="<?php echo $this->getUniqueBlockId() ?>div<?php echo $_i ?>" class="afp-slider-item">
            <?php $_imageSrc = Mage::helper('awfeatured/images')->getProductImage($_product, $_product->getData('image_id'), $_imageQsize) ?>
            <?php if($_imageSrc) : ?>
            <div class="afp-thumbnail">
                <?php if($_onSaleHelper->isOnsale()) echo $_onSaleHelper->startOnsale($_product, $_imageQsize) ?>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_abstractBlock->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <img src="<?php echo $_imageSrc ?>" alt="<?php echo $this->stripTags($_abstractBlock->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <?php if($_onSaleHelper->isOnsale()) echo $_onSaleHelper->endOnsale() ?>
            </div>
            <?php endif ?>
            <?php if($this->getShowProductName()) : ?>
            <div class="awafptitle">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
            </div>
            <?php endif ?>
            <div class="afp-product-info">
                <?php if($this->getShowDetails()) : ?>
                <div class="afp-details">
                    <?php echo ($_product->getData('short_description')) ?>
                </div>
                <?php endif ?>
                <?php if($this->getShowPrice()) : ?>
                <?php echo $_abstractBlock->getPriceHtml($_product, true) ?>
                <?php endif ?>
                <?php if($this->getShowAddToCartButton()) : ?>
                <div class="afp-addtocart">
                    <?php if($_product->isSaleable()) : ?>
                    <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $_abstractBlock->getAddToCartUrl($_product) ?>')"><div><?php echo $this->__('Add to Cart') ?></div></button></p>
                    <?php else : ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif ?>
                </div>
                <?php endif ?>
            </div>
        </div>
        <?php $_i++ ?>
        <?php endforeach ?>
    </div>
    <div class="afp-slider-controls">
        <div class="afp-left">
            <button class="button" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.previous();"></button>
        </div>
        <div class="afp-center"<?php if($_i < 2) : ?> style="display:none;"<?php endif ?>>
            <?php for($_j = 0; $_j < $_i; $_j++) : ?>
            <button class="button<?php echo $_j==0 ? ' afp-s-current' : '' ?>" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.show(<?php echo $_j ?>);"></button>
            <?php endfor ?>
        </div>
        <div class="afp-right">
            <button class="button" onclick="afpSlider<?php echo $this->getUniqueBlockId() ?>.next();"></button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var afpSlider<?php echo $this->getUniqueBlockId() ?> = new afpSlider({
        blockId: '<?php echo $this->getUniqueBlockId() ?>',
        effect: '<?php echo $this->getSwitchEffect() ?>',
        productCount: '<?php echo $_i ?>',
        animationSpeed: '<?php echo $this->getAnimationSpeed() ?>',
        autohidenavi: <?php echo $this->getAutoHideNavi() ?>,
        height: <?php echo $this->getHeight() ? $this->getHeight() : 0 ?>
    });
</script>
<?php endif ?>
