<?php 
/**
 * created : 29/08/2011
 * 
 * @category Ayaline
 * @package Ayaline_MostViewed
 * @author aYaline
 * @copyright Ayaline - 2012 - http://magento-shop.ayaline.com
 * @license http://shop.ayaline.com/magento/fr/conditions-generales-de-vente.html
 */
?>
<?php /* @var $this Ayaline_MostViewed_Block_Sidebar */ ?>
<?php 
$_collection = $this->getProductCollection();
?>
<?php if($_collection->count() > 0): ?>
<div class="block block-list">
    <div class="block-title">
        <strong><span><?php echo $this->__('Most viewed') ?></span></strong>
    </div>
    <div class="block-content">
        <ol>
        <?php foreach($_collection as $_product): ?>
            <li class="item">
                <p class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>"><?php echo $this->getProductName($_product) ?></a></p>
            </li>
        <?php endforeach; ?>
        </ol>
        <?php if($this->helper('ayalinemostviewed')->listIsActive()) : ?>
        <div class="actions">
        	<a href="<?php echo $this->getUrl('catalog/mostviewed') ?>" title="<?php echo $this->__('View all most viewed') ?>"><?php echo $this->__('View all most viewed') ?></a>
        </div>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
