<?php
$_id = $this->getEntityPkValue();
$_relId = $this->getRelEntityPkValue();
?>

<div class="form-add">
    <form action="<?php echo $this->getAction() ?>" method="post" id="udratings-form-<?php echo $_relId?>">
        <fieldset>
            <?php if( $this->getAggregateRatings() && $this->getAggregateRatings()->getSize()): ?>
                <table class="data-table" id="aggregate-review-table-<?php echo $_relId?>">
                    <col width="90%" />
                    <col width="2%" />
                    <col width="2%" />
                    <col width="2%" />
                    <col width="2%" />
                    <col width="2%" />
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><span class="nobr"><?php echo $this->__('1') ?></span></th>
                            <th><span class="nobr"><?php echo $this->__('2') ?></span></th>
                            <th><span class="nobr"><?php echo $this->__('3') ?></span></th>
                            <th><span class="nobr"><?php echo $this->__('4') ?></span></th>
                            <th><span class="nobr"><?php echo $this->__('5') ?></span></th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->getAggregateRatings() as $_rating): ?>
                        <tr>
                            <th><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></th>
                        <?php foreach ($_rating->getOptions() as $_option): ?>
                            <td class="value"><input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>-<?php echo $_relId?>" value="<?php echo $_option->getId() ?>" class="radio" /></td>
                        <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <input type="hidden" id="validate-nonaggregate-rating-<?php echo $_relId?>" name="validate_rating" class="validate-aggregate-rating" value="" />
                <script type="text/javascript">decorateTable('aggregate-review-table')</script>
            <?php endif; ?>
            <?php if( $this->getNonAggregateRatings() && $this->getNonAggregateRatings()->getSize()): ?>
                <table class="data-table" id="nonaggregate-review-table-<?php echo $_relId?>">
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><span class="nobr"><?php echo $this->__('No') ?></span></th>
                            <th><span class="nobr"><?php echo $this->__('Yes') ?></span></th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->getNonAggregateRatings() as $_rating): ?>
                        <tr>
                            <th><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></th>
                        <?php foreach ($_rating->getOptions() as $_option): ?>
                            <td class="value"><input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>-<?php echo $_relId?>" value="<?php echo $_option->getId() ?>" class="radio" /></td>
                        <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <input type="hidden" id="validate-nonaggregate-rating-<?php echo $_relId?>" name="validate_rating" class="validate-nonaggregate-rating" value="" />
                <script type="text/javascript">decorateTable('nonaggregate-review-table')</script>
            <?php endif; ?>
<?php /*           
                <ul class="form-list">
                    <li>
                        <label for="nickname_field-<?php echo $_relId?>" class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
                        <div class="input-box">
                            <input type="text" name="nickname" id="nickname_field-<?php echo $_relId?>" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getNickname()) ?>" />
                        </div>
                    </li>
                    <li>
                        <label for="summary_field-<?php echo $_relId?>" class="required"><em>*</em><?php echo $this->__('Summary of Your Review') ?></label>
                        <div class="input-box">
                            <input type="text" name="title" id="summary_field-<?php echo $_relId?>" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getTitle()) ?>" />
                        </div>
                    </li>
                    <li>
                        <label for="review_field-<?php echo $_relId?>" class="required"><em>*</em><?php echo $this->__('Review') ?></label>
                        <div class="input-box">
                            <textarea name="detail" id="review_field-<?php echo $_relId?>" cols="5" rows="3" class="required-entry"><?php echo $this->htmlEscape($data->getDetail()) ?></textarea>
                        </div>
                    </li>
                </ul>
*/ ?>
                <div class="rating-form">
                    <div class="rating-form-pseudo">
                        <label for="nickname_field-<?php echo $_relId?>" class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
                        <hr/>
                        <input type="text" name="nickname" id="nickname_field-<?php echo $_relId?>" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getNickname()) ?>" />
                    </div>
                    <div class="rating-form-resume">
                        <label for="summary_field-<?php echo $_relId?>" class="required"><em>*</em><?php echo $this->__('Titre de votre commentaire') ?></label>
                        <hr/>
                        <input type="text" name="title" id="summary_field-<?php echo $_relId?>" class="input-text required-entry" value="<?php echo $this->htmlEscape($data->getTitle()) ?>" />
                    </div>
                    <div class="rating-form-comment">
                        <label for="review_field-<?php echo $_relId?>" class="required"><em>*</em><?php echo $this->__('Review') ?></label>
                        <hr/>
                        <textarea name="detail" id="review_field-<?php echo $_relId?>" cols="5" rows="3" class="required-entry"><?php echo $this->htmlEscape($data->getDetail()) ?></textarea>
                    </div>    
                </div>
            </fieldset>
            <div>
                <button type="submit" title="<?php echo $this->__('Submit Review') ?>" class="button"><span><span><?php echo $this->__('Submit Review') ?></span></span></button>
            </div>
            <hr class="retour" />
    </form>
    <script type="text/javascript">
    //<![CDATA[
        (function(){
        var udratingsRatingValidate = function (tableId, v) {
            var trs = $(tableId).select('tr');
            var inputs;
            var error = 1;

            for( var j=0; j < trs.length; j++ ) {
                var tr = trs[j];
                if( j > 0 ) {
                    inputs = tr.select('input');

                    for( i in inputs ) {
                        if( inputs[i].checked == true ) {
                            error = 0;
                        }
                    }

                    if( error == 1 ) {
                        return false;
                    } else {
                        error = 1;
                    }
                }
            }
            return true;
        };
        var dataForm = new VarienForm('udratings-form-<?php echo $_relId?>');
        dataForm.validator.validate = dataForm.validator.validate.bind(dataForm.validator).wrap((function(proceed){
            Validation.addAllThese([
               ['validate-aggregate-rating',
                '<?php echo $this->__('Please select one of each of the ratings above') ?>',
                udratingsRatingValidate.curry('aggregate-review-table-<?php echo $_relId?>')],
               ['validate-nonaggregate-rating',
                '<?php echo $this->__('Please select one of each of the ratings above') ?>',
                udratingsRatingValidate.curry('nonaggregate-review-table-<?php echo $_relId?>')]
            ]);
            return proceed();
        }).bind(dataForm.validator));
        })();
    //]]>
    </script>
</div>
