<?php //Récupération des sous-catégories de la catégorie courante ?>
<?php $_categories = $this->getCurrentChildCategories(); ?>
<?php //Pour chaque sous-catégorie ?>
<?php 
    foreach ($_categories as $_category) {
        $cur_category=Mage::getModel('catalog/category')->load($_category->getId());
        if($_category->getData('product_count')>0) {
?>        <div class="col4 direct_links">
                <?php //Affichage du nom de la sous-catégorie ?>
                <h4><a href="<?php echo $_category->getUrl() ?>"><?php echo $_category->getName() ?></a></h4>
<?php     //Dans le cas d'une catégorie de niveau 2 ou de niveau 3, on affiche l'image enregistrée pour la catégorie
                if($cur_category->getData('level') == "3" || $cur_category->getData('level') == "4" || Mage::getSingleton('cms/page')->getIdentifier() ==  Mage::getStoreConfig('web/default/cms_home_page')) {
?>    


<?php // verifie si on trouve une image
if($cur_category->getImageUrl()): ?> 
<p><img src="<?php echo $cur_category->getImageUrl() ?>" width="auto" height="150px" alt="<?php echo $_category->getName() ?>"  /></p>
<?php else:?>
<p><img src="<?php echo $this->getBaseUrl(); ?>media/image/no_image.jpg" width="auto" height="150px" /></p>
<?php endif;?>

<?php     }
?>           <ul>
<?php 
            $sous_categories = $this->getChildCategories($_category);
            //$sous_categories = $_category->getChildrenCategories();
            $tabSousCat = array();
            $i = 0;
            //On parcourre une première fois les sous-catégories pour insérer dans un tableau associatif celles qui comportent des produits
            foreach ($sous_categories as $sous_cat) {
                if ($sous_cat->getData('product_count')>0) {
                    $tabSousCat[$sous_cat->getName()] = array( 'nbProd' => $sous_cat->getData('product_count'), 
                                                                                              'url' => $sous_cat->getUrl()
                                                                                    );
                }
            }
            //On trie le tableau en ordre décroissant du nombre de produits enregistrés dans la sous-catégorie
            arsort($tabSousCat);
            //Puis on affiche les données des 5 premiers enregistrements trouvés dans le tableau
            foreach ($tabSousCat as $key => $v) {
                if ($i<5) {
?>                <li><a href="<?php echo $v['url'] ?>"><?php echo $key ?></a></li>
<?php         $i ++;                    
                }              
            }
 
?>
                 <li class="voir_tous"><a href="<?php echo $_category->getUrl() ?>"><?php echo $this->__('voir tous les produits') ?></a></li>
        </ul>
    </div>
<?php
        }
    }
?>

        
<?php /*              
        <?php if($cur_category->getIsActive()): ?>
            <div class="product-image">
                <a href="<?php echo $cur_category->getUrl(); ?>" title="<?php echo $this->htmlEscape($cur_category->getName()) ?>">
                    <img src="<?php echo $cur_category->getImageUrl() ?>" width="140" alt="<?php echo $this->htmlEscape($cur_category->getName()) ?>" />
                </a>
             </div>
             <h4>
                 <a href="<?php echo $cur_category->getUrl() ?>" title="<?php echo $this->htmlEscape($cur_category->getName()) ?>" ?>
                     <?php echo $this->htmlEscape($cur_category->getName()) ?>
                 </a>
             </h4>
             <?php echo $cur_category->getDescription() ?>
        <?php endif; ?>
    </div>

<?php endforeach; ?>
</div>
 */?>