<?php 
    //POUR  LA PAGE D'ACCUEIL, L'ORDRE D'AFFICHAGE DES CATEGORIES + SOUS-CATEGORIES EST DETERMINE
    $ordre = array(732, 1272, 2011, 3466, 3166, 1068, 3787, 3290, 2578, 3966, 2511, 2335, 3929, 3819, 4552, 2769, 3258, 3);
    
    //Pour chaque catégorie
    foreach ($ordre as $idCat) {
        $cat = Mage::getModel('catalog/category')->load($idCat);
?>        
    <div class="col5 direct_links">
        <?php //var_dump($cat->getData()) ?>
        <h4><a href="<?php echo $cat->getUrl() ?>"><?php echo $cat->getName() ?></a></h4>       
<?php
        //On vérifie si une image est bien enregistrée pour cette catégorie
        if($cat->getImageUrl()) {
?>
            <p><img src="<?php echo $cat->getImageUrl() ?>" width="auto" height="150px" alt="<?php echo $cat->getName() ?>" /></p>
<?php
        } else {
?>
            <p><img src="<?php echo $this->getBaseUrl(); ?>media/image/no_image.jpg" width="auto" height="150px" /></p>
<?php
        }
?>
        <ul>
<?php        
        //Puis récupération des sous-catégories de la catégorie en cours
        $sous_categories = $this->getChildCategories($cat);
        //$sous_categories = $_category->getChildrenCategories();
        $tabSousCat = array();
        $i = 0;
        //On parcourre une première fois les sous-catégories pour insérer dans un tableau associatif celles qui comportent des produits
        foreach ($sous_categories as $sous_cat) {
            if ($sous_cat->getData('product_count')>0) {
                $tabSousCat[$sous_cat->getName()] = array( 'nbProd' => $sous_cat->getData('product_count'), 
                                                                                          'url' => $sous_cat->getUrl()
                                                                                );
            }
        }
        //On trie le tableau en ordre décroissant du nombre de produits enregistrés dans la sous-catégorie
        arsort($tabSousCat);
        //Puis on affiche les données des 5 premiers enregistrements trouvés dans le tableau
        foreach ($tabSousCat as $key => $v) {
            if ($i<5) {
?>            <li><a href="<?php echo $v['url'] ?>"><?php echo $key ?></a></li>
<?php     $i ++;                    
            }              
        }
 
?>
             <li class="voir_tous"><a href="<?php echo $cat->getUrl() ?>"><?php echo $this->__('voir tous les produits') ?></a></li>
        </ul>
    </div>
<?php
    }
?>
