<?php 
    //Récupération de la catégorie courante
    $curCat = Mage::registry('current_category');
    //var_dump($curCat->getData());
?>

<div class="widget">
<?php 
        //LORSQU'ON EST SUR UNE CATEGORIE DE NIVEAU 1
        if ($curCat->getData('level') == "2") {
?>
   <h4> <a href="<?php echo $this->getUrl($curCat['url_path']) ?>"><?php echo $curCat->getName() ?></a></h4>
    <ul class="categories">
<?php
            //Récupération des catégories enfant
            if ($curCat->getData('children_count') > 0) {
                $children = $this->getChildren($curCat->getId());
                foreach($children as $child) {
                    //Et affichage des catégories filles, le filtrage a été fait en amont, elles comportent toutes de sproduits
?>                <li class="nav1">
                        <a href="<?php echo $this->getUrl($child->getData('url_path')) ?>">
                            <?php echo $child->getData('name') ?>
                            <span class="legende"><?php echo ' ('. $child->getData('nbProd'). ')' ?></span>
                        </a> 
                    </li>
<?php     }       
            }
        }

        //LORSQU'ON EST SUR UNE NAVIGATION DE NIVEAU 2
        elseif ($curCat->getData('landing_page') == "29") {
            //Affichage de la catégorie parente comme nom de boutique
            $catParente = $this->getParentCategory($curCat->getId());
            $dataCatParente = $catParente->getData();
            $dataCatParente = $dataCatParente['0'];
?>
    <a href="<?php echo $this->getUrl($dataCatParente['url_path']) ?>"><h4><?php echo $dataCatParente['name'] ?></h4></a>
    <ul class="categories">
<?php
            //Affichage de la catégorie courante en class nav1 active
?>        <li class="nav1 active">
                <a href="<?php echo $this->getUrl($curCat['url_path']) ?>"><?php echo $curCat->getName() ?></a>
            </li>
<?php
            //Récupération des catégories filles
            $children = $this->getChildren($curCat->getId());
            foreach($children as $child) {
                 //Et affichage des catégories filles, le filtrage a été fait en amont, elles comportent toutes de sproduits
?>                <li class="nav2">
                        <a href="<?php echo $this->getUrl().$child->getData('url_path') ?>">
                            <?php echo $child->getData('name') ?>
                            <span class="legende"><?php echo ' ('. $child->getData('nbProd'). ')' ?></span>
                        </a> 
                    </li>                        
<?php            
            }
            //Récupération des catégories soeurs, donc des catégories enfant de la catégorie parente
            $sisters = $this->getChildren($dataCatParente['entity_id']);
            foreach($sisters as $sister) {
                //Et affichage des catégories soeurs comportant des produits en remointant d'un niveau d'indentation
?>            <li class="nav1">
                    <a href="<?php echo $this->getUrl($sister->getData('url_path')) ?>">
                        <?php echo $sister->getData('name') ?>
                        <span class="legende"><?php echo ' ('. $sister->getData('nbProd'). ')' ?></span>
                    </a>
                </li>
<?php  }
        }

        //LORSQU'ON EST SUR UNE NAVIGATION DE NIVEAU 3
        elseif ($curCat->getData('landing_page') == "30") {
            //Récupération de la catégorie parente
            $maman = $this->getParentCategory($curCat->getId());
            $dataMaman = $maman->getData();
            $dataMaman = $dataMaman['0'];
            $idMaman = $dataMaman['entity_id'];
            //Récupération de la catégorie mère de la catégorie parente
            $mamie = $this->getParentCategory($idMaman);
            $dataMamie = $mamie->getData();
            $dataMamie = $dataMamie['0'];
            //Affichage de nom de la catégorie mère d'origine (niveau 1) en nom de boutique
?>
    <a href="<?php echo $this->getUrl($dataMamie['url_path']) ?>"><h4><?php echo $dataMamie['name'] ?></h4></a>
    <ul class="categories">

<?php            
            //Affichage de la catégorie mère en class="nav1 active"
?>        <li class="nav1 active">
                <a href="<?php echo $this->getUrl($dataMaman['url_path']) ?>"><?php echo $dataMaman['name'] ?></a>
            </li>
<?php 
            //Affichage de la catégorie courante en nav2 active
?>
            <li class="nav2 active">
                <a href="<?php echo $curCat->getUrl() ?>"><?php echo $curCat->getName() ?></a>
            </li>
<?php
            //Récupération des catégories enfant
            $children = $this->getChildren($curCat->getId());
            foreach($children as $child) {
                //Et affichage des catégories filles, le filtrage a été fait en amont, elles comportent toutes de sproduits
?>            <li class="nav3">
                    <a href="<?php echo $this->getUrl().$child->getData('url_path') ?>">
                        <?php echo $child->getData('name') ?>
                        <span class="legende"><?php echo ' ('. $child->getData('nbProd'). ')' ?></span>
                    </a> 
                </li>
<?php
            }
            //Récupération des catégories soeurs, donc des catégories enfant de la catégorie parente
            $sisters = $this->getChildren($dataMaman['entity_id']);
            foreach($sisters as $sister) {
                //Et affichage des catégories soeurs au même niveau que la catégorie courante, sans oublier de retirer la catégorie courante, qui est déjà affichée
                if ($sister->getData('entity_id') != $curCat->getId()) {
?>                <li class="nav2">
                        <a href="<?php echo $this->getUrl($sister->getData('url_path')) ?>">
                            <?php echo $sister->getData('name') ?>
                            <span class="legende"><?php echo ' ('. $sister->getData('nbProd'). ')' ?></span>
                        </a>
                    </li>
<?php     }
            }
        //DANS LES AUTRES CAS, LORSQU'ON EST EN NAVIGATION NIVEAU 4 OU 5
        } else {
            //Récupération de l'ID de la catégorie mère d'origine (niveau 1)
            $path = $curCat->getData('path_ids');
            $catOrigId = $path[2];
            //Récupération du nom de la catégorie d'origine pour affichage en nom de boutique
            $catOrig = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect(array('name', 'url_path'))->addAttributeToFilter('entity_id', $catOrigId);
            $catOrigData = $catOrig->getData();
            $catOrigData = $catOrigData[0];
?>                
    <a href="<?php echo $this->getUrl($catOrigData['url_path'])?>"><h4><?php echo $catOrigData['name'] ?></h4></a>
    <ul class="categories">            
<?php
            //Récupération de la catégorie mère
            $maman = $this->getParentCategory($curCat->getId());
            $dataMaman = $maman->getData();
            $dataMaman = $dataMaman['0'];
            //Et affichage de la catégorie mère en nav1 retour, uniquement si ce n'est pas la catégorie de premier niveau
            if ($catOrigData['name'] != $dataMaman['name']) {
?>
        <li class="back">
            <a href="<?php echo $this->getUrl().$dataMaman['url_path'] ?>"><?php echo $dataMaman['name'] ?></a>
        </li>
<?php
            }
            //Affichage de la catégorie courante en nav2 active
?>
        <li class="nav2 active">
            <a href="<?php echo $curCat->getUrl() ?>"><?php echo $curCat->getName() ?></a>
        </li>
<?php
            //Si la catégorie courante a des catégories enfant comportant des produits
            if ($curCat->getData('children_count') > 0) {
                //Récupération des catégories enfant
                $children = $this->getChildren($curCat->getId());
                foreach($children as $child) {
                    //Et affichage des catégories filles, le filtrage a été fait en amont, elles comportent toutes des produits
?>                <li class="nav3">
                        <a href="<?php echo $this->getUrl().$child->getData('url_path') ?>">
                            <?php echo $child->getData('name') ?>
                            <span class="legende"><?php echo ' ('. $child->getData('nbProd'). ')' ?></span>
                        </a> 
                    </li>
<?php     }
            }
            //Récupération des catégories soeurs de la catégorie courante, c'est à dire des filles de la catégorie mère
            $sisters = $this->getChildren($dataMaman['entity_id']);
            foreach($sisters as $sister) {
                //Et affichage des catégories soeurs au même niveau que la catégorie courante, sans oublier de retirer la catégorie courante, qui est déjà affichée
                if ($sister->getData('entity_id') != $curCat->getId()) {
?>                <li class="nav2">
                        <a href="<?php echo $this->getUrl().$sister->getData('url_path') ?>">
                            <?php echo $sister->getData('name') ?>
                            <span class="legende"><?php echo ' ('. $sister->getData('nbProd'). ')' ?></span>
                        </a>
                    </li>
<?php     }
            }
        }
?>
    </ul>
</div>