<?php 
    $afficherTitre = 0;
    $afficherInfo = 0;
    //Récupération de la catégorie courante
    $curCat = Mage::registry('current_category');
    //Récupération des sous-catégories de la catégorie courante
    $_categories = $this->getCurrentChildCategories();
    //Pour chaque sous-catégorie
    foreach ($_categories as $_category) {
        $cur_category=Mage::getModel('catalog/category')->load($_category->getId()); 
        //var_dump($_category->getData('product_count'));
        if($_category->getData('product_count')>0) {
            $afficherTitre += 1;
        }
    }

    //Même si la catégorie courante possède des sous-catégories, un vendeur peut avoir enregistré des produits dans la catégorie courante sans aller les placer dans le dernier niveau
    //Il faut donc vérifier si la catégorie courante comporte des produits pour adaptation du titre, en filtrant la collection des produits sur l'ID de la catégorie via une jointure sur la table catalog_category_product
    $curCatId = $curCat->getData('entity_id');
    //Récupération de la collection des produits
    $curCatProducts = Mage::getModel('catalog/product') ->getCollection();
    //Mise en place de la jointure sur la table catalog_category_product
    $res = Mage::getSingleton('core/resource');
    $conn = $curCatProducts->getConnection();
    $curCatProducts ->getSelect()
                                ->join(
                                    array('ccp' => $res->getTableName('catalog/category_product')),
                                    $conn->quoteInto('ccp.product_id=e.entity_id WHERE ccp.category_id=?', $curCatId)
                                );
    $curCatData = $curCatProducts->getData();
    $nbProdCurCat = count($curCatData);
    if ($nbProdCurCat>0) {
        $afficherInfo += 1; 
    }
?>
    
<?php if ($curCat->getData('level') == "2" && $afficherTitre>0) : ?>
    <?php echo $this->__('Bienvenue dans l\'univers ') ?><strong><?php echo $curCat->getName() ?></strong>
<?php elseif ($afficherTitre > 0 ) : ?>
    <?php echo $this->__('Tous nos produits dans la catégorie ') ?><strong><?php echo $curCat->getName() ?></strong></h2>
<?php elseif ($afficherInfo == 0) : ?>
    <?php echo $this->__('Tous nos produits dans la catégorie ') ?><strong><?php echo $curCat->getName() ?></strong><?php echo $this->__(' sont actuellement épuisés') ?>
<?php endif ?>