
#menudiv {
  margin: 5px 0px 0px 0px;
}

#menudiv a, a:active, a:visited { 
	color: #555555;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#menudiv a:hover {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

/* Root = Horizontal, Secondary = Vertical */
ul.mainmenu {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: auto; /*For KHTML*/
  list-style: none;
  height: 24px;
}

ul.mainmenu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
}

/* SUBMENUS */

ul.mainmenu ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  /*width: 160px;*/
  width: auto;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

ul.mainmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul.mainmenu ul li {
  width: 300px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
ul.mainmenu a {
  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #DDD;
  color: #666;
  font: bold 10px/22px Arial, Verdana, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul.mainmenu a:hover {
  background: #555555;
  color: #FFF;
}

/* 2nd Menu */
ul.mainmenu li:hover li a,
ul.mainmenu li.iehover li a {
  float: none;
}

ul.mainmenu ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul.mainmenu li:hover ul ul,
ul.mainmenu li.iehover ul ul {
  display: none;
}

ul.mainmenu li:hover ul,
ul.mainmenu ul li:hover ul {
  display: block;
}

ul.mainmenu li.iehover ul,
ul.mainmenu ul li.iehover ul {
  display: block;
}

li.persistHover,
a.persistHover
{
	background: #CCC;
	color: #FFF;
}

span.counter {
	width: 13px;

	text-align: center;
	line-height: 10px;
	padding-left: 3px;
	background: #4e94ca;
	color: white;
	font-size: 12px;
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
}

