
/* le fichier des classes fondamentaux pour toutes les pages du site */
/* Attention au modification qui peuvent se répandre sur plusieurs pages */

/*
 -- css reset
 --- fonts
 0.0 taille du texte
  1.0 - Fondamentaux
 	1.1 - Title
 	1.2 - Class
 	1.3 - Buttons, Badges, label
	1.4 - Breadcrumb
	1.5 - Colonnes span*
	1.6 - Alert  
		1.6.1 - Box Alert
		1.6.2 - Text Alert
	1.7 - bloc
	1.8 - Pagination
	1.9 - Color & font
  2.0 - Form
  3.0 Product Box
	3.1 - list
	3.2 - grid
  
*/

/* - Eric meyer's css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0; list-style:none;
font-family: Arial, 'PT Sans', sans-serif; /*color:#3b3734;*/ color: #181c1c; text-decoration:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none; display:list-item }blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* --- font Myriad Pro Condensed */
@font-face {
	font-family: 'myriad pro condensed';
	src: url('../fonts/MYRIADPRO-COND.eot');
	src: local('?'), url('../fonts/MYRIADPRO-COND.ttf') format('truetype'), url('../fonts/MYRIADPRO-COND.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* --- font Myriad Pro Bold Condensed */
@font-face {
	font-family: 'myriad pro bold condensed';
	src: url('../fonts/MYRIADPRO-BOLDCOND.eot');
	src: local('?'), url('../fonts/MYRIADPRO-BOLDCOND.ttf') format('truetype'), url('../fonts/MYRIADPRO-BOLDCOND.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
/* 0.0 taille du texte */
/* body: 16px;
24px -> 24:16 = 1.5em
22px -> 1.4667em
20px -> 1.25em
18px -> 1.125em
16px -> 1em
14px -> 0.875em
13px -> 0.8125
12px -> 0.75em
11px -> 0.6875em
10px -> 0.625em
9px -> 0.5625em
8px -> 0.5em 
*/



/* 
 * 1.0 Fondamentaux 
 * */
 
html {}
body{font-size:16px; line-height: 16px; font-family: arial;}
#container { position: relative; background: #fff url("background/home.jpg") top center no-repeat;  }
#univers_1 #container { background: #fff url("background/mode.jpg") top center no-repeat;  }


#wrapper, .wrapper {width: 979px; margin: 0 auto;}
#wrapper { min-height: 430px; }
#headline{min-height: 25px; position: absolute; z-index:2000; width: inherit; }
#header{  min-height: 90px; float: left; width: 100%; background: rgb(227,227,227);
background: -moz-linear-gradient(top,  rgba(227,227,227,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,227,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ffffff',GradientType=0 );

-webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.5);
}
#footer{}
.content {margin-top: 135px; clear: both; background-color: #fff; padding-top: 20px; padding-bottom: 20px;

-webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.5);

}
.box img{max-width:200px; max-height: 200px; width:auto; height:auto; vertical-align:middle; border:0;}

/* 1.1 Title */
h1,h2,h3,h4,h5,h6 {font-family: arial, sans-serif; }
h1 {font-size: 1.875em; line-height: 1.1em;font-family: "myriad pro bold condensed"; margin:0 0 25px 0; }
h2 {font-size: 1.5em; line-height: 1em; font-family: "myriad pro condensed"; margin:0 0 30px 0; }
h3 {font-size:0.75em;}
h4 {font-size:0.6875em;  margin-bottom: 10px;}
h5 {font-size:0.625em; margin-bottom:7px;}


/* 1.2 Class */
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5 {text-decoration:none;} 
p{ font-weight:normal; font-size:0.8125em; line-height:1.4667em; margin-bottom: 15px;}
a {}
a:hover {cursor:pointer; text-decoration: none; }

button { border:none; margin:0; padding:0; background-color:transparent; padding:0; }
.iblock {display: inline-block;}
.vtop {vertical-align: top;}
.vmiddle {vertical-align: top;}
.right {float: right;}
.left{float: left; }
.none {display:none;}
.strong {font-weight: bold;}
.italic {font-style: italic;}
.clear {clear: both;}
.vacance {color: red; font-weight: bold;}
.no-margin {margin:0 !important;}
.no-margin-top {margin-top:0 !important; padding-top: 20px; }
.large {font-size: 1.125em; line-height: 1.2em; }
.xlarge{font-size:1.25em; line-height: 1.4em; }
.medium{font-size:1em; line-height: 1.2em;}
.small {font-size: 0.875em; line-height: 1em;}
.xsmall {font-size: 0.75em; line-height: 1.25em;}
.large-title {font-size: 1.875em; line-height: 1.1em; font-family: "myriad pro bold condensed";}
.medium-title {font-size: 1.5em; line-height: 1em; font-family: "myriad pro condensed";}
.center {margin-left: auto; margin-right: auto;}
.bold {font-weight: bold;}
.uppercase {text-transform: uppercase;}
.underline {text-decoration: underline;}
.line-through{text-decoration: line-through;}
.border {border: 1px solid #b8b8b8;}
.no-border {border: 0 !important;}
.border-top {border-top: 1px solid #b8b8b8;}
.border-bottom {border-bottom: 1px solid #b8b8b8;}
.box-shadow {-webkit-box-shadow: 0px 1px 4px 1px rgba(50, 50, 50, 0.25);-moz-box-shadow:0px 1px 4px 1px rgba(50, 50, 50, 0.25);box-shadow:0px 1px 4px 1px rgba(50, 50, 50, 0.25);}
.box-shadow-hover {-webkit-box-shadow: 0px 6px 10px 3px rgba(50, 50, 50, 0.40);-moz-box-shadow:0px 6px 10px 3px rgba(50, 50, 50, 0.40);box-shadow:0px 6px 10px 3px rgba(50, 50, 50, 0.40);}
.maxHeight{max-height: 250px;padding: 5px; overflow-y: scroll;}


.img-rounded{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.img-polaroid {padding:4px;background-color:#fff; border:1px solid #ccc; border:1px solid rgba(0,0,0,0.2); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1); -moz-box-shadow:0 1px 3px rgba(0,0,0,0.1); box-shadow:0 1px 3px rgba(0,0,0,0.1)}
.img-circle{-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%}


/* 1.3.1 Button */

.btn {
text-align: center; cursor: pointer; border-radius: 4px; -webkit-border-radius: 4px; padding: 3px 14px; border: 1px solid #cbcccc; font-size: 0.875em; font-weight: bold; line-height: 20px; color: #181c1c;display: inline-block;
background: #f1f1f1;
background: -moz-linear-gradient(top,  #f1f1f1 0%, #e6e6e6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e6e6e6));
background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e6e6e6 100%);
background: -o-linear-gradient(top,  #f1f1f1 0%,#e6e6e6 100%);
background: -ms-linear-gradient(top,  #f1f1f1 0%,#e6e6e6 100%);
background: linear-gradient(to bottom,  #f1f1f1 0%,#e6e6e6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e6e6e6',GradientType=0 );

-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 10px 0px rgba(255, 255, 255, 0.5);
-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 10px 0px rgba(255, 255, 255, 0.5);
box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 10px 0px rgba(255, 255, 255, 0.5);

-webkit-transition: all 0.30s ease; -moz-transition: all 0.30s ease; -ms-transition: all 0.30s ease; -o-transition: all 0.30s ease;
}

.btn:hover, .btn.hover {border-color: #e8e8e8; text-decoration: none;
background: #efefef;
background: -moz-linear-gradient(top,  #ffffff 0%, #e3e3e3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e3e3));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e3e3e3 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e3e3e3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 );

-webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    0px 4px 6px 0px rgba(0, 0, 0, 0.5);
box-shadow:         0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}


.btn:active, .btn.active{ border: 1px solid #cbcccc;
-webkit-box-shadow:  inset 0px 3px 8px 1px rgba(0, 0, 0, 0.3);
-moz-box-shadow:     inset 0px 3px 8px 1px rgba(0, 0, 0, 0.3);
box-shadow:          inset 0px 3px 8px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary {
border-color: #f5b344;
background: #ffda14;
background: -moz-linear-gradient(top,  #ffda14 0%, #ffbc0c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffda14), color-stop(100%,#ffbc0c));
background: -webkit-linear-gradient(top,  #ffda14 0%,#ffbc0c 100%);
background: -o-linear-gradient(top,  #ffda14 0%,#ffbc0c 100%);
background: -ms-linear-gradient(top,  #ffda14 0%,#ffbc0c 100%);
background: linear-gradient(to bottom,  #ffda14 0%,#ffbc0c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda14', endColorstr='#ffbc0c',GradientType=0 );
}

.btn-primary:hover, .btn-primary.hover {border-color: #f5b344;
background: #ffff1c;
background: -moz-linear-gradient(top,  #ffff1c 0%, #ffb10a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff1c), color-stop(100%,#ffb10a));
background: -webkit-linear-gradient(top,  #ffff1c 0%,#ffb10a 100%);
background: -o-linear-gradient(top,  #ffff1c 0%,#ffb10a 100%);
background: -ms-linear-gradient(top,  #ffff1c 0%,#ffb10a 100%);
background: linear-gradient(to bottom,  #ffff1c 0%,#ffb10a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff1c', endColorstr='#ffb10a',GradientType=0 );
}

.btn-primary:active, .btn-primary.active {
border-color: #f5b344;
background: #ffb20a;
background: -moz-linear-gradient(top,  #ffb20a 0%, #ffd713 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb20a), color-stop(100%,#ffd713));
background: -webkit-linear-gradient(top,  #ffb20a 0%,#ffd713 100%);
background: -o-linear-gradient(top,  #ffb20a 0%,#ffd713 100%);
background: -ms-linear-gradient(top,  #ffb20a 0%,#ffd713 100%);
background: linear-gradient(to bottom,  #ffb20a 0%,#ffd713 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb20a', endColorstr='#ffd713',GradientType=0 );
}

.btn-secondary {
color: #fff;
border-color: #0099da;
background: #00c2e9;
background: -moz-linear-gradient(top,  #00c2e9 0%, #008ed6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c2e9), color-stop(100%,#008ed6));
background: -webkit-linear-gradient(top,  #00c2e9 0%,#008ed6 100%);
background: -o-linear-gradient(top,  #00c2e9 0%,#008ed6 100%);
background: -ms-linear-gradient(top,  #00c2e9 0%,#008ed6 100%);
background: linear-gradient(to bottom,  #00c2e9 0%,#008ed6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c2e9', endColorstr='#008ed6',GradientType=0 );
}

.btn-secondary:hover, .btn-secondary.hover {border-color: #0099da;
background: #00ffff;
background: -moz-linear-gradient(top,  #00ffff 0%, #007ccf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ffff), color-stop(100%,#007ccf));
background: -webkit-linear-gradient(top,  #00ffff 0%,#007ccf 100%);
background: -o-linear-gradient(top,  #00ffff 0%,#007ccf 100%);
background: -ms-linear-gradient(top,  #00ffff 0%,#007ccf 100%);
background: linear-gradient(to bottom,  #00ffff 0%,#007ccf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#007ccf',GradientType=0 );

}

.btn-secondary:active, .btn-secondary.active {border-color: #0099da;
background: #007fd1;
background: -moz-linear-gradient(top,  #007fd1 0%, #00bce7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007fd1), color-stop(100%,#00bce7));
background: -webkit-linear-gradient(top,  #007fd1 0%,#00bce7 100%);
background: -o-linear-gradient(top,  #007fd1 0%,#00bce7 100%);
background: -ms-linear-gradient(top,  #007fd1 0%,#00bce7 100%);
background: linear-gradient(to bottom,  #007fd1 0%,#00bce7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fd1', endColorstr='#00bce7',GradientType=0 );
}

.btn-ico-right {padding: 0 0 0 14px;}
.btn-ico-right i { border-left: 1px solid #aa8f00; padding: 5px 8px 3px 8px; margin-left: 5px;line-height: inherit;}
.btn-ico-left {padding: 0 14px 0 0;}
.btn-ico-left i { border-right: 1px solid #aa8f00; padding: 5px 8px 3px 8px; margin-right: 5px;line-height: inherit;}
.btn-secondary i {color: #fff; border-color: #cdcdcd;}

.btn-large{padding:10px 20px; margin-top:4px; font-size:1.125em; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px}

.btn-small{padding:5px 10px; font-size: 0.6875em; line-height: 1em; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.btn-small.btn-ico-left {padding: 2px 10px 2px 0; }
.btn-small .fa {font-size: 1.5em; padding: 5px 5px 3px 5px; border: 0; margin: 0;}

.btn-purchase {padding:10px 20px 5px 20px; margin-top:4px; font-size:0.8125em; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; color: #3b3734; line-height: 1.4em; text-align: right;}
.btn-purchase > span {margin-left: 30px; text-transform: uppercase; font-size: 1.25em; color: #3b3734;}
.btn-purchase:before {content: "\f053"; font-family: "FontAwesome"; float: left; font-size: 3em; margin-top: 10px;}


.btn-ico-circle span { background-color: #f1d991; border-radius: 50%; padding:8px; 
-webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    inset 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
box-shadow:         inset 0px 1px 3px 1px rgba(0, 0, 0, 0.3);}



/*
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {color:#333; background-color:#f2f2f2; *background-color:#e5e5e5}
.btn:first-child{*margin-left:0}
.btn:hover,.btn:focus{color:#333; text-decoration:none ; -webkit-transition:background-position .1s linear; -moz-transition:background-position .1s linear; -o-transition:background-position .1s linear; transition:background-position .1s linear}
.btn.disabled,.btn[disabled]{cursor:default; background-image:none; opacity:.65; filter:alpha(opacity=65); -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none}
.btn-large{padding:11px 19px; margin-top:4px; font-size:15px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px}
.btn-small{padding:2px 5px; font-size:10px; line-height: 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#8fa76b;background-image:-moz-linear-gradient(top,#8fa76b,#8fa76b);background-image:-webkit-gradient(linear,0 0,0 100%,from(#8fa76b),to(#8fa76b));background-image:-webkit-linear-gradient(top,#8fa76b,#8fa76b);background-image:-o-linear-gradient(top,#8fa76b,#8fa76b);background-image:linear-gradient(to bottom,#8fa76b,#8fa76b);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8fa76b',endColorstr='#ff8fa76b',GradientType=0);border-color:#8fa76b #8fa76b #687c4a;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#8fa76b;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#8fa76b;*background-color:#839c5d}
.btn-primary:active,.btn-primary.active{background-color:#758c53 \9}
.btn-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#f2b154;background-image:-moz-linear-gradient(top,#f2b154,#f2b154);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f2b154),to(#f2b154));background-image:-webkit-linear-gradient(top,#f2b154,#f2b154);background-image:-o-linear-gradient(top,#f2b154,#f2b154);background-image:linear-gradient(to bottom,#f2b154,#f2b154);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2b154',endColorstr='#fff2b154',GradientType=0);border-color:#f2b154 #f2b154 #e89012;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#f2b154;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#fff;background-color:#f2b154;*background-color:#f0a63c}
.btn-warning:active,.btn-warning.active{background-color:#ee9b25 \9}
.btn-danger{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#ed774e;background-image:-moz-linear-gradient(top,#ed774e,#ed774e);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ed774e),to(#ed774e));background-image:-webkit-linear-gradient(top,#ed774e,#ed774e);background-image:-o-linear-gradient(top,#ed774e,#ed774e);background-image:linear-gradient(to bottom,#ed774e,#ed774e);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed774e',endColorstr='#ffed774e',GradientType=0);border-color:#ed774e #ed774e #d84816;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#ed774e;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#fff;background-color:#ed774e;*background-color:#eb6537}
.btn-danger:active,.btn-danger.active{background-color:#e85320 \9}
.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#7fc18d;background-image:-moz-linear-gradient(top,#7fc18d,#7fc18d);background-image:-webkit-gradient(linear,0 0,0 100%,from(#7fc18d),to(#7fc18d));background-image:-webkit-linear-gradient(top,#7fc18d,#7fc18d);background-image:-o-linear-gradient(top,#7fc18d,#7fc18d);background-image:linear-gradient(to bottom,#7fc18d,#7fc18d);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7fc18d',endColorstr='#ff7fc18d',GradientType=0);border-color:#7fc18d #7fc18d #4fa461;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#7fc18d;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#7fc18d;*background-color:#6eb97e}
.btn-success:active,.btn-success.active{background-color:#5db06e \9}
.btn-info{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#88bbc8;background-image:-moz-linear-gradient(top,#88bbc8,#88bbc8);background-image:-webkit-gradient(linear,0 0,0 100%,from(#88bbc8),to(#88bbc8));background-image:-webkit-linear-gradient(top,#88bbc8,#88bbc8);background-image:-o-linear-gradient(top,#88bbc8,#88bbc8);background-image:linear-gradient(to bottom,#88bbc8,#88bbc8);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88bbc8',endColorstr='#ff88bbc8',GradientType=0);border-color:#88bbc8 #88bbc8 #549db0;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#88bbc8;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#88bbc8;*background-color:#77b1c0}
.btn-info:active,.btn-info.active{background-color:#65a7b8 \9}



.btn-orange{background-color: orange;}
.btn-search {color: #fff;
background: rgb(62,213,229);
background: -moz-linear-gradient(top,  rgba(62,213,229,1) 0%, rgba(22,84,108,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,213,229,1)), color-stop(100%,rgba(22,84,108,1)));
background: -webkit-linear-gradient(top,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
background: -o-linear-gradient(top,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
background: -ms-linear-gradient(top,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
background: linear-gradient(to bottom,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed5e5', endColorstr='#16546c',GradientType=0 );
}
.btn-search:hover { color: #000;
background: rgb(62,213,229);
background: -moz-linear-gradient(top,  rgba(62,213,229,1) 0%, rgba(22,84,108,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,213,229,1)), color-stop(100%,rgba(22,84,108,1)));
background: -webkit-linear-gradient(top,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
background: -o-linear-gradient(top,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
background: -ms-linear-gradient(top,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
background: linear-gradient(to bottom,  rgba(62,213,229,1) 0%,rgba(22,84,108,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed5e5', endColorstr='#16546c',GradientType=0 );}

.btn-blue {border:1px solid #0094d8; color: #fff;
background: rgb(0,194,233);
background: -moz-linear-gradient(top,  rgba(0,194,233,1) 0%, rgba(0,144,215,1) 85%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,194,233,1)), color-stop(85%,rgba(0,144,215,1)));
background: -webkit-linear-gradient(top,  rgba(0,194,233,1) 0%,rgba(0,144,215,1) 85%);
background: -o-linear-gradient(top,  rgba(0,194,233,1) 0%,rgba(0,144,215,1) 85%);
background: -ms-linear-gradient(top,  rgba(0,194,233,1) 0%,rgba(0,144,215,1) 85%);
background: linear-gradient(to bottom,  rgba(0,194,233,1) 0%,rgba(0,144,215,1) 85%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c2e9', endColorstr='#0090d7',GradientType=0 );
 }

.btn-yellow {background-color: yellow;} 

*/

/* 1.3.2 Badges */ /* prix "a partir de" */
.badge{display:inline-block;padding:2px 4px; font-size:1em; font-weight:bold;line-height:14px;color:#fff;vertical-align:baseline;white-space:nowrap;text-shadow:0 -1px 0 rgba(0,0,0,0.25);
background-color:#999;
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 075),  inset 0px 25px 25px -10px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75),  inset 0px 25px 25px -10px rgba(50, 50, 50, 0.75));
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75),  inset 0px 25px 25px -10px rgba(50, 50, 50, 0.75);}


/* prix "a partir de" */
.badge{position: absolute; top: -10px; left: -5px; padding: 15px 0; background-color: #d74319; width: 60px; height: 30px; -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%; border: 1px solid #fff; text-align: center;
/* -moz-transform: rotate(6deg);
-webkit-transform: rotate(6deg);
-o-transform: rotate(6deg);
-ms-transform: rotate(6deg);
transform: rotate(6deg); */} 

.badge-right{right: -5px; left: inherit;}
.badge-bottom{bottom: -10px; top: inherit;}

.badge-red{background-color: #d74319;}
.badge-orange{background-color: #f58220;}
.badge span {color: #fff; display: block; font-size: 1.25em; }
.badge span + span {font-size: 0.55em; line-height: 1em; margin-top: 6px; font-weight: normal;}

/* 1.3.3 Tag */ /* prix en promotion */
.tag {position: absolute; top: 0px; left: 0px; background-color: #d74319; color: #fff; font-weight: bold; font-size: 1em; padding: 2px 9px;  } 
.tag-center {text-align: center; width: 100%;}
.tag-right{left: inherit; right: 0px;}
.tag-bottom{top: inherit; bottom: 0px;}


/* 1.3.4 Top-bar */
/* haut et bas decertain bloc */
.top-bar, .bottom-bar{padding:8px; background-color: #e8e8e8;} 

.top-bar-left{ left: 16px; background-color: #fff;}
.top-bar-right{right: 16px; background-color: #fff;}
.top-bar-center, .bottom-bar-center {text-align:center;}
.top-bar-green {background-color: #8dc63f;}

.bloc-grid .top-bar{ position: absolute; top: -22px; background-color: initial; width: 100%; padding-left: 0;}
.bloc-grid .top-bar-center{left: 30%; background-color: #fff;}

.bottom-bar{clear:both;}

/* 1.3.6 label bloc "retour categorie" */

.label {display:inline-block; padding:3px 15px; font-size:0.6875em; background-color: #d74319; line-height:14px; color:#fff; vertical-align:baseline; white-space:nowrap; margin-left: 10px;}


/* 1.3.6 Boite circulaire photo de presentation*/
.circle { -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%; 
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 075),  inset 0px 25px 25px -10px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75),  inset 0px 25px 25px -10px rgba(50, 50, 50, 0.75));
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75),  inset 0px 25px 25px -10px rgba(50, 50, 50, 0.75);
}

/* 1.3.7 ribbon bloc "retour categorie" */
.ribbon{position: relative;}
.ribbon a {display:inline; padding:5px 20px 7px 20px; font-size:1em; color:#fff; vertical-align:baseline; white-space:nowrap; margin-left: -10px; 
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 075);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);}
.ribbon a:before {content:"\f104"; color: white; font-weight: bold; font-family: FontAwesome; font-size: 1.2125em; margin-right: 10px;}
.ribbon .corner {width: 0px;height: 0px;border-style: solid;border-width: 0 0 10px 10px; border-color: transparent transparent #0099da transparent; position: absolute; top: -15px; left: -10px;}
.ribbon .corner:before {content:''; width: 0px;height: 0px;border-style: solid;border-width: 0 0 10px 10px;border-color: transparent transparent #000 transparent; position: absolute; top:0; left: -10px; opacity: 0.5;}


/* 1.4 Breadcrumb */
/*.breadcrumb {margin-bottom: 15px;}
.breadcrumb ul {background-color: #eee; display: inline-block; font-size: 0.6875em; padding: 5px 5px 5px 0}
.breadcrumb li { display: inline;  }
.breadcrumb li:first-child { background-color: #2a2928; color: #fff; padding: 6px; margin-right: 3px;}
.breadcrumb li:first-child i{color: #fff;}
.breadcrumb a{color: #3b3734;  }
.breadcrumb a:hover{text-decoration: underline;}
*/
.breadcrumb {margin-bottom: 15px;}
.breadcrumb ul { display: inline-block; font-size: 1.125em; padding: 5px 5px 5px 0}
.breadcrumb li { display: inline;  }
.breadcrumb a{color: #3b3734;  }
.breadcrumb a:hover{text-decoration: underline;}
.breadcrumb li:last-child a {font-weight: bold;} 


 /* 1.5  Colonnes span* */ 
 .row {margin-left: -20px; *zoom:1}
 .container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:940px}
.span12{width:940px}
.span11{width:860px}
.span10{width:780px}
.span9{width:700px}
.span8{width:620px}
.span7{width:540px}
.span6{width:460px}
.span5{width:380px}
.span4{width:300px}
.span3{width:220px}
.span2{width:140px}
.span1{width:60px}

.fix {width: 1000px;}


.row-fluid{width:100%; *zoom:1; clear: both;}
 .row-fluid:before,.row-fluid:after {display: table;line-height: 0;content: "";}
 .row-fluid:after { clear: both;}
.row-fluid [class*="span"]{float: left; width:100%; min-height:30px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin-left:2.127659574468085%; *margin-left:2.074468085106383%}
.row-fluid [class*="span"]:first-child{margin-left:0}

.row-fluid .span12{width:100%; *width:99.94680851063829%}
.row-fluid .span11{width:91.48936170212765%; *width:91.43617021276594%}
.row-fluid .span10{width:82.97872340425532%; *width:82.92553191489361%}
.row-fluid .span9{width:74.46808510638297%; *width:74.41489361702126%}
.row-fluid .span8{width:65.95744680851064%; *width:65.90425531914893%}
.row-fluid .span7{width:57.44680851063829%; *width:57.39361702127659%}
.row-fluid .span6{width:48.93617021276595%; *width:48.88297872340425%}
.row-fluid .span5{width:40.42553191489362%; *width:40.37234042553192%}
.row-fluid .span4{width:31.914893617021278%; *width:31.861702127659576%}
.row-fluid .span3{width:23.404255319148934%; *width:23.351063829787233%}
.row-fluid .span2{width:14.893617021276595%; *width:14.840425531914894%}
.row-fluid .span1{width:6.382978723404255%; *width:6.329787234042553%}

.well .row-fluid   {margin-bottom: 30px;}
.well-right .row-fluid {margin-bottom: 20px;}

/* 1.6 Alert */
/* 1.6.1 Box Alert */
.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fef0c2;border:1px solid none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.alert,.alert h4{color:#978b65}
.alert h4{margin:0}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px}
.alert-success{background-color:#c5deb8;border-color:none;color:#5e6c56}
.alert-success h4{color:#5e6c56}
.alert-danger,.alert-error{background-color:#ffd9cb;border-color:none;color:#7f514c}
.alert-danger h4,.alert-error h4{color:#7f514c}
.alert-info{background-color:#daeef4;border-color:none;color:#70868d}
.alert-info h4{color:#70868d}
.alert-block{padding-top:14px;padding-bottom:14px}
.alert-block>p,.alert-block>ul{margin-bottom:0}
.alert-block p+p{margin-top:5px}

/* 1.6.2 Text Alert */
.text-warning{color:#978b65}
a.text-warning:hover,a.text-warning:focus{color:#786f51}
.text-error{color:#7f514c}
a.text-error:hover,a.text-error:focus{color:#5f3d39}
.text-info{color:#70868d}
a.text-info:hover,a.text-info:focus{color:#596b71}
.text-success{color:#5e6c56}
a.text-success:hover,a.text-success:focus{color:#45503f}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center}



/* 1.8 Pagination */
.pagination{margin:20px 0}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.05)}
.pagination ul>li{display:inline}
.pagination-centered{text-align:center}
.pagination-right{text-align:right}

/* 1.9 Color */
.red {color:#d74319;}
.orange {color:#f58220;}
.yellow{color:#ffc20e;}
.blue {color:#0099da;}
.pink {color: #ee2a7b;}
.dark {color: #181c1c;}
.green {color: #8dc63f;}
.gray {color: #5b5e5e;}
.smoke {color: #cbcccc;}
.white {color: #fff;}
.gray-dark {color: #363533;}

.bg-red {background-color:#d74319;}
.bg-orange {background-color:#f58220;}
.bg-yellow{background-color:#ffc20e;}
.bg-blue {background-color:#0099da;}
.bg-purple {background-color: #623f99;}
.bg-pink {background-color: #ee2a7b;}
.bg-dark {background-color: #181c1c;}
.bg-green {background-color: #8dc63f;}
.bg-gray {background-color: #5b5e5e;}
.bg-smoke {background-color: #cbcccc;}
.bg-white {background-color: #fff;}
.bg-gray-dark {background-color: #363533;}
.bg-light-gray{background-color: #e8e8e8;}


/* 1.9.2 Font */
.myriad-pro, .myriad-pro > span {font-family: "myriad pro condensed"}


/* Modal */
.modal{position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:0}
.modal.fade{-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out;top:-25%}
.modal.fade.in{top:10%}


/* Boite produits ... */

/* .box{min-height: 50px; width: 23%; margin: 0 0.6% 15px 0.6%; min-width: 133px; display: inline-block; vertical-align: top; float: none !important;} */
.box {}
.box h3 {text-align: center;}
.box img { width: auto; height: auto; max-width: 120px; max-height: 120px; }
.box .title {font-weight: bold; text-align: center; margin-bottom: 10px;}


.bloc{ }

.top-bar a {float: right; padding: 5px 10px;}
/* .top-bar span {font-family: "myriad pro condensed";} */


/* bloc en style brique  */
.bloc-grid{position: relative; }
.bloc-width-title {padding-top: 30px; margin-top: 15px;}
.bloc-grid .top-bar{margin-bottom: 20px;}
.bloc-grid .top-bar > span {padding:3px 10px; margin-left: -1px;}
.bloc-grid .top-bar a {background-color: #fff; font-size: 0.625em; font-weight: bold; padding: 7px 0 5px 20px;}
.bloc-grid .box {min-height: 50px;}
.bloc-grid .box p {line-height: 1.2em; text-align:center; margin-bottom: 7px;}
.bloc-grid .box > a {display:block; text-align: center; min-width: 100px; }
.box a:hover:not(.underline) {text-decoration: underline;}

/* bloc en style liste  */
.bloc-list li {padding: 10px 5px; border-top: 1px solid #b8b8b8; clear: both; min-height: 60px;}
.bloc-list li:first-child {border-top: 0;}
.bloc-list li  > a {float: left; display: block; width: 80px; text-align: center;}
.bloc-list li img {width: auto; height: auto;max-height: 65px; max-width: 80px;}
.bloc-list li p {margin:0 0 4px 100px; line-height: 1.2em;}
.bloc-list li a:hover:not(.underline) {text-decoration: underline;}
/*.bloc-list li span + span {float: right;} */


.content-bloc, .groupBloc {padding: 10px;}
.groupBloc {border-right: 1px solid #cbcccc; margin: 20px 0; padding-top: 0; }
.groupBloc > div {margin-bottom: 5px;}
.groupBloc > div:first-child, .groupBloc > div:last-child  {margin-bottom: 0;} 

.helpBloc {padding: 5px 60px 5px 40px; border: 1px solid #cbcccc; background-color: #e8e8e8; }
.helpBloc p {margin-bottom: 0;}

/* 2.0 Form */

label {text-transform: uppercase; font-size: 0.75em; font-weight: bold; margin-right: 10px; text-align: right; width: 120px; display:block; float: left; padding-top: 5px;}
input::-webkit-input-placeholder {color: #999; font-style: italic;}
input:-moz-placeholder { color: #999; font-style: italic;}
input::-moz-placeholder { color: #999; font-style: italic;}
input:-ms-input-placeholder { color: #999; font-style: italic;}


input, textarea, select, option {border: 1px solid #cbcccc; margin:0 5px 10px 0; font-size: 0.75em; padding: 4px 5px; color: #a1a1a1; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; outline: none;}
select {font-size: 0.8125em;}

input[type=search] { padding-left: 10px; height: 30px; width: 300px; border: 1px solid #d1d1d1; border-radius: 5px; -webkit-border-radius: 5px; color: #a1a1a1; margin:0;
-webkit-box-shadow: inset 0px 1px 6px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:  inset 0px 1px 6px 0px rgba(50, 50, 50, 0.25);
box-shadow:  inset 0px 1px 6px 0px rgba(50, 50, 50, 0.25);}

input:focus, textarea:focus, select:focus {border-color: #808008; -webkit-box-shadow: 0 0 5px #808080;-moz-box-shadow: 0 0 5px #808080;box-shadow: 0 0 5px #808080; color: #333;}





/*
	3.0 Product box
*/

.productBox {}

/* 3.1 List */

.list .productBox {border: 1px solid transparent; border-top: 1px solid #cbcccc; padding: 10px 10px 40px 10px; min-height: 100px;}
.list .productBox > a{border: 1px solid #cbcccc; float: left; display:block; width: 140px; height: 120px; text-align: center; position: relative; background-color: #fff;}
.list .productBox > a img {width: auto; height: auto; max-width: 130px; max-height: 115px;}
.list .productBox .tag {font-size: 0.8125em;}

.list .productBox .desc {margin-left: 160px;}
.list .productBox .desc {}

.list .productBox h2 {font-family: arial; font-weight: bold; color: #373533; font-size: 1em; margin: 0 150px 10px 0;}
.list .productBox p {margin-right: 150px;}
.list .productBox .breadcrumb {margin-bottom: 5px; }
.list .productBox .breadcrumb span a:last-child {color: #0099da;}


.list .productBox.featured {border-color: #cbcccc;
background: #ffedb7;
background: -moz-linear-gradient(top,  #ffedb7 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedb7), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #ffedb7 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #ffedb7 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #ffedb7 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #ffedb7 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedb7', endColorstr='#ffffff',GradientType=0 );

-webkit-box-shadow: 0px 1px 4px 1px rgba(50, 50, 50, 0.25);-moz-box-shadow:0px 1px 4px 1px rgba(50, 50, 50, 0.25);box-shadow:0px 1px 4px 1px rgba(50, 50, 50, 0.25);
}

.list .productBox:hover {background: #e8e8e8; border-color: #cbcccc; -webkit-box-shadow: inherit;-moz-box-shadow:inherit;box-shadow:inherit;}


/* 3.2 Grid */

.grid .productBox {width: 23%;  margin: 0 0 15px 1.2%; border:1px solid #cbcccc; border-top: 3px solid #fcc019; display: inline-block; vertical-align: top; position: relative;}
.grid .productBox > a {display: block; min-height: 250px;}
.grid .productBox h2 {font-family: arial; font-size: 1em; font-weight: bold; padding: 5px; margin-bottom: 0;}

.grid .productBox  img {width: auto; height: auto; max-height: 200px;  max-width: 100%; display: block; margin: 0 auto;}
.grid .productBox  .view {display: block; width: 97.9%; padding: 5px 1%; visibility: hidden; color:#fff; background-color: #0099da; text-transform: uppercase; font-weight: bold; text-align: center; font-size: 0.75em; position:absolute; bottom: 0;}
.grid .productBox  .view:after {content:''; width: 0; height: 0; border-left: 10px solid transparent;border-right: 10px solid transparent; border-bottom: 7px solid #0099da; position: absolute; top: -7px; left: 48%; }


.grid .productBox.featured h2 {background-color: #fcc019; }


.grid .productBox:hover {border-top: 3px solid #0099da;}
.grid .productBox:hover h2 {background-color: #0099da; color: #fff;}
.grid .productBox:hover .view  {visibility: visible;} 









