<?php 
/**
 * created : 29/08/2011
 * 
 * @category Ayaline
 * @package Ayaline_MostViewed
 * @author aYaline
 * @copyright Ayaline - 2012 - http://magento-shop.ayaline.com
 * @license http://shop.ayaline.com/magento/fr/conditions-generales-de-vente.html
 */
?>
<?php /* @var $this Ayaline_MostViewed_Block_Sidebar */ ?>

<?php 
$_collection = $this->getProductCollection();
?>

<?php if($_collection->count() > 0): ?>
    <?php foreach($_collection as $_product) : 
    	 //Récupération des données vendeurs du produit
    $array = $_product->getData('multi_vendor_data');
    //Tri du tableau associatif sur le prix croissant, permettant de récupérer un tableau associatif dont la première clé comportera les données du vendeur le moins cher pour le produit
    $array = $this->aasort($array, 'vendor_price' ) ;
    //Mise en place du tableau trié dans le"s données vendeur du produit
    $_product->setData('multi_vendor_data', $array );
    //Récupération de la valeur pour le prix du vendeur le moins cher
    $compteur = 0;
    foreach ($array as $key=>$v) {
        if ($compteur<1) {
            $prix = $v['vendor_price'];
        }
        $compteur++;
    }
    setlocale(LC_MONETARY, 'fr_FR');
    $prix = money_format('%.2n', $prix);
    	
    	
    	?>
        <div class="col5 produit">
        	<a href="<?php echo $this->getProductUrl($_product) ?>">
            <img src="<?php echo $this->getUrl('media/catalog/product').$_product->getSmallImage() ?>"  alt="<?php echo $this->getProductName($_product) ?>" />
            <p><?php echo $this->getProductName($_product) ?></p>
            <span class="price">
            	  <?php echo $prix.' €' ?>
            </span>
            <button class="CTA_orange" onclick="setLocation('<?php echo $this->getProductUrl($_product) ?>')">
                <a href="<?php echo $this->getProductUrl($_product) ?>" class="see"><?php echo $this->__('Voir le produit') ?></a>
            </button> 
           </a>
           <?php if($_product->isSaleable()): ?>
                <button class="light_action" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                   <a href="<?php echo $this->getAddToCartUrl($_product) ?>"><?php echo $this->__('Acheter') ?></a>
                </button>
           <?php endif ?>
        </div>
    <?php endforeach; ?>
<?php endif ?>
        

<?php /*
<?php if($_collection->count() > 0): ?>
<div class="block block-list">
    <div class="block-title">
        <strong><span><?php echo $this->__('Most viewed') ?></span></strong>
    </div>
    <div class="block-content">
        <ol>
        <?php foreach($_collection as $_product): ?>
            <li class="item">
                <p class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>"><?php echo $this->getProductName($_product) ?></a></p>
            </li>
        <?php endforeach; ?>
        </ol>
        <?php if($this->helper('ayalinemostviewed')->listIsActive()) : ?>
        <div class="actions">
            <a href="<?php echo $this->getUrl('catalog/mostviewed') ?>" title="<?php echo $this->__('View all most viewed') ?>"><?php echo $this->__('View all most viewed') ?></a>
        </div>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
*/ ?>