<?php
/* SOUKEO SAS
 * @atuhor : Silicon Village Team (mamode@silicon-village.fr)
 * @package : Avahis
 */

//AFFICHAGE DES PRIX ET MODES DE LIVRAISON DES DIFFERENTS VENDEURS 

$vendorObj = $_udHlp->getVendor($v['vendor_id']);
$vendor_name = $vendorObj['vendor_name'];
$msHlp = Mage::helper('umicrosite');

setlocale(LC_MONETARY, 'fr_FR');
$store = array('RE' => 'Réunion', 'YT' => 'Mayotte', 'MU' => 'Maurice / Madagascar', 'FR' => 'Métropole');
$w = ($_product->getdata("weight"));
?>
<div id="livraison_detail" class="wrapper_insert" style="margin-bottom: 60px; margin-top: 30px;">
    <ul class="nav_onglet">
    	<ol class="legende"><img src="<?php echo $this->getCssImageUrl('ico_info.png') ?>"><h4>Faîtes-vous livrer à...</h4><p>les prix et frais d’envoi dépendent du pays où vous souhaitez vous faire livrer</p></ol>
        <?php 
        $class= "active first";
        foreach ($store as $s => $sv): ?>
            <?php ?>
            <li id="<?php echo $s; ?>_partenaires" class="<?php echo $class ?>">
            <?php $class = "" ?>
                <span><h4>
                    <a href="#" onclick="return false;"> <img src="<?php echo $this->getCssImageUrl('ico_' . $s . '.jpg') ?>"> <? echo $sv; ?></a>
                </h4>
                <p><a>Voir les conditions</a></p>
                </span>
            </li>
        <?php endforeach; ?>
    </ul>


    <?php foreach ($store as $s => $sv): ?>
        

        <div id="<?php echo $s; ?>_partenaires_contents" >
        	
                <div class="col3 explain">
                	<p>Produit vendu par</p>
                </div>
				<div class="col3 explain">
                	<p>Modes de livraison</p>
                </div>         
				<div class="col3 explain">
                	<p style="text-align: right;">Prix final</p>
                </div>
                        	
            <?php foreach ($vendors as $v): ?>
                <?php $afficherPrixSpecial = false; ?>

                <?php
                //Récupération du nom du vendeur
                $vendorID = $v['vendor_id'];
                $vendor = Mage::getModel('udropship/vendor')->getCollection();
                $vendor->addFieldToFilter('vendor_id', $vendorID);

                //Récupération du prix vendeur
                switch ($s) {
                    case "RE":
                        $libprix = ' prix de vente TTC';
                        break;
                   case "FR":
					    $v['vendor_price'] = ($v['vendor_price'] / 1.085) *1.196;
					    $v['special_price'] = ($v['special_price'] / 1.085) *1.196;
                        $libprix = ' prix de vente TTC';
                        break;
                    case "MG":
                    case "MU":
                    case "YT":
                        $v['vendor_price'] = $v['vendor_price'] / 1.085;
                        $v['special_price'] = $v['special_price'] / 1.085;
                        $libprix = ' prix de vente HT';
                    default:
                        break;
                }
                $vendorPrice = money_format('%.2n', $v['vendor_price']);

                //Si le vendeur n'a pas entré de prix spécial
                $vendorSpecialPrice = $v['special_price'];
                if (is_null($vendorSpecialPrice)) {
                    $afficherPrixSpecial = false;
                    //Sinon, il faut vérifier que la date du jour est bien incluse dna sla fourchettes des dates de validité du prix spécial
                } else {
                    $today = time();
                    $specialFrom = $v['special_from_date'];
                    $specialTo = $v['special_to_date'];
                    //Pour que le prix spécial soit valide, il faut que des dates soient spécifiées
                    if (!is_null($specialFrom) && !is_null($specialTo)) {
                        //Et que la date du jour soit incluse entre les deux dates
                        if ($today > strtotime($specialFrom) && $today < strtotime($specialTo)) {
                            $afficherPrixSpecial = true;
                            $vendorSpecialPrice = money_format('%.2n', $vendorSpecialPrice);
                        }
                    }
                }

                $livprice = "";
                $delai = "";
                if ($vendorID == 24 && $v['vendor_price'] > 50 && $s == "RE") {
                    $livprice = 0;
                } elseif ($v['vendor_id'] == 53 && $v['vendor_price'] >= 55 && $s == "RE") {
                    $livprice = 0;
                 } elseif ($v['vendor_id'] == 24 &&  $s == "FR") {
                    $livprice = 6;
                } elseif ($v['vendor_id'] != 24 && $v['vendor_id'] != 53 &&  $s == "FR") {
                	
                	$livprice = (((((round($w / 0.5)) * 2) + 19) * 1.15));
                            /*if ($w < 0.5) {
                                $livprice = 5.25;
                            } elseif ($w >= 0.5 && $w < 0.75) {
                                $livprice = 5.80;
                            } elseif ($w >= 0.75 && $w < 1) {
                                $livprice = 6.55;
                            } elseif ($w >= 1 && $w < 2) {
                                $livprice = 7.05;
                            } elseif ($w >= 2 && $w < 3) {
                                $livprice = 7.82;
                            } elseif ($w >= 3 && $w < 4) {
                                $livprice = 8.59;
                            } elseif ($w >= 4 && $w < 5) {
                                $livprice = 9.36;
                            } elseif ($w >= 5) {
                                $livprice = 10.36;
                            }*/
                } elseif ($v['vendor_id'] == 53 && $v['vendor_price'] < 55 && $s == "RE") {

                    $livprice = 5;
                } else {
                    //CAS CHRONOPOST
                    switch ($s) {
                        case "RE":
                            if ($w < 3) {
                                $livprice = 7.75;
                            } elseif ($w >= 3 && $w < 10) {
                                $livprice = 8.14;
                            } elseif ($w >= 10 && $w < 15) {
                                $livprice = 9.26;
                            } elseif ($w >= 15 && $w < 20) {
                                $livprice = 10.39;
                            } elseif ($w >= 20 && $w < 25) {
                                $livprice = 11.51;
                            } elseif ($w >= 25 && $w < 32) {
                                $livprice = 12.63;
                            }
                            break;
                        case "MG":
                        case "MU":
                        case "YT":
                            if ($vendorID == 53) {
                                $livrai = false;
                            } else {
                                $livprice = (((((round($w/ 0.5) ) * 2) + 17) * 1.15));
                            }


                        default:
                            break;
                    }
                }
                $livrai = true;
                if ($livprice === "") {
                    $livrai = false;
                    $livprice = "Livraison impossible";
                }

                if ($vendorID == 24 && $s == "RE") {
                    $delai = 10;
                    $lib = "&agrave; partir de";
                } elseif ($vendorID == 24 && $s != "RE" && $s != "FR") {
                    $delai = 15;
                    $lib = "en moins de ";
               } elseif ($vendorID == 24 && $s == "FR") {
                    $delai = 3;
                    $lib = "en moins de ";
                } else {
                    $delai = 3;
                    $lib = "en moins de ";
                }

                $libDelai = "Livr&eacute; $lib <strong>$delai jours </strong>";



                //AFFICHAGE DES PRIX ET MODES DE LIVRAISON DES DIFFERENTS VENDEURS 
                $vendorObj = $_udHlp->getVendor($v['vendor_id']);
                $vendor_name = $vendorObj['vendor_name'];

                $_reviews = Mage::getModel('review/review')->getCollection()
                        ->addStoreFilter(Mage::app()->getStore()->getId())
                        ->addStatusFilter('approved')
                        ->addEntityFilter(Mage::helper('udratings')->myEt(), $v['vendor_id'])
                        ->setFlag('AddRateVotes', true)
                        ->setFlag('AddAddressData', true);


                $_reviewData = $_reviews->getData();


                //$_resultRates = getShippingEstimate($_product->getId(),1,$s,"97400"); 
                // var_dump($_resultRates);
                ?>

                <div class="partenaire">
               

                	<div class="col3">

                         
                 	<h5>
                		<?php $linkVendor = Mage::getBaseUrl() . $vendor_name;
                              echo $vendor_name; ?>
                    </h5>
					<!-- Rating vendor -->
                    <?php if (!empty($_reviewData)): ?>
                        <div class="seller-rating">
                            <div id="product_vendors_2_review_html">

                                <div class="ratings">
                                    <div class="rating-box">
                                        <div class="rating" style="width:70%"></div>
                                    </div>
                                    <p class="rating-links">
                                        <a href="<?php echo Mage::getBaseUrl() . "udratings/vendor/index/id/" . $v['vendor_id']; ?>/"><?php echo count($_reviewData); ?> Commentaire(s)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>  
                    
                    <hr style="border: 0; margin:0; height:0;"/>
                                    	                  
                                                           
                                <?php //Si le vendeur propose un prix spécial pour l'article, le prix normal est affiché barré et le prix spécial est affiché   ?>
                                            <?php if ($afficherPrixSpecial == true) : ?>
                                                <p class="old-price">
                                                    <?php echo $libprix ?> <strong><?php echo $vendorPrice ?> €</strong>
                                                </p>
                                                <p class="special-price prix_vente">                     
                                                    <?php echo $libprix ?> <strong><?php echo $vendorSpecialPrice ?> € </strong>
                                                </p>
                                                <?php //Sinon, le prix est affiché normalement   ?>
                                            <?php else : ?>                        
                                                <p class="prix_vente">                       
                                                    <?php echo $libprix ?> <strong><?php echo $vendorPrice ?> € </strong>                                                
                                                </p>
                                            <?php endif ?>
                       
                        </div>
                        
						<div class="col3">
							<ul class="detail_livreur">
							    <?php
                                            //var_dump($_resultRates);
                                            // $_resultRates = getShippingEstimate($_product,1,$s,""); 
                                            //   var_dump($_resultRates);
                                            if ($livrai) {
                                                if ($v[vendor_id] == 24 && $s == 'RE') {
                                                    echo "<li class='details'><p class='prix_livraison'> {$_resultRates[0]['Title']}Livraison <strong>+ {$livprice} €</strong></p> <p style='font-style:italic'>Offert à partir de 50 € d'achat</p>";
                                                } else if ($v[vendor_id] == 53 && $s == 'RE') {
                                                    echo "<li class='details'><p class='prix_livraison'> {$_resultRates[0]['Title']}Livraison <strong>+ {$livprice} €</strong> </p> <p  style='font-style:italic'>Offert à partir de 55 € d'achat</p>";
                                                } else {
                                                    echo "<li class='details'><p class='prix_livraison'>{$_resultRates[0]['Title']}Livraison <strong>+ {$livprice} €</strong></p>  ";
                                                }

                                                echo "<p>$libDelai</p></li>";
												
                                            }
                                            else
                                                echo "$livprice";
                                            ?>

		                            </ul>                                    

						</div>      
  
						<div class="col3">
							<p class="prix_final">
							    <?php 
							    if ($afficherPrixSpecial == true) {
							        $totalPrice = $vendorSpecialPrice + $livprice;
							    } else {
							        $totalPrice = $vendorPrice + $livprice;
							    }
							   ?> 
							    <?php echo $this->__('prix final') ?><strong><?php echo money_format('%.2n', $totalPrice).' €' ?></strong><?php echo $this->__(' ttc') ?>
						    </p>   
		    						<input id="product_vendors_<?php echo $v['vendor_id']; ?>" type="radio" name="udropship_vendor" value="<?php echo $v['vendor_id']; ?>" class="udropship_vendor" style="visibility: hidden; display:none;" />
		                  <button type="button" title="Add to Cart" onclick="udmpChangeSelectedVendor.defer('product_vendors_<?php echo $v['vendor_id']; ?>', true);" class="CTA_orange"><a><?php echo $this->__('Choisir ce vendeur et ') ?><strong><?php echo $this->__('ajouter au panier') ?></strong></a></button>
                                           
						</div>  
						      
                </div>
                	
                    <hr/>


            <?php endforeach; ?>
        </div>
        

    <?php endforeach; ?>

    <script type="text/javascript">
                        var EasyTabs = Class.create();
                        EasyTabs.prototype = {
                            initialize: function(selector) {
                                $$(selector).each(this.initTab.bind(this));
                            },
                            initTab: function(el) {
                                el.href = 'javascript:void(0)';
                                if ($(el).up('li').hasClassName('active')) {
                                    this.showContent(el);
                                }
                                el.observe('click', this.showContent.bind(this, el));
                            },
                            showContent: function(a) {
                                var li = $(a).up('li'),
                                        ul = $(li).up('ul');

                                ul.select('li'/*, 'ol'*/).each(function(el) {
                                    var contents = $(el.id + '_contents');
                                    if (el.id == li.id) {
                                        el.addClassName('active');
                                        contents.show();
                                    } else {
                                        el.removeClassName('active');
                                        contents.hide();
                                    }
                                });
                            }
                        }
                        new EasyTabs('.nav_onglet span');
    </script>
</div>

