<?php
    $_hlp = Mage::helper('udmultiprice');
    $_udHlp = Mage::helper('udropship');
    if (($isUdc2c = $_udHlp->isModuleActive('udsell'))) {
        $_cHlp = Mage::helper('udsell');
    }
    if (($isMicro = $_udHlp->isModuleActive('umicrosite'))) {
        $_msHlp = Mage::helper('umicrosite');
    }
    $_helper = $this->helper('catalog/output');
    $_product = $this->getParentBlock()->getProduct();
    $_product = !$_product ? Mage::registry('current_product') : $_product;
    $_product = !$_product ? Mage::registry('product') : $_product;


    
 function getShippingEstimate2($_productId,$productQty,$countryId,$postcode) {
    $quote = Mage::getModel('sales/quote')->setStoreId(Mage::app()->getStore('default')->getId());

    
    $model = Mage::getModel('catalog/product'); //getting product model
 
    $_product = $model->load($_productId); 
    

    $_product->getStockItem()->setUseConfigManageStock(false);
    $_product->getStockItem()->setManageStock(false);

    $quote->addProduct($_product, $productQty);
    $quote->getShippingAddress()->setCountryId($countryId)->setPostcode($postcode);
    $quote->getShippingAddress()->collectTotals();

    $quote->getShippingAddress()->setCollectShippingRates(true);
    $quote->getShippingAddress()->getEstimateRates();
    $quote->getShippingAddress()->getGroupedAllShippingRates();
    
    $quote->getShippingAddress()->collectShippingRates();

    $_rates = $quote->getShippingAddress()->getShippingRatesCollection();
    $shippingRates = array();
            
    foreach ($_rates as $_rate) {
        if ($_rate->getPrice() > 0) {
            if ($countryId == 'RE') {
                $shippingRates[] = array("Title" => 'Réunion', "Price" => $_rate->getPrice());
            } elseif ($countryId == 'FR') {
                $shippingRates[] = array("Title" => 'Métropole', "Price" => $_rate->getPrice());
            } else {
                $shippingRates[] = array("Title" => 'Océan Indien', "Price" => $_rate->getPrice());
            }
        }
    }
    return $shippingRates;
}
?>

<?php if($vendors = $_product->getMultiVendorData()): ?>
<?php extract($_hlp->getGroupedMultipriceData($_product)); ?>

<?php 
/*
 * Gestion des infos sur les prix et frais de livraisons
 */
    include_once 'info_shipping.phtml';
?>

<?php endif; ?>



<script type="text/javascript">
    function udmpChangeSelectedVendor(elem, addToCart) {
        if (typeof $('product_addtocart_form').udropship_vendor == 'undefined') {
            var el = document.createElement("input");
            el.type = "hidden";
            el.name = "udropship_vendor";
            $('product_addtocart_form').appendChild(el);
        }
        try {
            $$('#product-vendors-table input.udropship_vendor').each(function(item){return item.checked=false;});
            $(elem).checked=true;
            $('product_addtocart_form').udropship_vendor.value = $(elem).value;
        } catch (e){}
        if (addToCart) productAddToCartForm.submit(this);
    }
    if ((/msie [1-7]\./i).test(navigator.userAgent)) {
        //Event.observe(window, 'load', udmpChangeSelectedVendor)
    } else {
        //document.observe("dom:loaded", udmpChangeSelectedVendor)
    }
</script>

<script type="text/javascript">
//<![CDATA[
var UnirgyVendorProducts = Class.create({
    initialize: function(mvData, config) {
        this.mvData = mvData;
        this.config = {
            statesId: 'product-vendors-states',
            stateIdPrefix: 'vendor_state_',
            stateClass: 'vendor_state',
            tableId: 'product-vendors-table',
            rowTemplateId: 'product_vendors_row_template',
            addToCartFormId: 'product_addtocart_form',
            pagesHtml: '#{pageItemsHtml}',
            pageItemHtml: '<li>#{pageNumberHtml}</li>',
            pageItemActiveHtml: '<li class="current">#{pageNumberHtml}</li>',
            pageNumberHtml: '<a href="javascript: void;">#{pageNumber}</a>',
            pageNumberActiveHtml: '#{pageNumber}',
            stateHtml: '<li id="vendor_state_#{html_value}" class="vendor_state"><a href="javascript:void(0);">#{html_label}</a></li>',
            pageSize: 2,
            vendor_logo: ''
        };
        Object.extend(this.config, config);
        this.stateHtmlTpl = new Template(this.config.stateHtml);
        this.lastRowNum = 1;
        this.states = $(this.config.statesId);
        this.tbody = $(this.config.tableId).down('tbody');
    },
    processProductId: function(pId) {
        if (!this.processedProducts) {
            this.processedProducts = {};
        }
        if (!this.processedProducts.pId) {
            this.processedProducts.pId = {};
        }
    },
    getProductId: function() {
        return this.productId || this.config.defaultProductId;
    },
    setProductId: function(pId) {
        this.productId = pId;
        this.states.update('');
        var pId = this.getProductId();
        if (this.mvData[pId]) {
            var gmpData = this.mvData[pId].grouped_multiprice_data;
            if (gmpData && gmpData.canonicStates) {
                $H(gmpData.canonicStates).each(function(state){
                    this.states.insert(this.stateHtmlTpl.evaluate(state.value));
                }.bind(this));
                decorateGeneric(this.states.childElements());
                this.states.childElements().each(function(stateEl){
                    stateEl.observe('click', this.setState.bind(this, stateEl));
                }.bind(this));
                var stateAll = $('vendor_state_all') || this.states.down();
                this.state = '';
                if (stateAll) this.setState(stateAll)
            }
        }
        
    },
    stateClass: function(dotPrefix) {
        dotPrefix = Object.isUndefined(dotPrefix) ? true : dotPrefix;
        if (this.config.stateClass.startsWith('.') && !dotPrefix) {
            return this.config.stateClass.substr(1);
        } else if (!this.config.stateClass.startsWith('.') && dotPrefix) {
            return '.'+this.config.stateClass;
        }
        return this.config.stateClass;
    },
    superAttributesChanged: function(spConfig) {
        var simplePid = '<?php echo $_product->getId()?>';
        if (spConfig && spConfig.getMatchingSimpleProduct()) {
            simplePid = spConfig.getMatchingSimpleProduct();
        }
        this.setProductId(simplePid);
    },
    setState: function(state){
        var state = this.processState(state);
        if (this.state==state) return;
        this.state=state;
        if (this.states) {
            this.states.select(this.stateClass(true)).each(function(stateEl){
                var state = this.processState(stateEl)
                if (state) {
                    stateEl.removeClassName('active');
                    if (this.state==state) {
                        stateEl.addClassName('active');
                    }
                }
            }.bind(this));
        }
        var pId = this.getProductId();
        this.tbody.update('');
        this.lastRowNum = 1;
        if (this.mvData[pId]) {
            $H(this.mvData[pId].mvData).each(function(pair){
                if (pair.value.canonic_state==state || state=='all') {
                    this.addRow(pair.value, this.mvData[pId]);
                }
            }.bind(this));
        }
    },
    processState: function(state) {
        state = state || '';
        if (Object.isElement(state)
            || state.startsWith(this.config.stateIdPrefix) && $(state)
        ) {
            var stateEl = $(state);
            if (!stateEl.hasClassName(this.stateClass(false))) {
                stateEl = stateEl.down(this.stateClass(true)) || stateEl.up(this.stateClass(true));
            }
            var state = stateEl.id || '';
            if (state && state.startsWith(this.config.stateIdPrefix)) {
                state = state.substr(this.config.stateIdPrefix.length);
            }
        }
        return state;
    },
    doFilter: function(state, page) {

    },
    addRow: function(inData, meta) {
        var rowHtml = $(this.config.rowTemplateId).innerHTML;
        var data = {
            is_in_stock: false,
            is_certified: false,
            is_pro: false,
            vendor_title: '',
            review_html: '',
            vendor_name: '',
            vendor_id: '',
            is_allowed_microsite: false,
            state_label: '',
            state_label: '',
            state_descr: '',
            price_html: '',
            vendor_base_url: ''
        };
        Object.extend(data, inData);
        var isIE = (/msie [1-8]\./i).test(navigator.userAgent);
        var numericVars = ['qty','weight'];
        var forcedNumericVars = [];
        data.row = this.lastRowNum++;
        for (i in data) {
            value = data[i] || ''
            if (-1 != numericVars.indexOf(i) && data[i]
                || -1 != forcedNumericVars.indexOf(i)
            ) {
                value *= 1;
                data[i] = value;
            }
            if (i!=='row' && isIE) value = '"'+value+'"';
            rowHtml = rowHtml.replace(new RegExp('\\$'+i.toUpperCase(), 'g'), value);
        }
        this.tbody.insert('<tr>'+rowHtml+'</tr>');
        var trs = this.tbody.childElements();
        var tr = trs[trs.length-1];
        tr.addClassName(this.lastRowNum%2 ? 'odd' : 'even');
        ['is_featured', 'is_certified', 'is_pro', 'freeshipping', 'vendor_logo', 'review_html'].each(function(key){
            if (!data[key]) {
                try {
                    $('product_vendors_'+data.row+'_'+key).remove();
                } catch (e) {}
            }
        });
        ['is_featured', 'is_certified', 'is_pro', 'freeshipping', 'vendor_logo', 'review_html'].each(function(key){
            if (data[key]) {
                try {
                    $('product_vendors_'+data.row+'_'+key+'_no').remove();
                } catch (e) {}
            }
        });
        try {
        if (data['is_allowed_microsite']) {
            $('product_vendors_'+data.row+'_vendor_name').remove();
        } else {
            $('product_vendors_'+data.row+'_vendor_name_link').remove();
        }
        } catch (e) {}
        try {
        if (!data['is_in_stock']) {
            $('product_vendors_'+data.row+'_udropship_vendor').remove();
        } else {
            $('product_vendors_'+data.row+'_out_of_stock').remove();
        }
        } catch (e) {}
        try {
        if ($(this.config.addToCartFormId).udropship_vendor
            && $('product_vendors_'+data.row+'_udropship_vendor')
            && $(this.config.addToCartFormId).udropship_vendor.value == $('product_vendors_'+data.row+'_udropship_vendor').value
        ) {
            $('product_vendors_'+data.row+'_udropship_vendor').checked = true;
        }
        } catch (e) {}
    }
});

var unirgyProductVendors<?php echo $_product->getId()?> = new UnirgyVendorProducts(<?php echo $_hlp->getMultiPriceDataJson($this->getParentBlock()) ?>, {defaultProductId: '<?php echo $_product->getId()?>'});
unirgyDomLoaded(function () {
    try {
        <?php if ($_product->getTypeId()=='configurable'): ?>
        unirgyProductVendors<?php echo $_product->getId()?>.superAttributesChanged(spConfig);
        <?php else: ?>
        unirgyProductVendors<?php echo $_product->getId()?>.setProductId();
        <?php endif ?>
    } catch (e) {
    }
});
//]]>
</script>

<style type="text/css">
    #product-vendors-states li {float: left; padding-right: 10px}
    #product-vendors-states:after{display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
</style>
